@font-face {
    font-family: "Segoe ui";
    src: url(../fonts/segoeui/segoeui.ttf);
}

@font-face {
    font-family: "Segoe UI Semibold";
    src:url(../fonts/segoeui/seguisb.ttf);
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/source-sans-pro/sourcesanspro-regular.otf);
}

@font-face {
    font-family:"Hanuman";
    src:url(../fonts/hanuman/hanuman.woff);
}

@font-regular-kh: "Hanuman";
@font-bold-kh   : "Hanuman";
@font-regular-en: "Source Sans Pro"; //"Segoe ui";
@font-bold-en   : "Segoe UI Semibold";

@font-regular   : @font-regular-en, @font-regular-kh;
@font-bold      : @font-bold-en, @font-bold-kh;