@font-face {
  font-family: "Segoe ui";
  src: url(../fonts/segoeui/segoeui.ttf);
}
@font-face {
  font-family: "Segoe UI Semibold";
  src: url(../fonts/segoeui/seguisb.ttf);
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/sourcesanspro-regular.otf);
}
@font-face {
  font-family: "Hanuman";
  src: url(../fonts/hanuman/hanuman.woff);
}
