﻿@import '_fonts';

.login-form {
    background: url(../images/bg-login.jpg) no-repeat;
    background-size: cover;

    hr {
        display: none !important;
    }
    .login-content {
        background: white;
        border-radius: 5px;
        top:50%;
        left: 50%;
        position: absolute;
        width: 400px;
        height: initial;
        transform: translate3d(-50%,-50%, 0);
        /*box-shadow: 0 1px 0 rgba(0,0,0,0.07);*/

        .error-section {
            padding: 10px 50px;
            margin: 10px 10px;

            span {
                color: red;
            }
        }
        
        .login-header {
            text-align: center;
            padding-top: 20px;
            span {
                font-family: @font-bold !important;
                font-size: 22px;
            }
        }
        .login-section {
            padding: 20px;
            margin-top: -40px;

            .btn {
                padding: 10px;
                width: 322px;
                margin: 0 21px 0 0;
            }
            
            .textbox-wrap {
                padding:10px;

                .input-group {

                    i {
                        font-family: 'FontAwesome' !important;
                        font-size: 14px;
                        text-shadow: none;
                        color: #428BCA;
                    }
                    .form-group {
                        margin-bottom:0;

                        .form-control {
                            border-radius: 0 3px 3px 0;
                        }
                    }
                }
            }
        }

        .remember-section {
            padding: 20px 15px;
            float: left;
            width: 100%;
            .checkbox {
                padding-left: 3px;
                margin-top: -5px;
                margin-bottom: 30px;
            }
        }
    }
}