@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    * {
        position: initial !important;
        overflow: hidden !important;
    }
    .label {
        border: 0 !important;
    }
    a[href]:after {
        content: none !important;
    }

    .ep-wrapper {
        width: auto !important;
        height: auto !important;
        .ep-section {
            height: auto !important;
            .ep-content {
                width: auto !important;
                height: auto !important; 
                overflow: hidden !important;
                position: fixed;
                left: 0;
                right: 0;
            }
        }
    }
    .print-only {
        display: inline-block !important;
    }
    .select2-drop-mask {
        display: none !important;
    }
    .select2-drop {
        display: none !important;
    }
    .select2-with-searchbox {
        display: none !important;
    }
    .select2-drop-active {
        display: none !important;
    }
    .select2-hidden-accessible {
        display: none !important;
    }
}

