.section-report {
  width: 100%;
  align-items: center;
}
.report {
  background: #fff;
  float: left;
  box-shadow: 2px 2px 5px #888;
  padding: 10mm 11mm;
}
.report .table-bordered th,
.report .table-bordered td {
  border: 1px solid #ebeef0;
  padding: 8px;
}
.report hr {
  width: 100%;
  margin: 10px 0 10px 0;
  display: inline-block;
}
.report h1,
.report h2,
.report h3,
.report h4,
.report h5,
.report h6 {
  margin-top: 0 !important;
  font-weight: bold !important;
}
.report p {
  margin-bottom: 5px !important;
}
.report.a4 .logo-template img {
  width: 18mm;
}
.report.a4.portrait {
  width: 210mm;
  min-height: 279mm;
}
.report.a4.portrait .signature-block {
  width: 33.33%;
}
.report.a4.landscape {
  width: 279mm;
  min-height: 210mm;
}
.report.a4.landscape .signature-block {
  width: 25%;
}
.report.a5 .logo-template img {
  width: 15mm;
}
.report.a5.portrait {
  width: 148mm;
  min-height: 210mm;
}
.report.a5.portrait .signature-block {
  width: 50%;
}
.report.a5.landscape {
  width: 210mm;
  min-height: 148mm;
}
.report.a5.landscape .signature-block {
  width: 33.33%;
}
.report .report-header {
  float: left;
  width: 100%;
  margin-bottom: 35px;
}
.report .report-summary {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.report .report-body {
  float: left;
  width: 100%;
  margin-bottom: 35px;
}
.report .report-footer {
  float: left;
  width: 100%;
}
.report .report-footer > div {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.report .report-footer > div:last-child {
  margin-bottom: 0;
}
.report .report-footer .signature {
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 5px;
}
.report .report-footer .signature img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.report .report-footer .signature + hr {
  margin: 5px 0;
}
.signature-block {
  float: left;
  padding: 0 5px;
}
