﻿.section-report {
    width: 100%;
    align-items: center;
}

.report {
    background: #fff;
    float: left;
    box-shadow: 2px 2px 5px #888;
    padding: 10mm 11mm;
    .table-bordered {
        th, td {
            border: 1px solid #ebeef0;
            padding: 8px;
        }
    }
    hr {
        width: 100%;
        margin: 10px 0 10px 0;
        display: inline-block;
    }
    h1,h2,h3,h4,h5,h6 {
        margin-top: 0 !important;
        font-weight: bold !important;
    }
    p {
        margin-bottom: 5px !important;
    }
    &.a4 {
        .logo-template {
            img {
                width: 18mm;
            }
        }
        &.portrait {
            width: 210mm;
            min-height: 279mm;
            .signature-block {
                width: 33.33%;
            }
        }
        &.landscape {
            width: 279mm;
            min-height: 210mm;
            .signature-block {
                width: 25%;
            }
        }
    }
    &.a5 {
        .logo-template {
            img {
                width: 15mm;
            }
        }
        &.portrait {
            width: 148mm;
            min-height: 210mm;
            .signature-block {
                width: 50%;
            }
        }
        &.landscape {
            width: 210mm;
            min-height: 148mm;
            .signature-block {
                width: 33.33%;
            }
        }
    }
    .report-header {
        float: left;
        width: 100%;
        margin-bottom: 35px;
    }
    .report-summary {
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
    }
    .report-body {
        float: left;
        width: 100%;
        margin-bottom: 35px;
    }
    .report-footer {
        float: left;
        width: 100%;
        > div {
            display: inline-block;
            width: 100%;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .signature {
            width: 100%;
            height: 50px;
            position: relative;
            margin-top: 5px;
            img {
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                display: block;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            +hr {
                margin: 5px 0;
            }
        }
    }
}

.signature-block {
    float: left;
    padding: 0 5px;
}