
@font-face {
  font-family: "Tacteing";
  src: url(../fonts/tacteing.woff);
}
@font-face {
  font-family: "Khmer OS Muol";
  font-size: 20px;
  src: url(../fonts/khmerosmuol.woff);
}
@font-face {
  font-family: "Khmer OS Muol Light";
  font-size: 20px;
  src: url(../fonts/khmerosmuollight.woff);
}