@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/roboto/roboto-regular.woff);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/roboto/roboto-medium.woff);
}
@font-face {
  font-family: "Hanuman";
  src: url(../fonts/hanuman/hanuman.woff);
}
@font-face {
  font-family: "Tacteing";
  src: url(../fonts/tacteing.woff);
}
@font-face {
  font-family: "Khmer OS";
  src: url(../fonts/khmeros.woff);
}
@font-face {
  font-family: "Khmer OS Muol";
  src: url(../fonts/khmerosmuol.woff);
}
@font-face {
  font-family: "Khmer OS Muol Light";
  src: url(../fonts/khmerosmuollight.woff);
}
@font-face {
  font-family: "Khmer OS Siemreap";
  src: url(../fonts/khmerOSsiemreap.woff);
}
@font-face {
  font-family: "Wingdings";
  src: url(../fonts/wingdings/wingdings.ttf);
}