﻿
/*Loading*/
.loading-container{
    display:none;
    position:fixed;
    width:100%;
    height:100vh;
    z-index:55554;
    background-color:rgba(0,0,0,0.2);
}
#ajaxCall { 
    color: #000; 
    background: transparent;
    border-radius: 25px; 
    top: 50%; 
    right: 50%; 
    position: fixed; 
    width: 51px;   
    height: 50px; 
    z-index: 55555;
    text-align: center;
}
#ajaxCall i {
    font-size: 50px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}