﻿html, body {
    height: 100%;
    user-select: none;
}

.login-form {
    background: url(../images/bg.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}
.textbox-wrap .input-group {
    margin-bottom: 15px;
}
.textbox-wrap .input-group .form-group {
    margin-bottom: 0;
}
.textbox-wrap .input-group .form-group .form-control {
    border-radius: 0 3px 3px 0;
}

.panel-body .btn {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 0;
}
.checkbox {
    padding: 0;
}





.login-form hr {
  display: none !important;
}
.login-form .login-content {
  background: white;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 400px;
  height: initial;
  transform: translate3d(-50%, -50%, 0);
  /*box-shadow: 0 1px 0 rgba(0,0,0,0.07);*/
}
.login-form .login-content .error-section {
  padding: 10px 50px;
  margin: 10px 10px;
}
.login-form .login-content .error-section span {
  color: red;
}
.login-form .login-content .login-header {
  text-align: center;
  padding-top: 20px;
}
.login-form .login-content .login-header span {
  font-family: "Segoe UI Semibold", "Hanuman" !important;
  font-size: 22px;
}
.login-form .login-content .login-section {
  padding: 20px;
  margin-top: -40px;
}
.login-form .login-content .login-section .btn {
  padding: 10px;
  width: 322px;
  margin: 0 21px 0 0;
}
.login-form .login-content .login-section .textbox-wrap {
  padding: 10px;
}
.login-form .login-content .login-section .textbox-wrap .input-group i {
  font-family: 'FontAwesome' !important;
  font-size: 14px;
  text-shadow: none;
  color: #428BCA;
}
.login-form .login-content .login-section .textbox-wrap .input-group .form-group {
  margin-bottom: 0;
}
.login-form .login-content .login-section .textbox-wrap .input-group .form-group .form-control {
  border-radius: 0 3px 3px 0;
}
.login-form .login-content .remember-section {
  padding: 20px 15px;
  float: left;
  width: 100%;
}
.login-form .login-content .remember-section .checkbox {
  padding-left: 3px;
  margin-top: -5px;
  margin-bottom: 30px;
}