﻿@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/sourcesanspro-regular.otf);
}
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

body {
    background: #dfe1ed;
}

* {
    outline: none !important;
}

*:not(.fa):not(.glyphicon) {
    font-family: "Source Sans Pro", "Hanuman";
}

h1, h2, h3, h4, h5, h6, strong, b, th, .panel-heading,
h1 span:not(.glyphicon), h2 span:not(.glyphicon), h3 span:not(.glyphicon),
h4 span:not(.glyphicon), h5 span:not(.glyphicon), h6 span:not(.glyphicon) {
    font-family: "Source Sans Pro Bold" !important;
}

label {
    font-weight: normal;
}

.navbar {
    border-radius: 0;
} 
.panel-body{
    padding:0;
}

.summary{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.summary .table thead{
    background-color: #328fd2;
    color: #fff;
}
.summary .table .table-content-header{
    font-weight: bold !important;
}
.summary .table .table-content-body{
    color: #adabab;
}
.summary .table .table-content-footer{
    font-weight: bold !important;
}

.nav-tabs li img {
    height: 30px;
}
.nav-tabs li a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-tabs{
    padding-left: 56px;
}
.nav-tabs-text-left{
    position: absolute;
    top: 12px;
    left: 5px;
    font-weight: bold;
}

.tab-content .control-label {
    text-align: left;
}
.tab-pane .form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
}
@media only screen and (min-width : 991px) {
    .nav-tabs{
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #000;
        border-top-left-radius:4px;
        border-top-right-radius:4px;
    }
    .tab-pane{
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
@media only screen and (max-width : 991px) {
    .nav-tabs{
        margin-top: 15px;
    }
    .nav-tabs-text-left{
        left: 0;
    }
}

/*Radio filed stop image*/
.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
}

.visa {
    background-image: url(/static/images/visa.png);
}

.mastercard {
    background-image: url(/static/images/mastercard.png);
}

.ATM{
    background-image: url(/static/images/ACLEDAATM.png);
}

.Bank_Account{
    background-image: url(/static/images/ACLEDABankAccount.png);
}

.Internet_Bank{
    background-image: url(/static/images/ACLEDAInternetBank.png);
}

.Unity{
    background-image: url(/static/images/ACLEDAUnity.png);
}

.cc-selector input:active + .drinkcard-cc {
    opacity: .9;
}

.cc-selector input:checked + .drinkcard-cc span {
    /*-webkit-filter: none;
    -moz-filter: none;
    filter: none;*/
    border-bottom:2px solid blue;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 90px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    /*-moz-filter: opacity(30%);
    -webkit-filter: opacity(30%);
    filter: opacity(30%);*/
    margin-right:5px;
    margin-bottom:20px;
}

    .drinkcard-cc:hover {
        /*-moz-filter: opacity(100%);
        -webkit-filter: opacity(100%);
        filter: opacity(100%);*/
    }
    .drinkcard-cc>span{
        display: block;
        padding-top:58px;
        text-align:center;
        font-weight:normal;
    }

/* Extras */
a:visited {
    /*color: #888;*/
}

a {
    color: #444;
    text-decoration: none;
}

p {
    margin-bottom: .3em;
}

.table th {
    border-bottom: 1px solid rgba(255,255,255,.1) !important;
}
.table td {
    border-top: 1px solid rgba(255,255,255,.1) !important;
}
.table th,
.table td {
    padding: 8px 15px !important;
}
.table tbody tr:hover {
    background: rgba(255,255,255,.1) !important;
}

/* loading */
.loader {
  margin: 0 auto;
  position: relative;
  top: 16px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #00A0DF;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end loading */

/* form control */
.form-control {
    box-shadow: none !important;
}
/* end form control */