﻿@font-face {
  font-family: "regular-font-en";
  src: url(../fonts/source-sans-pro/sourcesanspro-regular.otf);
}
@font-face {
  font-family: "semibold-font-en";
  src: url(../fonts/source-sans-pro/sourcesanspro-semibold.otf);
}
@font-face {
  font-family: "regular-font-km";
  src: url(../fonts/hanuman/hanuman.woff);
}
@font-face {
  font-family: "bold-font-km";
  src: url(../fonts/hanuman/hanumanb.woff);
}

*{
    font-family:"regular-font-km";
}

.section-report {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.section-report .report {
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
    margin: auto;
}

.report hr {
    width: 100%;
    margin: 10px 0 10px 0;
    display: inline-block;
}

.report h1,
.report h2,
.report h3,
.report h4,
.report h5,
.report h6 {
    margin-top: 0 !important;
    font-weight: normal !important;
}

.report p {
    margin-bottom: 5px !important;
}

.report.a4 .logo-template img {
    width: 18mm;
}

.report.a4, .report.a5 {
    padding: 1cm;
}

.report.a4.portrait {
    width: 210mm;
    min-height: 279mm;
}

.report.a4.portrait .signature-block {
    width: 33.33%;
}

.report.a4.landscape {
    width: 279mm;
    min-height: 210mm;
}

.report.a4.landscape .signature-block {
    width: 25%;
}

.report.a5 .logo-template img {
    width: 15mm;
}

.report.a5.portrait {
    width: 148mm;
    min-height: 210mm;
}

.report.a5.portrait .signature-block {
    width: 50%;
}

.report.a5.landscape {
    width: 210mm;
    min-height: 148mm;
}

.report .report-header {
    float: left;
    width: 100%;
}

.report .report-body {
    float: left;
    width: 100%;
}

.report .report-footer {
    float: left;
    width: 100%;
}

.report .report-footer > div {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.report-header .company-info {
    width: 100%;
    float: left;
}

.report-header .img {
    width: 21%;
    float: left;
}

.report-header .img img {
    max-height: 60px;
    margin-bottom: 10px;

}

.report-header .address {
    text-align: center;
}
.report-header .address span.title{
    font-weight: bold;
    font-size:18px;
}

.report-header .bill-info {
    clear: both;
    width: 35%;
    float: left;
}

.report-header .report-info {
    width: 35%;
    float: right;
}

.report-info p, .bill-info p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 13px;
}

.report-info p span, .bill-info p span {
    clear: both;
    float: right;
    font-family: 'regular-font-en' !important;
}

.header-title {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.header-title span {
    font-weight: bold;
    font-size: 16px;
}

table {
    width: 100%;
}

thead tr, tbody tr, tfoot tr {
    font-size: 12px;
    height: 30px;

}

@media print {
    #report .a5 {
        width: 100% !important;
        padding: 0 !important;
        min-height: 100% !important;
    }

    body, html {
        margin-top: 0px !important;
        padding-top: 0px !important;
        height: 100%;
    }

    table tr th:last-child, table tbody tr td:last-child {
        border-right: 2px solid #c0c0c0;


}

}


