@font-face {
  font-family: "Segoe ui";
  src: url(../fonts/segoeui/segoeui.ttf);
}
@font-face {
  font-family: "Segoe UI Semibold";
  src: url(../fonts/segoeui/seguisb.ttf);
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/source-sans-pro/sourcesanspro-regular.otf);
}
@font-face {
  font-family: "Hanuman";
  src: url(../fonts/hanuman/hanuman.woff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal !important;
  font-family: "Source Sans Pro", "Hanuman" !important;
}
body {
  overflow: hidden;
}
.fa {
  font-family: "FontAwesome" !important;
}
.glyphicon {
  font-family: "Glyphicons Halflings" !important;
}
.currency {
  text-align: right;
}
.decimal {
  text-align: right;
}
.qty {
  text-align: center;
}
.ep-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.ep-navbar-icon {
  position: absolute !important;
  width: 70px;
  height: 57px;
  padding: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
}
.ep-navbar {
  width: 240px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #31373D;
  z-index: 9999;
}
.ep-navbar .ep-navbar--primary {
  width: 100%;
  height: 100%;
  transition: background-color 100ms ease;
  transition: 0.5s;
}
.ep-navbar .ep-navbar--primary ul li {
  height: 36px;
  display: block;
}
.ep-navbar .ep-navbar--primary ul li.divider {
  height: 1px;
  margin: 0;
}
.ep-navbar .ep-navbar--primary ul li ul li a:hover i {
  color: #798C9C;
}
.ep-navbar .ep-navbar--primary ul li ul li a i {
  font-size: 14px;
  padding: 3px 0;
}
.ep-navbar .ep-navbar--primary ul li ul li a img {
  height: 10px;
  margin: 5px 0;
}
.ep-navbar .ep-navbar--primary ul li a {
  padding: 8.5px 10px 8.5px 20px;
  height: 100%;
  display: flex;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
.ep-navbar .ep-navbar--primary ul li a[data-submenu]:not([data-submenu=""])::after {
  content: "\f054";
  font-family: FontAwesome;
  color: #798C9C;
  align-self: center;
  font-size: 10px;
}
.ep-navbar .ep-navbar--primary ul li a i {
  width: 19px;
  height: 19px;
  color: #798C9C;
  font-family: 'FontAwesome' !important;
  font-size: 19px;
}
.ep-navbar .ep-navbar--primary ul li a span {
  margin-left: 12px;
  color: #D3DBE2;
  flex-grow: 1;
}
.ep-navbar .ep-navbar--primary ul li a:hover i,
.ep-navbar .ep-navbar--primary ul li a.active i,
.ep-navbar .ep-navbar--primary ul li a:hover span,
.ep-navbar .ep-navbar--primary ul li a.active span,
.ep-navbar .ep-navbar--primary ul li a:hover[data-submenu]::after,
.ep-navbar .ep-navbar--primary ul li a.active[data-submenu]::after {
  color: #FFF;
}
.ep-navbar .ep-navbar--primary.ep-navbar--primary-collapse {
  width: 56px;
  background-color: #212529;
}
.ep-navbar .ep-navbar--primary.ep-navbar--primary-collapse ul li a[data-submenu]:not([data-submenu=""])::after {
  content: "";
}
.ep-navbar .ep-navbar--primary.ep-navbar--primary-collapse ul li a span,
.ep-navbar .ep-navbar--primary.ep-navbar--primary-collapse .ep-navbar-header-title {
  display: none;
}
.ep-navbar .ep-navbar--primary.ep-navbar--primary-collapse .ep-navbar-body {
  width: 56px;
}
.ep-navbar .ep-navbar--primary.ep-navbar--primary-collapse + .ep-navbar--secondary {
  display: initial;
}
.ep-navbar .ep-navbar--secondary {
  width: 184px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 56px;
  display: none;
}
.ep-navbar .ep-navbar--secondary ul li {
  height: 36px;
  display: block;
}
.ep-navbar .ep-navbar--secondary ul li a {
  padding: 8.5px 10px 8.5px 20px;
  height: 100%;
  display: flex;
  line-height: normal;
  color: #D3DBE2;
}
.ep-navbar .ep-navbar--secondary ul li a:hover,
.ep-navbar .ep-navbar--secondary ul li a.active {
  color: #FFF !important;
  text-decoration: none;
}
.ep-navbar .ep-navbar--secondary ul li a.active {
  background-color: #454E57;
}
.ep-navbar .ep-navbar--secondary ul li a:active {
  color: #FFF !important;
}
.ep-navbar .ep-navbar--secondary .ep-navbar-body {
  width: 184px !important;
}
.ep-navbar .ep-navbar-header {
  width: 100%;
  height: 57px;
  border-bottom: 1px solid #212529;
}
.ep-navbar .ep-navbar-header .ep-navbar-header-logo {
  width: 56px;
  height: 56px;
  float: left;
  background-size: contain;
  padding: 10px;
}
.ep-navbar .ep-navbar-header .ep-navbar-header-title {
  width: 184px;
  height: 100%;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  line-height: 57px;
  padding-left: 20px;
}
.ep-navbar .ep-navbar-body {
  width: 240px;
  position: absolute;
  top: 57px;
  bottom: 75px;
}
.ep-navbar .ep-navbar-footer {
  position: absolute;
  bottom: 0;
  width: 240px;
  height: 75px;
  border-top: 1px solid #212529;
}
.ep-navbar .ep-navbar-footer ul {
  margin-bottom: 0;
}
.ep-section {
  height: 100vh;
  background-color: #EBEEF0;
  flex-grow: 1;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.ep-section .dropdown-menu {
  right: 0;
  left: inherit;
}
.ep-section .dropdown-menu li a i {
  font-family: 'FontAwesome' !important;
  margin-right: 10px;
  color: #337ab7;
}
.ep-content {
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
}
@media (max-width: 767px) {
  .ep-content {
    padding-left: 0;
    padding-right: 0;
  }
}
.ep-tabs-panel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-fixed-top {
  padding: 11px 15px;
  left: 240px;
  position: initial;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-fixed-top {
    left: 0;
    padding-left: 70px;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    left: 0;
    padding-left: 70px;
  }
}
.navbar-toggle.pull-left {
  padding: 8px !important;
  margin-left: 15px !important;
}
.btn {
  margin-bottom: 3px;
}
.tab-content {
  background-color: #fff;
  padding: 20px;
}
.bold {
  font-weight: bold;
}
.form-control {
  font-size: 14px;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
label {
  vertical-align: middle !important;
}
input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
}
.padding-zero {
  padding: 0 !important;
}
.nav-tabs {
  background: #f5f6f7;
}
.table-responsive {
  background-color: white;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0 !important;
  }
}
.table-bordered {
  border: 0;
}
.table-bordered thead tr .selecting-checkbox {
  width: 40px;
  padding-left: 15px;
}
.table-bordered thead tr th {
  border: 0;
  border-bottom: 1px solid #ebeef0;
  padding: 12px 5px;
}
.table-bordered tbody tr .selecting-checkbox {
  width: 40px;
  padding-left: 15px;
}
.table-bordered tbody tr .ep-checkbox .cr {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}
.table-bordered tbody tr td {
  border: 0;
  padding: 7px 5px;
  vertical-align: middle;
}
.table-bordered tbody tr td a {
  height: 25px;
  line-height: 15px;
}
.table-bordered tbody tr td .action {
  font-family: 'FontAwesome' !important;
  text-shadow: none;
  color: #428BCA;
}
.ep-navbar-footer .dropdown-menu {
  left: 20px;
}
.ep-navbar-footer .dropdown-menu:after {
  font-family: 'FontAwesome' !important;
  font-size: 20px;
  position: absolute;
  bottom: -16px;
  left: 44%;
  display: inline-block;
  content: '\f0d7';
  color: white;
}
td .checkbox {
  margin: 0 !important;
}
td input {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.photo {
  width: 10vw;
  height: 10vw;
  float: left;
  margin-right: 12px;
  margin-top: 12px;
  border: 1px solid #ddd;
  padding: 2px;
  line-height: 9.5vw;
  overflow: hidden;
}
.photo img {
  width: 100%;
}
hr {
  border-color: #d3dbe2 !important;
}
.panel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.input-validation-error {
  border-color: red !important;
}
.field-validation-error span {
  color: red;
  margin-top: 4px;
  display: inline-block;
  width: 100%;
}
.breadcrumb {
  margin-bottom: 0 !important;
  padding-left: 5px;
}
.breadcrumb li:first-child a::before {
  content: "\f0e4";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #337ab7;
  padding-right: 7px;
}
.breadcrumb li {
  text-transform: capitalize;
}
.panel-heading {
  padding: 20px 0 10px 20px;
  font-family: "Segoe UI Semibold", "Hanuman" !important;
}
.panel-heading i {
  font-family: 'FontAwesome' !important;
  font-size: 13px;
  color: #E91E63;
  padding-right: 8px;
}
.panel-body {
  padding: 10px 5px 10px 5px;
}
.panel-default .panel-heading {
  background-color: #ffffff;
  border-color: #ffffff;
}
.middle {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}
.form-remove .panel-primary {
  border-color: transparent;
}
.form-remove .panel {
  border: 0;
}
.form-remove h3 {
  padding-left: 17px;
  margin: 0 0 -7px 0;
}
.back-login {
  margin: 10px 17px;
}
.back-login a i {
  color: #FFF;
  font-size: 40px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .back-login {
    margin: 10px 5px;
  }
}
@media (max-width: 767px) {
  .back-login {
    margin: 10px 5px;
  }
}
.modal {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .panel {
  box-shadow: none;
  margin-bottom: 0 !important;
  margin-top: -14px;
}
.modal-backdrop {
  z-index: -1;
}
.tokenfield {
  padding: 6px 7px;
  padding-bottom: 0 !important;
}
.tokenfield .token {
  background-color: #5bc0de !important;
  color: #FFF;
  border: 0 !important;
}
.tokenfield .token a {
  color: #FFF;
  opacity: 1;
  line-height: 18px !important;
}
.tokenfield .token .token-label {
  padding-left: 7px !important;
}
.tokenfield .token .close {
  padding-right: 7px !important;
  text-shadow: 0 0 0 #fff;
}
#variant-area .select2-container .select2-search--inline .select2-search__field {
  margin-top: -3px !important;
}
#variant-area .select2-container--default .select2-selection--multiple {
  height: 36px !important;
  border-radius: 3px !important;
  height: auto !important;
}
#variant-area .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin: 3px 3px -2px 3px;
}
#variant-area .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  height: 28px !important;
  font-size: 15px;
  line-height: 26px;
}
#variant-area .select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 0 2px 0px 0;
}
#variant-area #section-1 .select2-selection__choice {
  background-color: #29bc94 !important;
}
#variant-area #section-2 .select2-selection__choice {
  background-color: #0078bd !important;
}
#variant-area #section-3 .select2-selection__choice {
  background-color: #ff9517 !important;
}
.variant-table-section {
  display: none;
}
.variant-table-section .variant-table {
  margin-top: 20px;
}
.variant-table-section table {
  width: 100%;
}
.variant-table-section table tbody tr {
  border-bottom: 1px solid #ebeef0;
}
.variant-table-section table tbody tr th {
  padding-right: 10px;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .variant-table-section table tbody tr th {
    padding-right: 2px;
  }
}
.variant-table-section table tbody tr td {
  padding: 5px 5px 5px 0;
}
@media (max-width: 767px) {
  .variant-table-section table tbody tr td {
    padding-right: 2px;
  }
}
.variant-table-section table tbody tr td span {
  display: inline-block;
  margin-bottom: 4px;
}
.variant-table-section table tbody tr td p {
  margin: 0;
}
.variant-table-section table tbody tr td p:not(:nth-child(2)) {
  display: inline;
  padding: 0 5px;
}
.variant-table-section table tbody tr td p:not(:nth-child(2)):before {
  content: "\f111";
  font-family: "FontAwesome" !important;
  font-size: 4px;
  color: #707070;
}
.variant-table-section table tbody tr td .checkbox {
  padding-right: 10px;
  margin-top: 0;
}
.variant-table-edit table thead tr th {
  border: 0;
  font-family: "Segoe UI Semibold", "Hanuman" !important;
}
.variant-table-edit table tbody tr td {
  vertical-align: middle;
  border-top: 1px solid #ebeef0 !important;
}
.variant-table-edit table tbody tr td a span {
  font-family: Glyphicons Halflings !important;
}
.variant-edit .product_base_detail span {
  display: block;
  padding-bottom: 3px;
  font-family: "Segoe UI Semibold", "Hanuman" !important;
}
.avatar {
  width: 75px;
  height: 75px;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  padding: 3px;
}
.avatar ~ .btn {
  margin-left: 15px;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.variant-area {
  display: flex;
}
.variant-label {
  display: flex;
  margin-bottom: 10px;
}
.remove-variant {
  padding-left: 10px;
}
.remove-variant i {
  font-family: Glyphicons Halflings !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .remove-variant {
    padding-left: 5px;
  }
}
@media (max-width: 767px) {
  .remove-variant {
    padding-left: 5px;
  }
}
.btn-default:hover {
  background-color: #f5f6f7 !important;
}
.loader {
  margin: 0 auto;
  position: relative;
  top: 16px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #00A0DF;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
ul.stepper {
  list-style-type: none;
  display: inline-block;
}
ul.stepper li {
  float: left;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100%;
}
ul.stepper li + li {
  margin-left: 8px;
}
ul.stepper li.active {
  background-color: #fff;
}
.checkbox-control {
  margin-top: -25px;
}
.checkbox {
  margin-top: 7px;
  margin-bottom: 0;
}
.checkbox i {
  font-family: 'Glyphicons Halflings' !important;
  color: #0078bd;
}
.checkbox label {
  padding-left: 0;
  display: -webkit-box;
  display: -moz-box;
}
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}
.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #d3dbe2;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
  background: #fff;
}
.radio .cr {
  border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}
.radio .cr .cr-icon {
  margin-left: 0.04em;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all 0.3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}
.image-gallery .dummy {
  margin-top: 110.63%;
}
.image-gallery .thumbnail {
  background: #fafbfc;
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 15px;
  right: 15px;
  text-align: center;
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  padding: 0;
  border: 0;
}
.image-gallery .thumbnail::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(195, 207, 216, 0.3);
}
.image-gallery .thumbnail .image {
  width: 100%;
  height: 100%;
  position: relative;
}
.image-gallery .thumbnail .image img {
  /*position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;*/
  /*max-width: 100%;
        max-height: 100%;*/
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.image-gallery .thumbnail .image .image-modal {
  background: #000;
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  opacity: 0.5;
  z-index: 1;
  cursor: pointer;
}
.image-gallery .thumbnail .image .image-modal a {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
}
.image-gallery .thumbnail:hover .image-modal {
  display: block !important;
}
.select2-selection--single {
  border: 1px solid #d3dbe2 !important;
  height: 34px !important;
  border-radius: 3px !important;
  outline: none !important;
}
th .select2,
td .select2 {
  width: 100% !important;
}
.progress {
  box-shadow: inset 0px 0px 0px 1px rgba(49, 55, 61, 0.1) !important;
}
.well {
  width: 100%;
}
.well .bold {
  padding: 5px;
}
.well .bold .header-text {
  margin: 0 0 15px !important;
  text-transform: capitalize;
}
.print-only {
  display: none;
}
.table {
  margin: 0;
}
.table thead thead tr.bg-primary {
  background: #0078bd !important;
}
.table thead thead tr.bg-primary th {
  color: #fff !important;
}
.dataTables_filter .select2-container .select2-selection--single {
  width: 180px;
}
.dataTables_filter .form-group {
  margin-bottom: 0;
  line-height: initial;
}
.control-filter {
  display: inline-block;
}
/*report*/
.section-report {
  display: flex;
  flex-direction: column;
}
.section-report .section-report-filter {
  background: #f5f6f7;
  height: 46px;
  /*margin: -20px -20px 0 -20px;*/
  overflow: hidden;
  width: 100%;
}
@media (max-width: 767px) {
  .section-report .section-report-filter {
    margin: -21px 0 0 0;
  }
}
.section-report .section-report-filter .more-control-filter:before {
  content: "\f103";
  font-family: FontAwesome;
  font-size: 24px;
}
.section-report .section-report-filter .dataTables_filter {
  padding: 7px 0 2px 0;
  margin-left: -8px;
  display: inline-block;
  flex-grow: 1;
}
.section-report .section-report-filter a {
  margin: 6px 0;
}
.section-report .section-report-filter a:hover {
  cursor: pointer;
}
.section-report .section-report-result {
  width: 100%;
}
.section-report-filter-expand {
  height: auto !important;
}
.section-report-filter-expand .more-control-filter:before {
  content: "\f102" !important;
  font-family: FontAwesome;
  font-size: 24px;
}
.group-report .panel-group .panel .panel-heading {
  padding-top: 10px;
}
.group-report .panel-group .panel .panel-body {
  margin-bottom: 15px;
}
.group-report .panel-group .panel .panel-body hr {
  margin: 10px 0;
  border-color: #ebeef0 !important;
}
.templates .panel {
  border: 0;
}
.templates .panel .panel-body {
  background: #EBEEF0;
}
.templates .panel .panel-body img {
  width: 150px;
}
.templates .panel .panel-body a {
  padding: 10px 50px;
  margin: 10px 0;
}
.report-template .panel-group .panel .panel-body .title-detail .left {
  text-align: left;
  float: left;
  font-weight: bold !important;
}
.report-template .panel-group .panel .panel-body .title-detail .right {
  text-align: right;
  float: right;
}
.report-template .panel-group .panel .panel-body .report-detail {
  display: inline-block;
  margin-top: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .report-template .panel-group .panel .panel-body .report-detail {
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .report-template .panel-group .panel .panel-body .report-detail {
    display: inline-block;
    width: 100%;
  }
}
.report-template .panel-group .panel .panel-body .report-signature {
  display: inline-flex;
  margin-top: 40px;
}
.report-template .panel-group .panel .panel-body .report-signature img {
  width: 130px;
  height: 50px;
  margin-top: 10px;
}
.report-template .panel-group .panel .panel-body .report-signature hr {
  margin: 10px 0;
}
.report-template .panel-group .panel .panel-body .report-signature .signature-name {
  float: right;
}
.report-template .panel-group .panel .panel-body table thead tr th {
  border: 1px solid #ebeef0;
}
.report-template .panel-group .panel .panel-body table tbody tr td {
  border: 1px solid #ebeef0;
}
.report-template .panel-group .panel .panel-body table tfoot tr th {
  border: 1px solid #ebeef0;
}
.report-template .panel-group .panel .panel-body table tfoot tr .no-border {
  border: 0;
  text-align: right;
  font-weight: bold !important;
}
.report-template .template h4 {
  font-weight: bold !important;
}
.report-template .template .logo-template {
  margin-right: 20px;
}
.report-template .template .logo-template h4 {
  text-align: center;
  font-weight: bold !important;
}
.report-template .template .logo-template img {
  width: 100px;
  margin-top: 15px;
}
.generate_token {
  position: absolute;
  top: 35px;
  right: 25px;
}
.notice {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}
.notice-sm {
  padding: 10px;
  font-size: 80%;
}
.notice-lg {
  padding: 35px;
  font-size: large;
}
.notice-success {
  border-color: #80D651;
}
.notice-success > strong {
  color: #80D651;
}
.notice-info {
  border-color: #45ABCD;
}
.notice-info > strong {
  color: #45ABCD;
}
.notice-warning {
  border-color: #FEAF20;
}
.notice-warning > strong {
  color: #FEAF20;
}
.notice-danger {
  border-color: #d73814;
}
.notice-danger > strong {
  color: #d73814;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  * {
    position: initial !important;
    overflow: hidden !important;
  }
  .label {
    border: 0 !important;
  }
  a[href]:after {
    content: none !important;
  }
  .ep-wrapper {
    width: auto !important;
    height: auto !important;
  }
  .ep-wrapper .ep-section {
    height: auto !important;
  }
  .ep-wrapper .ep-section .ep-content {
    width: auto !important;
    height: auto !important;
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
  }
  .print-only {
    display: inline-block !important;
  }
  .select2-drop-mask {
    display: none !important;
  }
  .select2-drop {
    display: none !important;
  }
  .select2-with-searchbox {
    display: none !important;
  }
  .select2-drop-active {
    display: none !important;
  }
  .select2-hidden-accessible {
    display: none !important;
  }
}
.login-form {
  background: url(../images/bg-login.jpg) no-repeat;
  background-size: cover;
}
.login-form hr {
  display: none !important;
}
.login-form .login-content {
  background: white;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 400px;
  height: initial;
  transform: translate3d(-50%, -50%, 0);
  /*box-shadow: 0 1px 0 rgba(0,0,0,0.07);*/
}
.login-form .login-content .error-section {
  padding: 10px 50px;
  margin: 10px 10px;
}
.login-form .login-content .error-section span {
  color: red;
}
.login-form .login-content .login-header {
  text-align: center;
  padding-top: 20px;
}
.login-form .login-content .login-header span {
  font-family: "Segoe UI Semibold", "Hanuman" !important;
  font-size: 22px;
}
.login-form .login-content .login-section {
  padding: 20px;
  margin-top: -40px;
}
.login-form .login-content .login-section .btn {
  padding: 10px;
  width: 322px;
  margin: 0 21px 0 0;
}
.login-form .login-content .login-section .textbox-wrap {
  padding: 10px;
}
.login-form .login-content .login-section .textbox-wrap .input-group i {
  font-family: 'FontAwesome' !important;
  font-size: 14px;
  text-shadow: none;
  color: #428BCA;
}
.login-form .login-content .login-section .textbox-wrap .input-group .form-group {
  margin-bottom: 0;
}
.login-form .login-content .login-section .textbox-wrap .input-group .form-group .form-control {
  border-radius: 0 3px 3px 0;
}
.login-form .login-content .remember-section {
  padding: 20px 15px;
  float: left;
  width: 100%;
}
.login-form .login-content .remember-section .checkbox {
  padding-left: 3px;
  margin-top: -5px;
  margin-bottom: 30px;
}
.section-report {
  width: 100%;
  align-items: center;
}
.report {
  background: #fff;
  float: left;
  box-shadow: 2px 2px 5px #888;
  padding: 10mm 11mm;
}
.report .table-bordered th,
.report .table-bordered td {
  border: 1px solid #ebeef0;
  padding: 8px;
}
.report hr {
  width: 100%;
  margin: 10px 0 10px 0;
  display: inline-block;
}
.report h1,
.report h2,
.report h3,
.report h4,
.report h5,
.report h6 {
  margin-top: 0 !important;
  font-weight: bold !important;
}
.report p {
  margin-bottom: 5px !important;
}
.report.a4 .logo-template img {
  width: 18mm;
}
.report.a4.portrait {
  width: 210mm;
  min-height: 279mm;
}
.report.a4.portrait .signature-block {
  width: 33.33%;
}
.report.a4.landscape {
  width: 279mm;
  min-height: 210mm;
}
.report.a4.landscape .signature-block {
  width: 25%;
}
.report.a5 .logo-template img {
  width: 15mm;
}
.report.a5.portrait {
  width: 148mm;
  min-height: 210mm;
}
.report.a5.portrait .signature-block {
  width: 50%;
}
.report.a5.landscape {
  width: 210mm;
  min-height: 148mm;
}
.report.a5.landscape .signature-block {
  width: 33.33%;
}
.report .report-header {
  float: left;
  width: 100%;
  margin-bottom: 35px;
}
.report .report-summary {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.report .report-body {
  float: left;
  width: 100%;
  margin-bottom: 35px;
}
.report .report-footer {
  float: left;
  width: 100%;
}
.report .report-footer > div {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.report .report-footer > div:last-child {
  margin-bottom: 0;
}
.report .report-footer .signature {
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 5px;
}
.report .report-footer .signature img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.report .report-footer .signature + hr {
  margin: 5px 0;
}
.signature-block {
  float: left;
  padding: 0 5px;
}
