﻿@import "_variables";
@import "_fonts";
@import "_colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal !important;
  font-family: @font-regular !important;
}

body {
  overflow: hidden;
}

.fa {
  font-family: "FontAwesome" !important;
}

.glyphicon {
  font-family: "Glyphicons Halflings" !important;
}

.currency {
  text-align: right;
}

.decimal {
  text-align: right;
}

.qty {
  text-align: center;
}


.ep-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.ep-navbar-icon {
  position: absolute !important;
  width: 70px;
  height: @navbar-header-height;
  padding: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
}

.ep-navbar {
  width: @navbar-width;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: @navbar-bg-color;
  z-index: 9999;
  .ep-navbar--primary {
    width: 100%;
    height: 100%;
    transition: background-color 100ms ease;
    transition: 0.5s;
    ul {
      li {
        height: 36px;
        display: block;
        &.divider {
          height: 1px;
          margin: 0;
        }
        ul {
          li {
            a {
              &:hover {
                i {
                  color: #798C9C;
                }
              }
              i {
                font-size: 14px;
                padding: 3px 0;
              }
              img {
                height: 10px;
                margin: 5px 0;
              }
            }
          }
        }
        a {
          padding: 8.5px 10px 8.5px 20px;
          height: 100%;
          display: flex;
          line-height: normal;
          text-decoration: none;
          cursor: pointer;
          &[data-submenu]:not([data-submenu=""])::after {
            content: "\f054";
            font-family: FontAwesome;
            color: #798C9C;
            align-self: center;
            font-size: 10px;
          }
          i {
            width: 19px;
            height: 19px;
            color: #798C9C;
            font-family: 'FontAwesome' !important;
            font-size: 19px;
          }
          span {
            margin-left: 12px;
            color: #D3DBE2;
            flex-grow: 1;
          }
          &:hover,
          &.active {
            i, span, &[data-submenu]::after {
              color: #FFF;
            }
          }
        }
      }
    }
    &.ep-navbar--primary-collapse {
      width: 56px;
      background-color: #212529;
      ul li a[data-submenu]:not([data-submenu=""])::after {
        content: "";
      }
      ul li a span,
      .ep-navbar-header-title {
        display: none;
      }
      .ep-navbar-body {
        width: 56px;
      }
      + .ep-navbar--secondary {
        display: initial;
      }
    }
  }
  .ep-navbar--secondary {
    width: 184px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 56px;
    display: none;
    ul {
      li {
        height: 36px;
        display: block;
        a {
          padding: 8.5px 10px 8.5px 20px;
          height: 100%;
          display: flex;
          line-height: normal;
          color: #D3DBE2;
          &:hover,
          &.active {
            color: #FFF !important;
            text-decoration: none;
          }
          &.active {
            background-color: #454E57;
          }
          &:active {
            color: #FFF !important;
          }
        }
      }
    }
    .ep-navbar-body {
      width: 184px !important;
    }
  }
  .ep-navbar-header {
    width: 100%;
    height: @navbar-header-height;
    border-bottom: 1px solid #212529;
    .ep-navbar-header-logo {
      width: 56px;
      height: 56px;
      float: left;
      background-size: contain;
      padding: 10px;
    }
    .ep-navbar-header-title {
      width: 184px;
      height: 100%;
      color: #FFF;
      font-size: 18px;
      font-weight: bold;
      line-height: @navbar-header-height;
      padding-left: 20px;
    }
  }
  .ep-navbar-body {
    width: @navbar-width;
    position: absolute;
    top: @navbar-header-height;
    bottom: 75px;
  }
  .ep-navbar-footer {
    position: absolute;
    bottom: 0;
    width: @navbar-width;
    height: 75px;
    border-top: 1px solid #212529;
    ul {
      margin-bottom: 0;
    }
  }
}

.ep-section {
  height: 100vh;
  background-color: @secondary-color;
  flex-grow: 1;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .dropdown-menu {
    right: 0;
    left: inherit;
    li {
      a {
        i {
          font-family: 'FontAwesome' !important;
          margin-right: 10px;
          color: #337ab7;
        }
      }
    }
  }
}

.ep-content {
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.ep-tabs-panel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-fixed-top {
  padding: 11px 15px;
  left: @navbar-width;
  position: initial;
  margin-bottom: 0;
  @media (min-width: 768px) and (max-width: 991px) {
    left: 0;
    padding-left: 70px;
  }
  @media (max-width: 767px) {
    left: 0;
    padding-left: 70px;
  }
}

.navbar-toggle.pull-left {
  padding: 8px !important;
  margin-left: 15px !important;
}

.btn {
  margin-bottom: 3px;
}

.tab-content {
  background-color: #fff;
  padding: 20px;
}

.bold {
  font-weight: bold;
}

.form-control {
  font-size: 14px;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: 0 0 0 rgba(0, 0, 0, .075) !important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

label {
  vertical-align: middle !important;
}

input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
}

.padding-zero {
  padding: 0 !important;
}

.nav-tabs {
  background: #f5f6f7;
}

.table-responsive {
  background-color: white;
  @media screen and (max-width: 767px) {
    border: 0 !important;
  }
}

.table-bordered {
  border: 0;
  thead {
    tr {
      .selecting-checkbox {
        width: 40px;
        padding-left: 15px;
      }
      th {
        border: 0;
        border-bottom: 1px solid #ebeef0;
        padding: 12px 5px;
      }
    }
  }
  tbody {
    tr {
      .selecting-checkbox {
        width: 40px;
        padding-left: 15px;
      }
      .ep-checkbox {
        .cr {
          position: absolute !important;
          left: 0 !important;
          right: 0 !important;
          margin: auto !important;
        }
      }
      td {
        border: 0;
        padding: 7px 5px;
        vertical-align: middle;
        a {
          height: 25px;
          line-height: 15px;
        }
        .action {
          font-family: 'FontAwesome' !important;
          text-shadow: none;
          color: #428BCA;
        }
      }
    }
  }
}

.ep-navbar-footer {
  .dropdown-menu {
    left: 20px;
    &:after {
      font-family: 'FontAwesome' !important;
      font-size: 20px;
      position: absolute;
      bottom: -16px;
      left: 44%;
      display: inline-block;
      content: '\f0d7';
      color: white;
    }
  }
}

td {
  .checkbox {
    margin: 0 !important;
  }
  input {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}

.photo {
  width: 10vw;
  height: 10vw;
  float: left;
  margin-right: 12px;
  margin-top: 12px;
  border: 1px solid #ddd;
  padding: 2px;
  line-height: 9.5vw;
  overflow: hidden;
  img {
    width: 100%;
  }
}

hr {
  border-color: #d3dbe2 !important;
}

.panel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-validation-error {
  border-color: red !important;
}

.field-validation-error span {
  color: red;
  margin-top: 4px;
  display: inline-block;
  width: 100%;
}

.breadcrumb {
  margin-bottom: 0 !important;
  padding-left: 5px;
  li:first-child {
    a::before {
      content: "\f0e4";
      font-family: "FontAwesome";
      font-size: 13px;
      color: #337ab7;
      padding-right: 7px;
    }
  }
  li {
    text-transform: capitalize;
  }
}

.panel-heading {
  padding: 20px 0 10px 20px;
  font-family: @font-bold !important;
  i {
    font-family: 'FontAwesome' !important;
    font-size: 13px;
    color: #E91E63;
    padding-right: 8px;
  }
}

.panel-body {
  padding: 10px 5px 10px 5px;
}

.panel-default {
  .panel-heading {
    background-color: #ffffff;
    border-color: #ffffff;
  }
}

.middle {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}

.form-remove {
  .panel-primary {
    border-color: transparent;
  }
  .panel {
    border: 0;
  }
  h3 {
    padding-left: 17px;
    margin: 0 0 -7px 0;
  }
}

.back-login {
  margin: 10px 17px;
  a {
    i {
      color: #FFF;
      font-size: 40px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    margin: 10px 5px;
  }
  @media (max-width: 767px) {
    margin: 10px 5px;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  .panel {
    box-shadow: none;
    margin-bottom: 0 !important;
    margin-top: -14px;
  }
}

.modal-backdrop {
  z-index: -1;
}

.tokenfield {
  padding: 6px 7px;
  padding-bottom: 0 !important;

  .token {
    background-color: #5bc0de !important;
    color: #FFF;
    border: 0 !important;
    a {
      color: #FFF;
      opacity: 1;
      line-height: 18px !important;
    }
    .token-label {
      padding-left: 7px !important;
    }
    .close {
      padding-right: 7px !important;
      text-shadow: 0 0 0 #fff;
    }
  }
}

#variant-area {
  .select2-container {
    .select2-search--inline {
      .select2-search__field {
        margin-top: -3px !important;
      }
    }
  }
  .select2-container--default {
    .select2-selection--multiple {
      height: 36px !important;
      border-radius: 3px !important;
      height: auto !important;
      .select2-selection__rendered {
        margin: 3px 3px -2px 3px;
        li {
          height: 28px !important;
          font-size: 15px;
          line-height: 26px;
        }
      }
      .select2-selection__choice {
        margin: 0 2px 0px 0;
      }
    }
  }

  #section-1 {
    .select2-selection__choice {
      background-color: #29bc94 !important;

    }
  }

  #section-2 {
    .select2-selection__choice {
      background-color: #0078bd !important;
    }
  }

  #section-3 {
    .select2-selection__choice {
      background-color: #ff9517 !important;
    }
  }
}

.variant-table-section {
  display: none;
  .variant-table {
    margin-top: 20px;
  }
  table {
    width: 100%;
    tbody {
      tr {
        border-bottom: 1px solid #ebeef0;
        th {
          padding-right: 10px;
          padding-bottom: 5px;
          @media (max-width: 767px) {
            padding-right: 2px;
          }
        }
        td {
          padding: 5px 5px 5px 0;
          @media (max-width: 767px) {
            padding-right: 2px;
          }
          span {
            display: inline-block;
            margin-bottom: 4px;
          }
          p {
            margin: 0;
          }
          p:not(:nth-child(2)) {
            display: inline;
            padding: 0 5px;
            &:before {
              content: "\f111";
              font-family: "FontAwesome" !important;
              font-size: 4px;
              color: #707070;
            }

          }
          .checkbox {
            padding-right: 10px;
            margin-top: 0;
          }
        }
      }
    }
  }
}

.variant-table-edit {
  table {
    thead {
      tr {
        th {
          border: 0;
          font-family: @font-bold !important;
        }
      }
    }
    tbody {
      tr {
        td {
          vertical-align: middle;
          border-top: 1px solid #ebeef0 !important;
          a {
            span {
              font-family: Glyphicons Halflings !important;
            }
          }
        }
      }
    }
  }
}

.variant-edit {
  .product_base_detail {
    span {
      display: block;
      padding-bottom: 3px;
      font-family: @font-bold !important;
    }
  }
}

.avatar {
  width: 75px;
  height: 75px;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  padding: 3px;
  ~ .btn {
    margin-left: 15px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.variant-area {
  display: flex;
}

.variant-label {
  display: flex;
  margin-bottom: 10px;
}

.remove-variant {
  i {
    font-family: Glyphicons Halflings !important;
  }
  padding-left: 10px;
  @media (min-width: 768px) and (max-width: 991px) {
    padding-left: 5px;
  }
  @media (max-width: 767px) {
    padding-left: 5px;
  }
}

.btn-default {
  &:hover {
    background-color: #f5f6f7 !important;
  }
}

.loader {
  margin: 0 auto;
  position: relative;
  top: 16px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #00A0DF;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul.stepper {
  list-style-type: none;
  display: inline-block;
  li {
    float: left;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 100%;
    + li {
      margin-left: 8px;
    }
    &.active {
      background-color: #fff;
    }
  }
}

.checkbox-control {
  margin-top: -25px;
}

.checkbox {
  margin-top: 7px;
  margin-bottom: 0;
  i {
    font-family: 'Glyphicons Halflings' !important;
    color: #0078bd;
  }
  label {
    padding-left: 0;
    display: -webkit-box;
    display: -moz-box;
  }
}

.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #d3dbe2;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
  background: #fff;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

.image-gallery {
  .dummy {
    margin-top: 110.63%;
  }
  .thumbnail {
    background: #fafbfc;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align: center;
    margin-bottom: 0;
    overflow: hidden;

    border-radius: 0;
    padding: 0;
    border: 0;
    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid rgba(195, 207, 216, 0.3);
    }
    .image {
      width: 100%;
      height: 100%;
      position: relative;
      img {
        /*position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;*/
        /*max-width: 100%;
        max-height: 100%;*/
        //object-fit: cover;

        position: absolute;
        max-width: 100%;
        max-height: 100%;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
      .image-modal {
        background: #000;
        width: 100%;
        height: 100%;
        position: relative;
        display: none;
        opacity: 0.5;
        z-index: 1;
        cursor: pointer;
        a {
          width: 32px;
          height: 32px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          color: #fff;
        }
      }
    }
    &:hover .image-modal {
      display: block !important;
    }
  }
}

.select2-selection--single {
  border: 1px solid #d3dbe2 !important;
  height: 34px !important;
  border-radius: 3px !important;
  outline: none !important;
}

th .select2,
td .select2 {
  width: 100% !important;
}

.progress {
  box-shadow: inset 0px 0px 0px 1px rgba(49, 55, 61, 0.1) !important;
}

.well {
  width: 100%;
  .bold {
    padding: 5px;
    .header-text {
      margin: 0 0 15px !important;
      text-transform: capitalize;
    }
  }
}

.print-only {
  display: none;
}

.table {
  margin: 0;
  thead thead tr.bg-primary {
    background: #0078bd !important;
    th {
      color: #fff !important;
    }
  }
}

.dataTables_filter {
  .select2-container .select2-selection--single {
    width: 180px;
  }
  .form-group {
    margin-bottom: 0;
    line-height: initial;
  }
}

.control-filter {
  display: inline-block;
}

/*report*/
.section-report {
  display: flex;
  flex-direction: column;

  .section-report-filter {
    background: #f5f6f7;
    height: 46px;
    /*margin: -20px -20px 0 -20px;*/
    overflow: hidden;
    width: 100%;
    @media (max-width: 767px) {
      margin: -21px 0 0 0;
    }

    .more-control-filter:before {
      content: "\f103";
      font-family: FontAwesome;
      font-size: 24px;

    }

    .dataTables_filter {
      padding: 7px 0 2px 0;
      margin-left: -8px;
      display: inline-block;
      flex-grow: 1;
    }
    a {
      margin: 6px 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .section-report-result {
    width: 100%;
  }
}

.section-report-filter-expand {
  height: auto !important;
  .more-control-filter:before {
    content: "\f102" !important;
    font-family: FontAwesome;
    font-size: 24px;
  }
}

.group-report {
  .panel-group {
    .panel {
      .panel-heading {
        padding-top: 10px;
      }
      .panel-body {
        hr {
          margin: 10px 0;
          border-color: #ebeef0 !important;
        }
        margin-bottom: 15px;
      }
    }
  }
}

.templates {
  .panel {
    border: 0;
    .panel-body {
      background: #EBEEF0;
      img {
        width: 150px;
      }
      a {
        padding: 10px 50px;
        margin: 10px 0;
      }
    }
  }
}

.report-template {
  .panel-group {
    .panel {
      .panel-body {
        .title-detail {
          .left {
            text-align: left;
            float: left;
            font-weight: bold !important;
          }

          .right {
            text-align: right;
            float: right;
          }
        }
        .report-detail {
          display: inline-block;
          margin-top: 20px;
          @media (min-width: 768px) and (max-width: 991px) {
            display: inline-block;
            width: 100%
          }
          @media (max-width: 767px) {
            display: inline-block;
            width: 100%
          }
        }
        .report-signature {
          display: inline-flex;
          margin-top: 40px;
          img {
            width: 130px;
            height: 50px;
            margin-top: 10px;
          }
          hr {
            margin: 10px 0;
          }
          .signature-name {
            float: right;
          }
        }
        table {
          thead {
            tr {
              th {
                border: 1px solid #ebeef0;
              }
            }
          }
          tbody {
            tr {
              td {
                border: 1px solid #ebeef0;
              }
            }
          }
          tfoot {
            tr {
              th {
                border: 1px solid #ebeef0;
              }
              .no-border {
                border: 0;
                text-align: right;
                font-weight: bold !important;
              }
            }
          }
        }
      }
    }
  }
  .template {
    h4 {
      font-weight: bold !important;
    }
    .logo-template {
      margin-right: 20px;
      h4 {
        text-align: center;
        font-weight: bold !important;
      }
      img {
        width: 100px;
        margin-top: 15px;
      }
    }
  }

}

.generate_token {
  position: absolute;
  top: 35px;
  right: 25px;
}

@import "_notice";
@import "_print";
@import "_login";
@import "_report";