﻿@font-face {
    font-family: "regular-font-en";
    src: url(../fonts/source-sans-pro/sourcesanspro-regular.otf);
}

@font-face {
    font-family: "semibold-font-en";
    src: url(../fonts/source-sans-pro/sourcesanspro-semibold.otf);
}

@font-face {
    font-family: "regular-font-km";
    src: url(../fonts/hanuman/hanuman.woff);
}

@font-face {
    font-family: "bold-font-km";
    src: url(../fonts/hanuman/hanumanb.woff);
}

body {
    overflow: hidden;
}

* {
    outline: none !important;
}

*:not(.fa):not(.glyphicon) {
    font-family: regular-font-en, regular-font-km;
}

h1, h2, h3, h4, h5, h6, strong, b, th, .panel-heading,
h1 span:not(.glyphicon):not(.label), h2 span:not(.glyphicon):not(.label),
h3 span:not(.glyphicon):not(.label), h4 span:not(.glyphicon):not(.label),
h5 span:not(.glyphicon):not(.label), h6 span:not(.glyphicon):not(.label) {
    font-family: semibold-font-en, bold-font-km !important;
}

strong {
    font-weight: normal !important;
}

/* fixed position */
.fixed-sidebar-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 9;
    display: none;
    cursor: pointer;
}

.fixed-sidebar {
    position: fixed;
    height: 100vh;
    width: 220px;
    /*background: #343434;*/
    /*background: #4e5665;*/
    background: #364150;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.fixed-content {
    position: absolute; /* donot change to "fixed", it will affect with select2 */
    height: 100vh;
    left: 220px;
    right: 0;
    background: #eee;
    display: flex;
    flex-direction: column;
}

.fixed-sub-content {
    width: 100%;
    padding: 15px;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.fixed-sub-footer {
    /*background: #3e4551;*/
    background: #2b3643;
}

.fixed-sub-footer .action {
    padding: 7px;
    float: right;
}

.navbar-fixed-top {
    position: relative;
    min-height: initial;
    margin: 0;
    z-index: 0;
}

@media (max-width: 767px) {
    .fixed-sidebar-modal.show-xs {
        display: block;
    }

    .fixed-sidebar {
        display: none;
    }

    .fixed-sidebar.show-xs {
        width: 80%;
        z-index: 9;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
    }

    .fixed-content {
        left: 0 !important;
    }
}

/* end fixed position */

/* sidebar */
.sidebar {
    width: 100%;
    color: #fff;
    user-select: none;
}

.sidebar .sidebar-header {
    padding: 9px 15px;
    background: #2b3643;
    /*background: rgba(0,0,0,.1);*/
    /*border-bottom: 1px solid rgba(255,255,255,.1);*/
    height: 57px;
}

.sidebar .sidebar-header > h4,
.sidebar .sidebar-header > .dropdown > a {
    margin: 0;
    color: #fff;
}

.sidebar .sidebar-header > .dropdown > a {
    cursor: pointer;
}

.sidebar .sidebar-header img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 4px;
    border-radius: 3px;
}

.sidebar .sidebar-body ul {
    padding: 0;
    list-style: none;
}

.sidebar .sidebar-body ul li {
    cursor: pointer;
}

.sidebar .sidebar-body > ul li a[href]:hover {
    background: rgba(255, 255, 255, .1);
}

.sidebar .sidebar-body > ul li.active a {
    /*background: #607D8B !important;*/
    /*background: #40b4e5 !important;*/
    background: #337ab7 !important;
}

.sidebar .sidebar-body > ul li:hover > a,
.sidebar .sidebar-body > ul li.active > a {
    color: #fff;
}

.sidebar .sidebar-body ul li a {
    color: rgba(255, 255, 255, .7);
    display: block;
    padding: 10px 15px;
    font-size: 15px;
}

.sidebar .sidebar-body ul li a:not(:last-child) {
    font-size: 13px;
    font-family: semibold-font-en, bold-font-km !important;
    margin-top: 10px;
    color: rgba(255, 255, 255, .7);
}

.sidebar .sidebar-body ul li a:not(:last-child):after {
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 8px;
    float: right;
}

.sidebar .sidebar-body ul li a .fa {
    width: 16px;
    height: 16px;
    margin-right: 15px;
    font-size: 14px;
}

.sidebar .sidebar-body ul li ul li {
    border-bottom: 0;
}

/*.sidebar .sidebar-body ul li ul li a {
    padding: 5px 15px 5px 50px;
    font-size: 14px;
}*/
.sidebar .sidebar-body > ul > li:last-child {
    margin-bottom: 58px;
}

.sidebar .sidebar-body ul li ul li:last-child a {
    /*margin-bottom: 10px;*/
}

.sidebar .sidebar-footer {
    position: fixed;
    bottom: 0;
    height: 48px;
    width: 220px;
    padding: 15px;
    background: #364150;
}

.sidebar .sidebar-footer > .dropup > a {
    margin: 0;
    color: #fff;
}

/* end sidebar */

/* breadcrumb */
.navbar-fixed-top .breadcrumb {
    margin: 0;
    display: inline-block;
    line-height: 4rem;
}

@media (max-width: 767px) {
    .navbar-fixed-top .breadcrumb li:not(:nth-last-child(-n+2)) {
        display: none;
    }
}

/* end breadcrumb */

/* action */
.navbar-fixed-top .action {
    padding: 10px 15px;
    float: right;
}

.navbar-fixed-top .action .btn:not(:first-child),
.navbar-fixed-top .action .btn-group:not(:first-child) {
    margin-left: 5px;
}

/* end action */

.navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
}

/* tab */
.tab {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
    border: 1px solid #fff;
}

.tab .tab-content {
    background: #fff;
    padding: 15px;

}

.tab ul li a {
    border-radius: 0;
}

/* end tab */

#exTab1 .tab-content {
    background-color: white;
    padding: 5px 15px 0px 15px
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

#exTab1 .nav-pills {
    border: 1px solid #FFFFFF;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    * {
        position: initial !important;
        overflow: hidden !important;
    }

    .label {
        border: 0 !important;
    }

    a[href]:after {
        content: none !important;
    }

    .print-only {
        display: inline-block !important;
    }

    .select2-drop-mask {
        display: none !important;
    }

    .select2-drop {
        display: none !important;
    }

    .select2-with-searchbox {
        display: none !important;
    }

    .select2-drop-active {
        display: none !important;
    }

    .select2-hidden-accessible {
        display: none !important;
    }

    #wrapper {
        width: auto !important;
        height: auto !important;

    }

    .fixed-content {
        height: auto !important;
    }

    #section-report-result {
        width: auto !important;
        height: auto !important;
        overflow: hidden !important;
        position: fixed;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
    }

    #section-report-result table {
        page-break-after: always !important;
    }

    #section-report-result table thead {
        display: table-header-group !important;
        page-break-after: always !important;
    }

    #section-report-result table tbody {
        min-height: 500px !important;
    }

    /*.section-report .report{*/
    /*margin: 0 !important; ;*/
    /*}*/
    .well {
        width: 100% !important;
    }

    /*#stores-table {*/
    /*page-break-after: always !important;*/
    /*}*/
    .report {
        padding: 0 1cm !important;
        margin: 0;
    }
}

/* end print */

/* form control */
.form-control {
    box-shadow: none !important;
    z-index: 0 !important;
    resize: vertical;
    border-color: #d3dbe2;
    border-radius: 3px;
    /*-webkit-appearance: none;*/
}

[readonly].form-control,
[disabled].form-control {
    background: #f7f7f7;
}

.input-group-addon {
    border-radius: 3px;
}

/* end form control */

/* dropdown menu */
.dropdown-menu li a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-menu li a .fa {
    width: 24px;
}

/* end dropdown menu */

/* loading */
.loader {
    margin: 0 auto;
    position: relative;
    top: 16px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #00A0DF;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* end loading */

/* panel */
.panel {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24)
}

/* end panel */

/* select 2 */
.select2-selection--single {
    border: 1px solid #d3dbe2 !important;
    height: 34px !important;
    border-radius: 3px !important;
    outline: none !important;
}

.select2-search__field {
    width: 100% !important;
}

.dataTables_filter .select2-container .select2-selection--single {
    /*width: 180px;*/
}

.dataTables_filter .form-group {
    /*margin-bottom: 0;*/
    line-height: initial;
}

/* end select 2 */

/* checkbox */
.checkbox {
    margin-top: 7px;
    margin-bottom: 0;
}

.checkbox i {
    font-family: 'Glyphicons Halflings' !important;
    color: #0078bd;
}

.checkbox label {
    padding-left: 0;
    display: -webkit-box;
    display: -moz-box;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #d3dbe2;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    background: #fff;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* end checkbox */

/* upload */
.upload-input a {
    cursor: pointer;
}

/* end upload */

/* image gallery */
.image-gallery .dummy {
    margin-top: 110.63%;
}

.image-gallery .thumbnail {
    background: #fafbfc;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align: center;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 0;
    padding: 0;
    border: 0;
}

.image-gallery .thumbnail::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(195, 207, 216, 0.3);
}

.image-gallery .thumbnail .image {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-gallery .thumbnail .image img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.image-gallery .thumbnail .image .image-modal {
    background: #000;
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    opacity: 0.5;
    z-index: 1;
    cursor: pointer;
}

.image-gallery .thumbnail .image .image-modal a {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
}

.image-gallery .thumbnail:hover .image-modal {
    display: block !important;
}

/* end image gallery */

/* error */
.input-validation-error {
    border-color: red !important;
}

.field-validation-error span {
    color: red;
    margin-top: 4px;
    display: inline-block;
    width: 100%;
}

/* end error */

/* qrcode */
.qrcode_wrapper > div {
    margin: auto !important;
}

/* end qrcode */

/* table */
.table {
    border: 0 !important;
}

.table.striped tbody td {
    border: 0 !important;
}

.table.no-border td {
    border: 0 !important;
}

.table td h1, .table td h2, .table td h3,
.table td h4, .table td h5, .table td h6 {
    margin: 0 !important;
}

.compact.table th,
.compact.table td {
    padding: .3em .5em !important;
}

/* end table */

/* label */
label,
.label {
    font-weight: normal;
}

span.label {
    user-select: none;
}

/* end label */

hr {
    border-color: #ccc;
}

.no-border {
    border: 0 !important;
}

/* no margin */
.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

/* end no margin */

a {
    cursor: pointer;
}

.decimal {
    text-align: right !important;
}

/* scrollbar */
.mCSB_draggerRail {
    background: transparent !important;
}

.mCSB_dragger_bar {
    border-radius: 0 !important;
    width: 10px !important;
    right: 0 !important;
    position: absolute !important;
    background-color: rgba(255, 255, 255, .75) !important;
}

.mCSB_container {
    margin-right: 0 !important;
}

/* end scrollbar */

/*-----------*/

/*Loading*/
.loading-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 55554;
    background-color: rgba(0, 0, 0, 0.2);
}

#ajaxCall {
    color: #000;
    background: transparent;
    border-radius: 25px;
    top: 50%;
    right: 50%;
    position: fixed;
    width: 51px;
    height: 50px;
    z-index: 55555;
    text-align: center;
}

#ajaxCall i {
    font-size: 50px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*for setting menu*/
.setting-menu .sub-menu {
    margin: 0 0 10px 15px;
}

.setting-menu .sub-menu i {
    padding-right: 10px;
}

/*checkbox*/
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

#land-table tbody tr:hover {
    cursor: pointer;
}

#section-report-result table thead tr {
    border-top: solid 1px #c0c0c0 !important;
}


@media print {
    table #stores-table {
        page-break-after: always !important;
    }

    thead {
        /*display: table-header-group !important;*/

    }

}

#notification {
    position: fixed;
    width: 300px;
    z-index: 105;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 4px;
    top: 15px;
    right: 15px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
    display: block;
}

#notification span.dismiss {
    padding: 0 6px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    position: absolute;
    right: 0px;
    top: 10px;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
}

#notification a {
    color: white;
    text-decoration: none;
    font-weight: bold
}

#notification .notification-message {
    word-wrap: break-word;
    padding-right: 25px;
}

