{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li class="active">{{ _('Add') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.add),action_text=_('Save'), return_url=url_for(view.endpoints.index), is_use_template=False) %}
        <div class="row">
            <div class="col-md-3">
                <h4>
                    {{ _('Land Information') }}
                </h4>
                <p>{{ _('Provide informaion of land.') }}</p>

            </div>
            <div class="col-md-9">
                <div class="panel no-margin-bottom">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ render_field(form.code) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.block_id) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.farmer_id) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.rent_id) }}
                            </div>
                             <div class="col-md-4">
                                {{ render_field(form.area) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.status_id) }}
                            </div>
                            <div class="col-md-4">
                                {{render_field(form.tariff_id) }}
                            </div>
                             <div class="col-md-12">
                                {{ render_field(form.note) }}
                            </div>
                            <div style="display: none" class="col-md-12">
                                {{ render_field(form.active) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endcall %}
{% endblock %}

{% block script %}
    <script>

        $(document).ready(function () {
            $("select").each(function () {
                var v =$("option:first", this).val();
                if (v == "__None"){
                    $("option:first", this).val("");
                }
            });
        });

    </script>

{% endblock %}