{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li>{{ view.obj }}</li>
    </ul>
{% endblock %}

{#{% block content %}
<div id="form-detail">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
           {{ render_form(form, action_text='', edit_url=url_for(view.endpoints.edit, id=form.data.id), return_url=url_for(view.endpoints.index), return_text=_('Back')) }}
        </div>
    </div>
</div>
{% endblock %}#}

{% block content %}
    {% call render_form(form, action_text='', edit_url=url_for(view.endpoints.edit, id=form.data.id), return_url=url_for(view.endpoints.index), return_text=_('Back'),is_use_template=False) %}
        <div id="form-detail">
            <div class="row">
                <div class="col-md-3">
                    <h4>
                        {{ _('Land Information') }}
                    </h4>
                    <p>{{ _('Provide informaion of land.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel no-margin-bottom">

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ render_field(form.code) }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(form.block_id) }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(form.farmer_id) }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(form.rent_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.area) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.status_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.tariff_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.active) }}
                                </div>
                                <div class="col-md-12">
                                    {{ render_field(form.note) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3" style="margin-top: 10px;">
                    <h4>
                        {{ _('Invoice Information') }}
                    </h4>
                    <p>{{ _('Provide invoice informaion of this land.') }}</p>
                </div>
                <div class="col-md-9" style="padding: 0;margin-top:17px;">
                    <div id="exTab1" class="col-md-12">
{#                        <ul class="nav nav-pills">#}
{#                            {% if view.invoices %}#}
{#                                <li class="active">#}
{#                                    <a href="#1a" data-toggle="tab" data-ajax="false">{{ _("Invoice Info") }}</a>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                        </ul>#}
                        {% if view.invoices %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content clearfix">

                                        <div class="tab-pane active" id="1a">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-2">{{ _('No.') }}</th>
                                                    <th class="col-md-2">{{ _('Code') }}</th>
                                                    <th class="col-md-3 text-right">{{ _('Total Amount') }}</th>
                                                    <th class="col-md-2 text-right">{{ _('Paid') }}</th>
                                                    <th class="col-md-2 text-right">{{ _('Ending Balance') }}</th>
                                                    <th class="col-md-1">{{ _("Status") }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
{#                                                {% set total_invoice = [0] -%}#}
{#                                                {% set total_amount = [0] %}#}
{#                                                {% set total_paid = [0] %}#}
{#                                                {% set total_ending_balance = [0] %}#}
                                                {% for item in view.invoices %}

{#                                                    {% if total_invoice.append(total_invoice.pop()+ item.total_invoice) -%}{% endif %}#}
{#                                                    {% if total_amount.append(total_amount.pop()+ item.total_amount) -%}{% endif %}#}
{#                                                    {% if total_paid.append(total_paid.pop()+ item.total_paid_amount) -%}{% endif %}#}
{#                                                    {% if total_ending_balance.append(total_ending_balance.pop()+ item.ending_balance) -%}{% endif %}#}
                                                    <td>{{ loop.index }}</td>
                                                    <td>{{ item.code }}</td>
                                                    <td class="text-right">{{ item.total_amount | format_value() }}</td>

                                                    {% if item.status_id=='paid' %}
                                                        <td class="text-right">{{ item.paid_amount | format_value() }}</td>
                                                        <td class="text-right">{{ ((item.total_amount|float)-(item.paid_amount|float)) | format_value() }}</td>
                                                        <td style="padding-top:6px;"><div class="label label-success"  style="min-width:75px;text-align:center;border-radius: .25em;color: #fff;font-size: 75%;padding: 3px 22px 4px;">{{ item.status_value }}</div></td>
                                                    {% else %}
                                                        <td class="text-right">{{ item.paid_amount | format_value() }}</td>
                                                        <td class="text-right">{{ ((item.total_amount|float)-(item.paid_amount|float)) | format_value() }}</td>
                                                        <td style="padding-top:6px;"><div class="label label-warning"  style="min-width:75px;text-align:center;border-radius: .25em;color: #fff;font-size: 75%;padding: 3px 11px 4px;">{{ item.status_value }}</div></td>
                                                    {% endif %}

                                                    </tr>
                                                {% endfor %}
                                                </tbody>

{#                                                <tfoot>#}
{#                                                <tr>#}
{#                                                    <th>{{ _('Total') }}</th>#}
{#                                                    <th>{{ total_invoice[0] | int }}</th>#}
{#                                                    <th class="text-right">#}
{#                                                        {{ total_amount[0] | format_value() }}{{ view.invoices[0].sign }}</th>#}
{#                                                    {% if total_amount == total_paid %}#}
{#                                                        <th class="text-right">{{ _("-") }}</th>#}
{#                                                    {% else %}#}
{#                                                        <th class="text-right">#}
{#                                                            {{ total_paid[0] | format_value() }}{{ view.invoices[0].sign }}</th>#}
{#                                                    {% endif %}#}
{#                                                    <th class="text-right">#}
{#                                                        {{ total_ending_balance[0] | format_value() }}{{ view.invoices[0].sign }}</th>#}
{#                                                    <th></th>#}
{##}
{#                                                </tr>#}
{#                                                </tfoot>#}
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    {% endcall %}
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $("#form-detail input, #form-detail select, #form-detail textarea, #form-detail button").attr("disabled", "disabled");
        });
    </script>
{% endblock %}