{% extends '%s-layout.html'% session.get('layout','breadcrumb-layout') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(".LandView:index") }}">{{ _("Land") }}</a></li>
        <li class="active">{{ _('Delete') }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        {% if is_active %}
            <div class="col-md-4">
                <h4>{{ _('Disactive') }}</h4>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div id="form-remove">
                            {% if is_active %}
                                <h3 style="margin-top:0;">{{ _('Are you sure want to disactive or remove all ?') }}</h3>
                                <p>
                                <h4 class="glyphicon glyphicon-alert"
                                    style="color:#f0ad4e;font-family:'Glyphicons Halflings' !important;margin-right:10px;margin-bottom:0;"></h4>
                                {{ _('This will disactive temporary or remove all!') }}
                                </p>
                                {{ render_form(form, action_url=url_for(".LandView:remove_all_lands"),
                                        return_url=url_for(".LandView:index"), action_text=_('Disactive'), btn_class='btn btn-warning', is_use_template=false, is_use_floating_button=false) }}
                            {% else %}
                                <h4 style="margin-top:0;">{{ _('Cannot remove this record !') }}</h4>
                                <a class="btn btn-default pull-right"
                                   href="{{ url_for(".LandView:index") }}">{{ _('Back') }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-4">
                <h4>{{ _('Disactive') }} {{ _(view.title) if view else '' }}</h4>
            </div>
            <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <div id="form-remove">
                        <h4 style="margin-top:0;clear: both; color: #a94442;">
                            <i class="fa fa-shield" style="margin-right: 10px;"></i>
                            {{ _('Not allowed!') }}
                        </h4>
                        <hr>
                        <p>
                            <h4 style="color:#f0ad4e;font-family:'Glyphicons Halflings' !important;margin-right:10px;margin-bottom:0;"></h4>
                            {{ _('Cannot disactive this record !') }}
                        </p>
                        <a class="btn btn-default pull-right" href="{{ url_for(".LandView:index") }}">{{ _('Back') }}</a>
                    </div>
                </div>
            </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $('.modal-backdrop').remove();
            $('form div.pull-right').append('<button class="btn btn-danger" type="button" id="remove-all">{{ _("Remove All") }}</button>');

            var land_ids = "{{ ids }}";
            $("#id").val(land_ids);
            $("#is_remove").val(false);

            $("form").on('submit',function () {
                sessionStorage.removeItem("land_ids");
            });

            $("#remove-all").on('click', function () {
                $("#is_remove").val(true);
                $('form').submit();
            });

        });


    </script>
{% endblock %}