{% extends '%s-layout.html'% session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.ReportView:report') }}">{{ _('Reports') }}</a></li>
        <li class="active">{{ _(report.title) }}</li>
    </ul>
    <div class="action">
        <a id="export-table" data-ajax="false"  class="btn" style="background-color: #1F6F43; color:#FFFFFF;"
           >
            <i class="fa fa-file-excel-o"></i>
            {{ _('Export') }}
        </a>
        <a id="print-button" href="#" data-ajax="false" class="btn btn-danger">
            <i class="fa fa-print"></i>
            {{ _('Print') }}
        </a>
        <!--<div class="btn-group btn-group" role="group">-->
        <!--<button type="button" class="btn btn-default dropdown-toggle"-->
        <!--data-toggle="dropdown" aria-expanded="false">-->
{#        <!--{{ _('Actions') }} <span class="caret"></span>-->#}
        <!--</button>-->
        <!--<ul class="dropdown-menu dropdown-menu-right" role="menu">-->
        <!--<li>-->
        <!--<a id="export-table" data-ajax="false" href="#"-->
{#        <!--onclick="javascript: fnExcelReport(this.id, '{{ report.title }}', 'stores-table');"><i class="fa fa-file-excel-o"></i>{{ _('Export') }}</a>-->#}
        <!--</li>-->
        <!--<li class="divider"></li>-->
        <!--<li><a href="#" data-ajax="false" id="print-button"><i class="fa fa-print"></i>{{ _('Print') }}</a></li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
{% endblock %}

{% block content %}
    <style type="text/css">
        @page  {
            size: A4 portrait;
        }
        table tbody tr{
            border-left: 1px solid #d0d0d0 !important;
        }
        @media print {

            .fixed-sub-content {
                width: 100%;
                position: absolute !important;
                padding: 15px;
                flex-grow: 1;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            .navbar-fixed-top {
                position: absolute !important;
                min-height: initial;
                margin: 0;
                z-index: 0;
            }
        }


    </style>

    <div class="well well-sm row print-only" style="width:100%;padding:0;margin:0;">

        <div class="col-xs-12">
            <h2 style="min-height:6rem;">{{ _('Report') }} {{ report.title }}</h2>
            <div class="row">
                {% for f in form if f.type != 'CSRFTokenField' and f.type != 'HiddenField' %}
                    <div class="col-xs-6">
                        {{ f.label.text }}: <span id="filter-{{ f.id }}"></span>
                    </div>
                {% endfor %}
            </div>
            <br/>
        </div>
    </div>

    <div class="section-report" style="align-items:unset;">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 hidden-print">
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding-right:15px;">
                        {{ _("Filter") }}
                        <a data-toggle="collapse" href="#collapse1" class="pull-right" data-ajax="false"><i
                                class="fa fa-chevron-down" style="color:#000;"></i></a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" style="margin-top: 15px;">
                        <div id="filter-wrapper" class="panel-body" style="padding:20px;padding-top:10px;">
                            {{ render_filter_form(form,action_url=url_for('ReportView:result',report_name=report.name,offset=0),ajax_update='#section-report-result',show_label=true) }}
                            <a class="btn btn-primary pull-right btn-view-report btn-block">{{ _('View') }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="panel panel-default">
                    <div id="section-report-result" class="table-responsive">{{ filter_result | safe }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <style>
        .control-filter {
            display: block;
        }

        .panel {
            box-shadow: none;
            border-radius: 0;
        }

        th, td {
            border: 0;
            border-right: 1px solid #ddd;
        }
    </style>
    <script language="javascript">
        //get all attr id from input text in class filter
        function hidden_control_filter() {
            var input_ids = []
            $(".dataTables_filter .form-control").each(function () {
                input_ids.push(this.id);
            });
            input_ids.length <= 3 ? $(".more-control-filter").hide() : $(".more-control-filter").show()
        }

        $(document).ready(function () {
            $(".print-only").hide();
            hidden_control_filter();
            $(".more-control-filter,.hide-control-filter").on('click', function () {
                $(".section-report-filter").toggleClass("section-report-filter-expand");
            });
            $("#filter-wrapper input").keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    $("#filter-wrapper form").submit();
                    return false;
                }
            });
            $(".btn-view-report").click(function () {
                $("#filter-wrapper form").submit();
            })

            //$("#filter-wrapper .date").change(function (e) {
            //    $("#filter-wrapper form").submit();
            //});

            //$("#filter-wrapper select").change(function () {
            //    $("#filter-wrapper form").submit();
            //});

            //console.log($(".control-filter").length);
            //console.log($(".dataTables_filter input[type=text]").length);

            $("#print-button").click(function () {
                $("#filter-wrapper input").each(function () {
                    $("#filter-" + $(this).attr("id")).text($(this).val());
                });
                $("#filter-wrapper select").each(function () {
                    $("#filter-" + $(this).attr("id")).text($("option:selected", this).text());
                });
                window.print();
            });

             var session = "{{session['language']}}";
            // Datetime
            $.fn.datepicker.dates['kh'] = {
                days: ["អាទិត្យ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហស្បតិ៍", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
                daysShort: ["អាទិ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏"],
                daysMin: ["អាទិ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
                months: ['មករា', 'កម្ភៈ', 'មីនា', 'មេសា', 'ឧសភា', 'មិថុនា', 'កក្កដា', 'សីហា', 'កញ្ញា', 'តុលា', 'វិចិក្កា', 'ធ្នូ'],
                monthsShort: ['មករា', 'កម្ភៈ', 'មីនា', 'មេសា', 'ឧសភា', 'មិថុនា', 'កក្កដា', 'សីហា', 'កញ្ញា', 'តុលា', 'វិចិក្កា', 'ធ្នូ'],
            };
      $("[role=date]").datepicker({
            'language': 'kh',
            'autoclose':true,
            'format': "yyyy-mm-dd"
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate', e.date);
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });
      $("[role=date-month]").datepicker({
            'language': 'kh',
            'autoclose':true,
            'format': "yyyy-mm-dd",
            'startMode': "months",
            'minViewMode': "months",
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate', e.date);
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });
      $("[role=date-year]").datepicker({
            'language': 'kh',
            'autoclose':true,
            'format': "yyyy-mm-dd",
            'startMode': "years",
            'minViewMode': "years",
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate', e.date);
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });
     $('#section-report-result').ajaxComplete(function () {
            app.wait();
            $("#date").html($("#billing_date").html());
        });


        });
    </script>
{% endblock %}

