{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li>{{ view.obj }}</li>
    </ul>
{% endblock %}


{% block content %}
    {% call render_form(form, action_text='', edit_url=url_for(view.endpoints.edit, id=form.data.id), return_url=url_for(view.endpoints.index), return_text=_('Back'),is_use_template=false) %}
        <div id="form-detail">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ render_field(form.code) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.name) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.sex) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.marital_status) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.spouse_name) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.phone) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.national_id) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.delivery_code) }}
                                </div>
                                 <div class="col-md-4">
                                    {{ render_field(form.active) }}
                                </div>
                                <div class="col-md-12">
                                    <hr style="margin-left: -15px; margin-right: -15px;"/>
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.province_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.district_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.commune_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.village_id) }}
                                </div>
                                <div class="col-md-12">
                                    {{ render_field(form.address) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(form.ext__photo) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding: 0;">
                    <div id="exTab1" class="col-md-12">
                        <ul class="nav nav-pills">
                            {% if view.invoices %}
                                <li class="active">
                                    <a href="#1a" data-toggle="tab" data-ajax="false">{{ _("Invoice Info") }}</a>
                                </li>
                                {% if view.lands %}
                                    <li>
                                        <a href="#2a" data-toggle="tab" data-ajax="false">{{ _("Land Info") }}</a>
                                    </li>
                                {% endif %}
                                {% if view.rent %}
                                    <li>
                                        <a href="#3a" data-toggle="tab" data-ajax="false">{{ _("Rental Land") }}</a>
                                    </li>
                                {% endif %}
                            {% elif view.lands %}
                                <li class="active">
                                    <a href="#2a" data-toggle="tab" data-ajax="false">{{ _("Land Info") }}</a>
                                </li>
                                {% if view.rent %}
                                    <li>
                                        <a href="#3a" data-toggle="tab" data-ajax="false">{{ _("Rental Land") }}</a>
                                    </li>
                                {% endif %}
                            {% elif view.rent %}
                                <li class="active">
                                    <a href="#3a" data-toggle="tab" data-ajax="false">{{ _("Rental Land") }}</a>
                                </li>
                            {% endif %}

                        </ul>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="tab-content clearfix">
                                    {% if view.invoices %}
                                        <div class="tab-pane active" id="1a">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-2">{{ _('No.') }}</th>
                                                    <th class="col-md-2">{{ _('Total Invoices') }}</th>
                                                    <th class="col-md-3 text-right">{{ _('Total Amount') }}</th>
                                                    <th class="col-md-2 text-right">{{ _('Paid') }}</th>
                                                    <th class="col-md-2 text-right">{{ _('Ending Balance') }}</th>
                                                    <th class="col-md-1">{{ _("Status") }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% set total_invoice = [0] -%}
                                                {% set total_amount = [0] %}
                                                {% set total_paid = [0] %}
                                                {% set total_ending_balance = [0] %}
                                                {% for item in view.invoices %}
                                                    {% if total_invoice.append(total_invoice.pop()+ item.total_invoice) -%}{% endif %}
                                                    {% if total_amount.append(total_amount.pop()+ item.total_amount) -%}{% endif %}
                                                    {% if total_paid.append(total_paid.pop()+ item.total_paid_amount) -%}{% endif %}
                                                    {% if total_ending_balance.append(total_ending_balance.pop()+ item.ending_balance) -%}{% endif %}
                                                    <td>{{ loop.index }}</td>
                                                    <td>{{ item.total_invoice }}</td>
                                                    <td class="text-right">{{ item.total_amount | format_value() }}</td>

                                                    {% if item.value=='paid' %}
                                                        <td class="text-right">{{ item.total_paid_amount | format_value() }}</td>
                                                        <td class="text-right">{{ item.ending_balance | format_value() }}</td>
                                                        <td><h5><span
                                                                class="label label-success">{{ item.status_value }}</span>
                                                        </h5></td>
                                                    {% else %}
                                                        <td class="text-right">{{ item.total_paid_amount | format_value() }}</td>
                                                        <td class="text-right">{{ item.ending_balance | format_value() }}</td>
                                                        <td><h5><span style="color: white;"
                                                                      class="label label-warning">{{ item.status_value }}</span>
                                                        </h5></td>
                                                    {% endif %}

                                                    </tr>
                                                {% endfor %}


                                                </tbody>

                                                <tfoot>
                                                <tr>
                                                    <th>{{ _('Total') }}</th>
                                                    <th>{{ total_invoice[0] | int }}</th>
                                                    <th class="text-right">
                                                        {{ total_amount[0] | format_value() }}{{ view.invoices[0].sign }}</th>
                                                    {% if total_amount == total_paid %}
                                                        <th class="text-right">{{ _("-") }}</th>
                                                    {% else %}
                                                        <th class="text-right">
                                                            {{ total_paid[0] | format_value() }}{{ view.invoices[0].sign }}</th>
                                                    {% endif %}
                                                    <th class="text-right">
                                                        {{ total_ending_balance[0] | format_value() }}{{ view.invoices[0].sign }}</th>
                                                    <th></th>

                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    {% elif view.lands %}
                                        <div class="tab-pane active" id="2a">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-1">{{ _('No.') }}</th>
                                                    <th class="col-md-2">{{ _('Land Code') }}</th>
                                                    <th class="col-md-1">{{ _('Block') }}</th>
                                                    <th class="col-md-2">{{ _('Rent For') }}</th>
                                                    <th class="col-md-2">{{ _('Area(Ha)') }}</th>
                                                    <th class="col-md-2">{{ _("Land Status") }}</th>
                                                    <th class="col-md-2">{{ _("Tariff") }}</th>
                                                </tr>
                                                <tbody>
                                                {% set total_area = [0] %}
                                                {% for item in view.lands %}
                                                    {% if total_area.append(total_area.pop()+ item.area) -%}{% endif %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ item.code }}</td>
                                                        <td>{{ item.block.name }}</td>
                                                        <td>{{ item.rent }}</td>
                                                        <td>{{ item.area | format_currency() }}</td>
                                                        <td>{{ item.land_status_value.name }}</td>
                                                        <td>{{ item.tariff.name }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="4">{{ _("Total") }}</th>
                                                    <th>{{ total_area[0] | format_currency() }}</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                </tfoot>
                                                </thead>
                                            </table>
                                        </div>
                                    {% elif view.rent %}
                                        <div class="tab-pane active" id="3a">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-1">{{ _('No.') }}</th>
                                                    <th class="col-md-2">{{ _('Land Code') }}</th>
                                                    <th class="col-md-1">{{ _('Block') }}</th>
                                                    <th class="col-md-2">{{ _('Owner') }}</th>
                                                    <th class="col-md-2">{{ _('Area(Ha)') }}</th>
                                                    <th class="col-md-2">{{ _("Land Status") }}</th>
                                                    <th class="col-md-2">{{ _("Tariff") }}</th>
                                                </tr>
                                                <tbody>
                                                {% set total_area = [0] %}
                                                {% for item in view.rent %}
                                                    {% if total_area.append(total_area.pop()+ item.area) -%}{% endif %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ item.code }}</td>
                                                        <td>{{ item.block.name }}</td>
                                                        <td>{{ item.farmer }}</td>
                                                        <td>{{ item.area | format_currency() }}</td>
                                                        <td>{{ item.land_status_value.name }}</td>
                                                        <td>{{ item.tariff.name }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="4">{{ _("Total") }}</th>
                                                        <th>{{ total_area[0] | format_currency() }}</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                                </thead>
                                            </table>
                                        </div>
                                    {% endif %}

                                    {% if view.lands %}
                                        <div class="tab-pane" id="2a">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-1">{{ _('No.') }}</th>
                                                    <th class="col-md-2">{{ _('Land Code') }}</th>
                                                    <th class="col-md-1">{{ _('Block') }}</th>
                                                    <th class="col-md-2">{{ _('Rent For') }}</th>
                                                    <th class="col-md-2">{{ _('Area(Ha)') }}</th>
                                                    <th class="col-md-2">{{ _("Land Status") }}</th>
                                                    <th class="col-md-2">{{ _("Tariff") }}</th>
                                                </tr>
                                                <tbody>
                                                {% set total_area = [0] %}
                                                {% for item in view.lands %}
                                                    {% if total_area.append(total_area.pop()+ item.area) -%}{% endif %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ item.code }}</td>
                                                        <td>{{ item.block.name }}</td>
                                                        <td>{{ item.rent }}</td>
                                                        <td>{{ item.area | format_currency() }}</td>
                                                        <td>{{ item.land_status_value.name }}</td>
                                                        <td>{{ item.tariff.name }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th colspan="4">{{ _("Total") }}</th>
                                                    <th>{{ total_area[0] | format_currency() }}</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                </tfoot>
                                                </thead>
                                            </table>
                                        </div>
                                    {% endif %}
                                    {% if view.rent %}
                                        <div class="tab-pane" id="3a">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-1">{{ _('No.') }}</th>
                                                    <th class="col-md-2">{{ _('Land Code') }}</th>
                                                    <th class="col-md-1">{{ _('Block') }}</th>
                                                    <th class="col-md-2">{{ _('Owner') }}</th>
                                                    <th class="col-md-2">{{ _('Area(Ha)') }}</th>
                                                    <th class="col-md-2">{{ _("Land Status") }}</th>
                                                    <th class="col-md-2">{{ _("Tariff") }}</th>
                                                </tr>
                                                <tbody>
                                                {% set total_area = [0] %}
                                                {% for item in view.rent %}
                                                    {% if total_area.append(total_area.pop()+ item.area) -%}{% endif %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ item.code }}</td>
                                                        <td>{{ item.block.name }}</td>
                                                        <td>{{ item.farmer }}</td>
                                                        <td>{{ item.area | format_currency() }}</td>
                                                        <td>{{ item.land_status_value.name }}</td>
                                                        <td>{{ item.tariff.name }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th colspan="4">{{ _("Total") }}</th>
                                                    <th>{{ total_area[0] | format_currency() }}</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                </tfoot>
                                                </thead>
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    {% endcall %}
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $("#form-detail input, #form-detail select, #form-detail textarea, #form-detail button").attr("disabled", "disabled");
        });


        function load(type, parent_id, param, selected_id) {
            var url = "{{ url_for('.LocationView:options', type='p_type', parent_id='p_parent_id') }}" + "?selected_id=" + selected_id;
            url = url.replace("p_type", type);
            url = url.replace("p_parent_id", parent_id);
            $.post(url, function (data) {
                var html = $.parseHTML(data);
                //$("#" + param ).html(data);
                if (html.length == 2) {
                    $(html[1]).attr("selected", "selected");
                }
                $("#" + param).html(html).change();
            });
        }

        $(document).ready(function () {
            $("#province_id").change(function () {
                var province_id = $(this).val();
                var district_id = $("#district_id option:selected").val();
                load("2", province_id, "district_id", district_id);
            });

            $("#district_id").change(function () {
                var district_id = $(this).val();
                var commune_id = $("#commune_id option:selected").val();
                load("3", district_id, "commune_id", commune_id);
            });

            $("#commune_id").change(function () {
                var commune_id = $(this).val();
                var village_id = $("#village_id option:selected").val();

                load("4", commune_id, "village_id", village_id);
            }).change();
        });
    </script>
{% endblock %}