{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li><a href="{{ url_for(view.endpoints.detail, id=form.id.data) }}">{{ view.obj }}</a></li>
        <li class="active">{{ _('Edit') }}</li>
    </ul>
{% endblock %}
{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.edit,id=form.data.id), return_url=url_for(view.endpoints.index),ajax='false',ajax_update='', action_text=_('Save'),is_use_template=false) %}
        <div id="form-edit">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ render_field(form.code) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.name) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.sex) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.marital_status) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.spouse_name) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.phone) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.national_id) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(form.delivery_code) }}
                                </div>
                                <div class="col-md-4">
                                     {{ render_field(form.active) }}
                                </div>
                                <div class="col-md-12">
                                    <hr style="margin-left: -15px; margin-right: -15px;" />
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.province_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.district_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.commune_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.village_id) }}
                                </div>
                                <div class="col-md-12">
                                    {{ render_field(form.address) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(form.ext__photo,label_visible=false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block script%}
<script type="text/javascript">
    function load(type, parent_id, param, selected_id) {
        var url = "{{ url_for('.LocationView:options', type='p_type', parent_id='p_parent_id') }}" + "?selected_id=" + selected_id;
        url = url.replace("p_type", type);
        url = url.replace("p_parent_id", parent_id);
        $.post(url, function( data ) {
            var html = $.parseHTML(data);
            //$("#" + param ).html(data);
            if (html.length == 2) {
                $(html[1]).attr("selected", "selected");
            }
            $("#" + param ).html(html).change();
        });
    }

    $(document).ready(function () {
        $("#province_id").change(function () {
            var province_id = $(this).val();
            var district_id = $("#district_id option:selected").val();
            load("2", province_id, "district_id", district_id);
        });

        $("#district_id").change(function () {
           var district_id = $(this).val();
           var commune_id = $("#commune_id option:selected").val();
           load("3", district_id, "commune_id", commune_id);
        });

        $("#commune_id").change(function () {
           var commune_id = $(this).val();
           var village_id = $("#village_id option:selected").val();
            console.log(village_id);
           load("4", commune_id, "village_id", village_id);
        });
    });
</script>
{% endblock %}