{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    {{ super() }}
    <div class="action">
        <button class="btn btn-success" data-toggle="modal" data-target="#updateModal" id="edit-all"
                role="button"><i class="fa fa-pencil"></i> {{ _("Edit All") }}</button>
        <a href="#" data-ajax="false" class="btn btn-danger" id="remove-all"
           role="button"><i class="fa fa-trash"></i> {{ _("Remove All") }}</a>
        <a class="btn btn-primary" role="button" href="{{ url_for(view.endpoints.add) }}"><i
                class="fa fa-plus-circle"></i> {{ _('Add') }}</a>
        <a href="#" data-ajax="false" id="print-button" class="btn btn-danger">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ _('Print') }}</a>
        <a id="export-table" title="{{ view.title }}" class="btn" style="background-color: #1F6F43; color:#FFFFFF;"
           data-ajax="false">
            <i class="fa fa-file-excel-o"></i>
            {{ _('Export') }}
        </a>
        <button class="btn btn-warning" id="select-all"
                role="button"><i class="fa fa-check-circle-o"></i> {{ _("Select All") }}</button>
    </div>
{% endblock %}
{% block content %}
    <style type="text/css">
        @page :first {
            visibility: hidden !important;
        }
        @media print {
            table thead tr {
                padding-top: 10px;
            }

            .fixed-sub-content {
                width: 100%;
                position: absolute !important;
                flex-grow: 1;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            .navbar-fixed-top {
                position: absolute !important;
                min-height: initial;
                margin: 0;
                z-index: 0;
            }
        }
    </style>
    <div class="tab">
        <ul class="nav nav-tabs no-print">
            <li class="active"><a data-toggle="tab" href="#section" data-ajax="false">{{ _(view.title) }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="section" class="tab-pane fade in active">
                <div class="box-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-10 text-left">
                                    <div class="dataTables_filter" id="{{ sid }}-wrapper">
                                        {{ render_filter_form(form, action_url=url_for(view.endpoints.filter, offset=0), ajax_update='#filter-result') }}
                                    </div>
                                </div>
                            </div>
                            <div class="print-margin report-html visible-print">
                                <div class="well well-sm row print-only report-html-header"
                                     style="width:100%;padding:0;margin:0;">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 style="min-height:6rem;">{{ _('Report') }} {{ view.title }}</h2>
                                            </div>
                                            <div style="padding-left:18px">{{ _('Date') }}: <span id="filter-d1"></span>
                                            </div>

                                        </div>
                                        <br/>
                                    </div>
                                </div>

                            </div>
                            <table id="stores-table" class="ui compact striped basic table print-table">
                                <thead>
                                {{ table.render_header() }}
                                </thead>
                                <tbody id="filter-result">
                                {% block filter_result %}
                                    {{ filter_result | safe }}
                                {% endblock %}
                                </tbody>
                                <tfoot id="footer">
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>


    {% if view.edit_form %}
        <div class="modal fade" id="updateModal" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ _('Farmer') }}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">

                                {% call render_form(view.edit_form, id='edit_form',action_url=url_for('.FarmerView:update_all_farmers'), action_text=_('Save'),is_use_template=false,is_use_floating_button=false, pull_class='row pull-right') %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ render_field(view.edit_form.is_active) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ render_field(view.edit_form.marital_status) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ render_field(view.edit_form.sex) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(view.edit_form.province_id) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(view.edit_form.district_id) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(view.edit_form.commune_id) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(view.edit_form.village_id) }}
                                        </div>
                                    </div>

                                {% endcall %}


                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    {% endif %}


{% endblock %}
{% block footer %}
    {% if view.back_url %}
        <div class="action">
            <a role="button" class="btn btn-default no-print"
               href="{{ view.back_url }}">{{ _('Back') }}</a>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $('body div').removeClass('modal-backdrop fade in');
            // on load
            {#$("#{{sid}}-wrapper form").submit();#}

            $("#{{sid}}-wrapper input").keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    $("#{{sid}}-wrapper form").submit();
                    return false;
                }
            });

            $("#{{sid}}-wrapper .date").change(function (e) {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper select").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper hidden").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#print-button").click(function () {
                $("#filter-d1").text('{{ d1 | to_month_name }}');
                window.print();
            });

            // Datetime
            $.fn.datepicker.dates['kh'] = {
                days: ["អាទិត្យ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហស្បតិ៍", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
                daysShort: ["អាទិ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏"],
                daysMin: ["អាទិ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
                months: ['មករា', 'កុម្ភៈ', 'មីនា', 'មេសា', 'ឧសភា', 'មិថុនា', 'កក្កដា', 'សីហា', 'កញ្ញា', 'តុលា', 'វិចិក្កា', 'ធ្នូ'],
                monthsShort: ['មករា', 'កុម្ភៈ', 'មីនា', 'មេសា', 'ឧសភា', 'មិថុនា', 'កក្កដា', 'សីហា', 'កញ្ញា', 'តុលា', 'វិចិក្កា', 'ធ្នូ'],
            };

            $('.date').datepicker({
                'language': 'kh',
                'format': "dd-mm-yyyy",
                'autoclose': true
            }).on('show', function (e) {
                if (e.date) {
                    $(this).data('stickyDate', e.date);
                } else {
                    $(this).data('stickyDate', null);
                }
            }).on('hide', function (e) {
                var stickyDate = $(this).data('stickyDate');
                if (!e.date && stickyDate) {
                    $(this).datepicker('setDate', stickyDate);
                    $(this).data('stickyDate', null);
                }
            }).on('changeDate', function (e) {
                if (typeof e.date !== "undefined") {
                    $("#filter-wrapper form").submit();
                }
            });


            var ids = [];

            // Check browser support
            if (typeof (Storage) == "undefined") {
                alert("Sorry, your browser does not support Web Storage...");
            } else {
                var land_ids = sessionStorage.getItem("land_ids");
                if (land_ids == null) {
                    ids = []
                } else {
                    ids = land_ids.split(";");
                }
            }

            if (ids.length > 0) {
                $("#edit-all").removeAttr('disabled');
                $("#remove-all").removeAttr('disabled');
            } else {
                $("#edit-all").attr('disabled', 'disabled');
                $("#remove-all").attr('disabled', 'disabled');
            }


            $("#select-all").on("click", function () {

                $('#stores-table > tbody  > tr > td:last-child > div > div:last-child label input').each(function () {
                    if ($(this).is(":checked")) {
                        var id = $(this).attr('id');
                        $(this).attr("checked", false);
                        var index = ids.indexOf(id);
                        if (index > -1) {
                            ids.splice(index, 1);
                        }
                    } else {
                        $(this).attr("checked", true);
                        ids.add($(this).attr('id'));
                    }

                });
                if (ids.length > 0) {
                    sessionStorage.setItem("farmer_ids", ids.join(";"));
                    ids = sessionStorage.getItem("farmer_ids").split(";");
                    $("#farmer_ids").val(JSON.stringify(ids));
                    $("#edit-all").removeAttr('disabled');
                    $("#remove-all").removeAttr('disabled');
                    var url = "{{ url_for(".FarmerView:remove_all_farmers", id='param') }}";
                    url = url.replace("param", JSON.stringify(ids));
                    $("#remove-all").attr('href', url);
                } else {
                    $("#edit-all").attr('disabled', 'disabled');
                    $("#remove-all").attr('disabled', 'disabled');
                }
            });
            $(".check").die("click").live("click", function () {
                var id = $(this).attr('id');
                if ($(this).is(":checked")) {
                    $(this).attr("checked", true);
                    ids.add(id);
                    sessionStorage.setItem("farmer_ids", ids.join(";"));
                    ids = sessionStorage.getItem("farmer_ids").split(";");
                } else {
                    $(this).attr("checked", false);
                    var index = ids.indexOf(id);
                    if (index > -1) {
                        ids.splice(index, 1);
                        sessionStorage.setItem("farmer_ids", ids.join(";"));
                        ids = sessionStorage.getItem("farmer_ids").split(";");
                    }

                }
                if (ids.length > 0) {
                    $("#land_ids").val(JSON.stringify(ids));
                    $("#edit-all").removeAttr('disabled');
                    $("#remove-all").removeAttr('disabled');
                    var url = "{{ url_for(".FarmerView:remove_all_farmers", id='param') }}";
                    url = url.replace("param", JSON.stringify(ids));
                    $("#remove-all").attr('href', url);
                } else {
                    $("#edit-all").attr('disabled', 'disabled');
                    $("#remove-all").attr('disabled', 'disabled');
                }
                $("#farmer_ids").val(JSON.stringify(ids))
            });


            $("#edit_form").on("submit", function () {
                sessionStorage.removeItem("farmer_ids");
            });


        });


    </script>
{% endblock %}


<table id="stores-table" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    {{ table.render_header() }}
    </thead>
    <tbody id="filter-result"></tbody>
    <tfoot id="footer">
    </tfoot>
</table>

<div id="view-wrapper">
</div>
