{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
    <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title.title()) }}</a></li>
    <li><a href="{{ url_for(view.endpoints.detail, id=form.id.data) }}">{{ view.obj }}</a></li>
    <li class="active">{{ _('Delete') }}</li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
   {% if view.obj.active == 'active' %}
        <div class="col-md-4">
            <h4>{{ _('Disactive') }} {{ _(view.title) }}</h4>
        </div>
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <div id="form-remove">
                        {% if view.canremove %}
                        <h3 style="margin-top:0;">{{ _('Are you sure want to disactive ?') }}</h3>
                        <p>
                            <h4 class="glyphicon glyphicon-alert" style="color:#f0ad4e;font-family:'Glyphicons Halflings' !important;margin-right:10px;margin-bottom:0;"></h4>
                            {{ _('This will disactive') }} {{ _(view.title) }} '{{ view.obj }}' {{ _('temporary!') }}
                        </p>
                        {{ render_form(form, action_url=url_for(view.endpoints.remove, id=form.data.id), return_url=url_for(view.endpoints.index), action_text=_('Yes'), btn_class='btn btn-danger', is_use_template=false, is_use_floating_button=false) }}
                        {% else: %}
                            <h4 style="margin-top:0;clear: both; color: #a94442;">
                                    <i class="fa fa-shield" style="margin-right: 10px;"></i>
                                    {{ _('Not allowed!') }}
                            </h4>
                            <hr>
                            <p>
                                <h4 style="color:#f0ad4e;font-family:'Glyphicons Halflings' !important;margin-right:10px;margin-bottom:0;"></h4>
                                {{ _('Cannot disactive this record !') }}
                            </p>
                            <a class="btn btn-default pull-right" href="{{ url_for(view.endpoints.index) }}">{{ _('Back') }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
   {% else %}
        <div class="col-md-4">
        <h4>{{ _('Remove') }} {{ _(view.title) }}</h4>
    </div>
        <div class="col-md-8">
        <div class="panel">
            <div class="panel-body">
                <div id="form-remove">
                    {% if view.canremove %}
                    <h3 style="margin-top:0;">{{ _('Are you sure want to remove ?') }}</h3>
                    <p>
                        <h4 class="glyphicon glyphicon-alert" style="color:#f0ad4e;font-family:'Glyphicons Halflings' !important;margin-right:10px;margin-bottom:0;"></h4>
                        {{ _('This will remove') }} {{ _(view.title) }} '{{ view.obj }}' {{ _('from your database!') }}
                    </p>
                    {{ render_form(form, action_url=url_for(view.endpoints.remove, id=form.data.id), return_url=url_for(view.endpoints.index), action_text=_('Yes'), btn_class='btn btn-danger', is_use_template=false, is_use_floating_button=false) }}
                    {% else %}
                    <h4 style="margin-top:0;">{{ _('Cannot remove this record !') }}</h4>
                    <a class="btn btn-default pull-right" href="{{ url_for(view.endpoints.index) }}">{{ _('Back') }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
   {% endif %}
</div>
{% endblock %}