﻿{% from '_macros/wtforms.html' import render_form, render_filter_form, render_field, render_error, render_filter_form_row_custom ,render_filter_form_row , render_group_field %}

<div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle visible-xs">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button id="collape-button" style="background: white; margin-left: 15px; border: 1px solid #d3dbe2" class="btn btn-default right hidden-xs" type="button">
        <i class="fa fa-bars" style="color: #0078bd;font-size: 19px"></i>
    </button>
    {% block breadcrumb %}
        <ul class="breadcrumb">
            {% for item in view.breadcrumb %}
                {% if item.url == '/' %}
                    <li><a href="{{ item['url'] }}" data-ajax="false">{{ item['title'] }}</a></li>
                {% elif item['url'] %}
                    <li><a href="{{ item['url'] }}">{{ item['title'] }}</a></li>
                {% else %}
                    <li class="active">{{ item['title'] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endblock %}
</div>
<div class="fixed-sub-content">
    {% block content %}{% endblock %}
</div>
<div class="fixed-sub-footer">
    {% block footer %}{% endblock %}
</div>

<script type="application/javascript">

    $.fn.datepicker.dates['kh'] = {
            days: ["អាទិត្យ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហស្បតិ៍", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            daysShort: ["អាទិ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏"],
            daysMin: ["អាទិ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            months: ['មករា','កុម្ភៈ','មីនា','មេសា','ឧសភា','មិថុនា','កក្កដា','សីហា','កញ្ញា','តុលា','វិចិក្កា','ធ្នូ'],
            monthsShort: ['មករា','កុម្ភៈ','មីនា','មេសា','ឧសភា','មិថុនា','កក្កដា','សីហា','កញ្ញា','តុលា','វិចិក្កា','ធ្នូ'],
        };
      $("[role=date]").datepicker({
            'language': 'kh',
            'autoclose':true,
            'format':"yyyy-mm-dd"
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate'); {#, e.date#}
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });

    $("#collape-button").on("click", function () {
        if ($(this).hasClass("right")) {
            $(".fixed-sidebar").css({"transition": "0.5s", "left": "-220px"});
            $("#content").css({"transition": "0.5s", "left": "0"});
            $(this).removeClass("right");
            $(this).addClass("left");

        } else {
            $("#content").css({"transition": "0.5s", "left": "220px"});
            $(".fixed-sidebar").css({"transition": "0.5s", "left": "0"});
            $(this).removeClass("left");
            $(this).addClass("right");
        }
    });
    $("body").on('click', '#export-table', function () {
        app.wait();
        $('.no-export').attr('data-exclude', "true");
        $('.no-print').attr('data-exclude', "true");
        var d = new Date($.now());
        var filename = $(this).attr('title');

        var new_table = jQuery("#stores-table").clone(true);
        new_table[0].setAttribute('id', new_table[0].getAttribute('id') + '-clone');
        var col_length = $('#stores-table').children('thead').children('tr').children('th').not('.no-export').length;
        var col_widths = [];
        for (var i = 1; i <= col_length; i++) {
            col_widths.push(20);
        }
        col_widths = col_widths.join(',');
        new_table[0].setAttribute('data-cols-width', col_widths);
        $('#stores-table-clone').attr('data-cols-width', col_widths);

        new_table.find('thead').find('tr').find('th').removeAttr('data-t').removeAttr('data-a-h');
        new_table.find('thead').find('tr').find('th')
            .attr('data-f-bold', "true")
            .attr('data-b-a-s', 'thin')
            .attr('data-f-name', 'Khmer OS Siemreap').attr('data-fill-color', '09af00').attr('data-f-color', 'FFFFFF');
        new_table.find('tbody').find('tr').find('td')
            .attr('data-b-a-s', 'thin')
            .attr('data-f-name', 'Khmer OS Siemreap');

        /* group-footer-header*/
        new_table.find('tbody').find('tr').find('th')
            .attr('data-b-a-s', 'thin')
            .attr('data-f-bold', "true")
            .attr('data-f-name', 'Khmer OS Siemreap');
        new_table.find('tbody').children('tr.group-footer-header').find('th').attr('colspan', col_length);
        /* group-footer-header*/

        /*group-footer2*/
        new_table.find('tbody').children('tr.group-footer2').find('th')
            .attr('data-fill-color', '3C8DBC').attr('data-f-color', 'FFFFFF');
        /*group-footer2*/


        new_table.find('tbody').find('tr').each(function () {
            //INPUT
            $(this).find('td').find('input[type="text"]').parent().html($(this).find('td').find('input[type="text"]').val());
            // SELECT
            $(this).find('td').find('select').each(function () {
                var id = $(this).attr('id');
                $(this, '#' + id).parent().html($(this).children("option:selected").text());
            });
            // SELECT 2
            $(this).find('td').children('div').each(function () {
                var id = $(this).attr('id');
                if (id !== undefined) {
                    id = id.split('-');
                    id[1] = 'editor-container';
                    id = id.join('-');
                    $(this).parent().html($('span#select2-' + id).text());
                }

            });
        });

        /*TableToExcel.convert(new_table[0], {
            name: filename + d.getFullYear() + d.getMonth() + d.getDate() + d.getHours() + +d.getMinutes() + d.getSeconds() + ".xlsx",
            sheet: {
                name: "Data"
            }
        });

         */
        app.ready();



    })
</script>

{% block script %}
{#    <script src="{{ url_for('share.static', filename='scripts/jquery.bonsai.js') }}"></script>#}
{% endblock %}