{% from '_macros/wtforms.html' import render_form, render_filter_form, render_field, render_error, render_filter_form_row_custom ,render_filter_form_row , render_group_field %}
{% set v='1.0.0' %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ view.title if view else request.args.get('view').title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('share.static', filename='images/logo_CAVAC.jpg') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('share.static', filename='bootstrap/css/bootstrap.min.css') }}?v={{ v }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/site2.css') }}?v={{ v }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('share.static', filename='styles/table.min.css') }}?v={{ v }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('share.static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}?v={{ v }}"/>
    <!-- Datepicker -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('share.static', filename='helpers/datetime-picker/jquery.timepicker.css') }}?v={{ v }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('share.static', filename='helpers/datetime-picker/lib/bootstrap-datepicker.css') }}?v={{ v }}"/>
    <!--select2-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('share.static', filename='helpers/select2/css/select2.custom.css') }}" ?v={{ v }}/>
    <script src="{{ url_for('share.static', filename='scripts/jquery-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('share.static', filename='scripts/jquery-migrate-1.2.1.min.js') }}"></script>
    <!-- scrollbar -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('share.static', filename='helpers/scrollbar/jquery.mCustomScrollbar.min.css') }}?v={{ v }}"/>

    <script src="{{ url_for('share.static', filename='helpers/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery.qubit.js') }}"></script>

    {#    {{ render_widget('style')|safe }}#}
</head>
<body>
<div id="fb-root"></div>
<div id="wrapper">
    <a id="redirect-url" style="display:none;" href="#" redirect="true"></a>
    <div class="fixed-sidebar-modal"></div>
    <div class="fixed-sidebar">
        {% include "sidebar.html" ignore missing %}
    </div>
    <div id="content" class="fixed-content">
        <div class="navbar navbar-default navbar-fixed-top" style="z-index: 1;">

            <button id="collape-button" style="background: white; margin-left: 15px; border: 1px solid #d3dbe2"
                    class="btn btn-default right hidden-xs" type="button">
                <i class="fa fa-bars" style="color: #0078bd;font-size: 19px"></i>
            </button>


            <button type="button" class="navbar-toggle visible-xs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% block breadcrumb %}
                <ul class="breadcrumb">
                    {% for item in view.breadcrumb %}
                        {% if item.url == '/' %}
                            <li><a href="{{ item['url'] }}" data-ajax="false">{{ item['title'] }}</a></li>
                        {% elif item['url'] %}
                            <li><a href="{{ item['url'] }}">{{ item['title'] }}</a></li>
                        {% else %}
                            <li class="active">{{ item['title'] }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
        <div class="fixed-sub-content">
            <a id="goto-dashboard" style="display:none;" href="{{ redirect_url }}">Dashboard</a>
            {% block content %}{% endblock %}
        </div>
        <div class="fixed-sub-footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
</div>
<div id="notification" style="display: none;" class="no-print">
    <span class="notification-message"></span>
    <span class="dismiss"><a title="dismiss this notification"><i class="fa fa-times" aria-hidden="true"></i></a></span>
</div>
<div id="modal-callback" style="display:none">
</div>

<div id="loading" class="overlay no-print" style="transition:none;z-index:10000;">
    <div class="overlay-content">
        <div style="top:0;right:0;bottom:0;left:0;margin:auto;width:140px;height:100px;border-radius:4px;background:#fff;box-shadow:0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);">
            <div class="loader"></div>
            <span style="top:30px;position:relative;">{{ _('Loading...') }}</span>
        </div>
    </div>
</div>

<div id="modal-unauthorized" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title text-danger"><i class="fa fa-shield"></i>{{ _('Unauthorized') }}</h4>
            </div>
            <div class="modal-body"><p>{{ _('You do not have permission for this.') }}</p></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-error" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title text-danger"><i class="fa fa-shield"></i>{{ _('Oops') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ _('Something goes wrong!') }}</p>
                <code>{text}</code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Core -->
<script
        src="{{ url_for('share.static', filename='scripts/application.js') }}"></script>
<script src="{{ url_for('share.static', filename='scripts/jquery-ui-1.11.4/jquery-ui.js') }}?v={{ v }}"></script>
<script src="{{ url_for('share.static', filename='scripts/jquery.unobtrusive-ajax.js') }}?v={{ v }}"></script>

<script src="{{ url_for('share.static', filename='scripts/jquery.validate.min.js') }}?v={{ v }}"></script>
<script src="{{ url_for('share.static', filename='scripts/jquery.validate.unobtrusive.min.js') }}?v={{ v }}"></script>
<script src="{{ url_for('share.static', filename='scripts/jquery.bonsai.js') }}"></script>
<script src="{{ url_for('share.static', filename='bootstrap/js/bootstrap.min.js') }}?v={{ v }}"></script>
<script src="{{ url_for('share.static', filename='scripts/bootstrap-validator.js') }}?v={{ v }}"></script>
<script src="{{ url_for('share.static', filename='scripts/respond.js') }}?v={{ v }}"></script>
{#<script src="{{ url_for('share.static', filename='scripts/table-to-excel.js') }}?v={{ v }}"></script>#}
<script src="{{ url_for('share.static', filename='helpers/select2/js/select2.js') }}?v={{ v }}"></script>
<!--prototype-->
<script src="{{ url_for('share.static', filename='scripts/prototype.js') }}?v={{ v }}"></script>
<!-- date picker -->
<script src="{{ url_for('share.static', filename='helpers/datetime-picker/lib/bootstrap-datepicker.js') }}?v={{ v }}"
        charset="UTF-8"></script>
<!-- clipboard -->
<script src="{{ url_for('share.static', filename='scripts/clipboard.min.js') }}?v={{ v }}"></script>
<!-- bar code -->
<script src="{{ url_for('share.static', filename='scripts/jquery-barcode.js') }}?v={{ v }}"></script>
<!-- qr code-->
<script src="{{ url_for('share.static', filename='scripts/jquery-qrcode-0.14.0.min.js') }}?v={{ v }}"></script>
<!-- amcharts -->
<script src="{{ url_for('share.static', filename='scripts/amcharts-3.19.4/amcharts/amcharts.js') }}?v={{ v }}"></script>
<script src="{{ url_for('share.static', filename='scripts/amcharts-3.19.4/amcharts/serial.js') }}?v={{ v }}"></script>
<!--Table to excel-->
<script type="text/javascript" src="{{ url_for('share.static', filename='scripts/tableToExcel.js') }}"></script>

{#{{ render_widget('script')|safe }}#}


<script type="application/javascript">
    /*Datetime*/
       $.fn.datepicker.dates['kh'] = {
            days: ["អាទិត្យ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហស្បតិ៍", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            daysShort: ["អាទិ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏"],
            daysMin: ["អាទិ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            months: ['មករា','កុម្ភៈ','មីនា','មេសា','ឧសភា','មិថុនា','កក្កដា','សីហា','កញ្ញា','តុលា','វិចិក្កា','ធ្នូ'],
            monthsShort: ['មករា','កុម្ភៈ','មីនា','មេសា','ឧសភា','មិថុនា','កក្កដា','សីហា','កញ្ញា','តុលា','វិចិក្កា','ធ្នូ'],
        };
         $("[role=date]").datepicker({
            'language': 'kh',
            'autoclose':true,
            'format':"yyyy-mm-dd"
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate'); {#, e.date#}
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });


    $('.modal-backdrop').remove();
    $("#collape-button").on("click", function () {
        if ($(this).hasClass("right")) {
            $(".fixed-sidebar").css({"transition": "0.5s", "left": "-220px"});
            $("#content").css({"transition": "0.5s", "left": "0"});
            $(this).removeClass("right");
            $(this).addClass("left");

        } else {
            $("#content").css({"transition": "0.5s", "left": "220px"});
            $(".fixed-sidebar").css({"transition": "0.5s", "left": "0"});
            $(this).removeClass("left");
            $(this).addClass("right");
        }
    });

</script>

<script>
    $("body").on('click', '#export-table', function () {
        app.wait();
        $('.no-export').attr('data-exclude', "true");
        $('.no-print').attr('data-exclude', "true");
        var d = new Date($.now());
        var filename = $(this).attr('title');

        var new_table = jQuery("#stores-table").clone(true);
        new_table[0].setAttribute('id', new_table[0].getAttribute('id') + '-clone');
        var col_length = $('#stores-table').children('thead').children('tr').children('th').not('.no-export').length;
        var col_widths = [];
        for (var i = 1; i <= col_length; i++) {
            col_widths.push(20);
        }
        col_widths = col_widths.join(',');
        new_table[0].setAttribute('data-cols-width', col_widths);
        $('#stores-table-clone').attr('data-cols-width', col_widths);

        new_table.find('thead').find('tr').find('th')
            .attr('data-f-bold', "true")
            .attr('data-b-a-s', 'thin')
            .attr('data-f-name', 'Kh Battambang');
        new_table.find('tbody').find('tr').find('td')
            .attr('data-b-a-s', 'thin')
            .attr('data-f-name', 'Kh Battambang');
        new_table.find('tbody').find('tr').each(function () {
            //INPUT
            $(this).find('td').find('input[type="text"]').parent().html($(this).find('td').find('input[type="text"]').val());
            // SELECT
            $(this).find('td').find('select').each(function () {
                var id = $(this).attr('id');
                $(this, '#' + id).parent().html($(this).children("option:selected").text());
            });
            // SELECT 2
            //$(this).find('td').find('div').find('select').each(function () {
            //   var id = $(this).attr('id');
            //console.log($(this));
            // console.log($(this).children('option').text());
            // $(this, '#' + id).parent().parent().html($(this).text());
            // });
            $(this).find('td').children('div').each(function () {
                var id = $(this).attr('id');
                if (id !== undefined) {
                    id = id.split('-');
                    id[1] = 'editor-container';
                    id = id.join('-');
                    $(this).parent().html($('span#select2-' + id).text());
                }

            });
        });

        TableToExcel.convert(new_table[0], {
            name: filename + d.getFullYear() + d.getMonth() + d.getDate() + d.getHours() + +d.getMinutes() + d.getSeconds() + ".xlsx",
            sheet: {
                name: "Data"
            }
        });
        app.ready();

    })

</script>
{% block script %}{% endblock %}
</body>
</html>
