﻿{% from '_macros/wtforms.html' import render_form,render_filter_form,render_field,render_error %}
<!-- Modal --> 
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{_(view.title)}}</h4>
        </div>
        <div class="modal-body">
            {% block content %}{% endblock %}
        </div>
        <!--<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
        <script type="text/javascript">
            $(document).ready(function () {
                var mid = "{{ request.args.get('x-modal-id') }}";
                $("#" + mid + " a").attr("data-modal-target", "#" + mid);
                $("#" + mid + " form").attr("data-modal-target", "#" + mid)
                                      .attr("data-ajax-update", "#modal-callback");
                $("#" + mid + " .btn-return").attr("href",null).attr("data-dismiss", "modal");
            });
        </script>
    </div>
</div> 
{% block script %}{% endblock %}