﻿<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>BILL24</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{{ url_for('.static', filename='images/logo.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='styles/payment.css') }}" />
</head>
<body>
    {% block content %}{% endblock %}
    <div id="modal-callback" style="display:none">
    </div>
    <!-- Core -->
    <script src="{{ url_for('.static', filename='scripts/jquery-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='scripts/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='scripts/jquery.unobtrusive-ajax.js') }}"></script>

    <script src="{{ url_for('.static', filename='scripts/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='scripts/jquery.validate.unobtrusive.min.js') }}"></script>

    <script src="{{ url_for('.static', filename='scripts/bootstrap.js') }}"></script>
    <script src="{{ url_for('.static', filename='scripts/bootstrap-validator.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            app = {};
            // waiting & ready
            app.skip_wait = false;
            app.wait = function (text) {
                if (app.skip_wait) {
                    app.skip_wait = false;
                    return;
                }
                if ($("#wait").length == 0) {
                    var display = text || "waiting...";
                    var wait = $('<div id="wait" style="z-index:1000;position:fixed;top:0;right:0;bottom:0;left:0;margin:auto;' +
                                                       'width:140px;height:100px;border-radius:4px;' +
                                                       'background:#fff;box-shadow:0px 0px 2px 0px rgba(0,0,0,0.12),0px 2px 2px 0px rgba(0,0,0,0.24);">' +
                                 '<div class="loader"></div>' +
                                 '<div style="position:absolute;bottom:0;width:100%;text-align:center;padding:8px;">Loading ...</div></div>');
                    $("body").append(wait);
                }
                else {
                    $("#wait").show();
                }
            };
            app.ready = function () {
                $("#wait").hide();
            };
        });
    </script>

    {% block scripts %}{% endblock %}
</body>
</html>