<div class="sidebar">
    <div class="sidebar-header clearfix">
        <img class="pull-left" src="{{ url_for('share.static', filename='images/b24_logo.png') }}" />
        <h4>BILL 24</h4>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                {{ current.user().full_name }}
                <span class="caret" style="margin-left:5px;"></span>
            </a>
            <ul class="dropdown-menu" style="width:100%;">
                <li style="text-align:center;">
                    {% if user.picture %}
                    <div style="width:50px;height:50px;border-radius:100%;overflow:hidden;display:inline-block;margin:5px;">
                        <img src="{{ user.picture }}" style="width:100%;height:100%;margin:0;object-fit:contain;" />
                    </div>
                    {% else %}
                    <i class="fa fa-user-circle fa-3x" style="color:#337ab7;margin:5px;"></i>
                    {% endif %}
                    <span style="color:black;display:block;">{{ user.email or '' }}</span>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{url_for('SecurityView:profile')}}" data-ajax="false">
                        <i class="fa fa-user-o"></i>
                        {{ _('My Profile') }}
                    </a>
                </li>
                <li>
                    <a href="{{url_for('SecurityView:change_password')}}" data-ajax="false">
                        <i class="fa fa-key"></i>
                        {{ _('Change Password') }}
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{url_for('SecurityView:logout')}}" data-ajax="false">
                        <i class="fa fa-sign-out"></i>
                        {{ _('Logout') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-body">
        <ul>
            {% for link in nav_for('sidebar') %}
            <li>
                {% if not link.custom_render: %}
                    {% if not link.children %}
                    <a id="{{ link.id }}" href="{{link.href}}">
                        <i class="{{link.icon}}"></i>
                        {{link.title}}
                    </a>
                    {% else %}
                        <a id="{{ link.id }}">
                            {{link.title}}
                        </a>
                        <ul>
                        {% for sub_link in link.children %}
                            <li>
                                {{ sub_link.render()|safe }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% else %}
                    {{ link.render()|safe }}
                {% endif %}
            </li>

            {% endfor %}
         </ul>
    </div>
</div>