<div class="sidebar hidden-print">
    <div class="sidebar-header clearfix">
        <img class="pull-left" src="{{ current.company().logo if current.company().logo else url_for("share.static",filename="images/default_logo.png") }}" />
        <h4>{{ current.company() }}</h4>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                {{ current.user().full_name }}
                <span class="caret" style="margin-left:5px;"></span>
            </a>
            <ul class="dropdown-menu" style="width:100%;">
                {{ render_widget('sidebar-profile')|safe }}
            </ul>
        </div>
    </div>
    <div class="sidebar-body">
        <ul>
            {{ render_widget('sidebar')|safe }}
        </ul>
    </div>
    <div class="sidebar-footer">
        <div class="dropup">
            <a class="dropdown-toggle" data-toggle="dropdown">
                {% if session.get('language') == 'km' %}
                {#<img src="{{ url_for('static', filename='images/flags/cambodia.svg') }}" style="height:24px;margin-right:10px;vertical-align:bottom;" />#}
                {{ _('Khmer') }}
                {% elif session.get('language') == 'en' %}
                {#<img src="{{ url_for('static', filename='images/flags/united-kingdom.svg') }}" style="height:24px;margin-right:10px;vertical-align:bottom;" />#}
                {{ _('English') }}
                {% else %}
                    {{ _('Khmer') }}
                {% endif %}
                <span class="caret" style="margin-left:5px;"></span>
            </a>
            <ul class="dropdown-menu" style="width:100%;">
                <li>
                    <a href="{{ url_for('language', code='km') }}" data-ajax="false">
                        {#<img src="{{ url_for('share.static', filename='images/flags/cambodia.svg') }}" style="height:24px;margin-right:10px;vertical-align:bottom;" />#}
                        {{ _('Khmer') }}
                    </a>
                    <a href="{{ url_for('language', code='en') }}" data-ajax="false">
                        {#<img src="{{ url_for('share.static', filename='images/flags/united-kingdom.svg') }}" style="height:24px;margin-right:10px;vertical-align:bottom;" />#}
                        {{ _('English') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
