{% extends '%s-layout.html'%session.get('layout','breadcrumb-layout') %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.BillingView:index') }}" data-ajax="false">{{ _('Billing') }}</a>

        <li><a href="{{ url_for('.BillingView:detail',id=obj.billing_id) }}">{{ obj.billing }}</a></li>
        {% if not land_data %}
            <li>
                <a href="{{ url_for('.VerifyBillingView:index',billing_id = obj.billing_id) }}">{{ _("Verify Billing") }}</a>
            </li>
        {% else %}
            <li>
                <a href="{{ back_url }}">{{ land_data }}</a>
            </li>
        {% endif %}
        <li class="active">{{ _('Contract Preview') }} - {{ obj.contract_number }}</li>
    </ul>
    <div class="action">
        <a href="#" data-ajax="false" id="print-button" class="btn btn-danger"><i
                class="fa fa-print"></i>{{ _('Print') }}</a>
    </div>
{% endblock %}

{% block content %}
    <iframe id="iframe" frameborder="0" onload="resizeIframe(this)" scrolling="no"
            style="border:0;width:100%;height:100%;" src="{{ contract_content_url }}"></iframe>
{% endblock %}

{% block script %}
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }

        $(document).ready(function () {

            $("#iframe").load(function () {
                //$("#contract-content").html($("#iframe").contents().find("body").html());
            });

            $("#print-button").click(function (e) {
                e.preventDefault();
                $("#iframe").get(0).contentWindow.print();
                return false;
            });
        });
    </script>
{% endblock %}
{% block footer %}
    <div class="action">
        <a role="button" class="btn btn-default no-print"
           href="{{ back_url }}">{{ _('Back') }}</a>
    </div>
{% endblock %}


