{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li>{{ view.obj }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_text='', edit_url=url_for(view.endpoints.edit, id=form.data.id), return_url=url_for(view.endpoints.index), return_text=_('Back'), is_use_template=false) %}
        <div id="form-detail">
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Block Information') }}</h4>
                    <p>{{ _('Provide informaion of block.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel no-margin-bottom">
                        <div class="panel-body">
                             <div class="row">
                            <div class="col-md-3">
                                {{ render_field(form.code) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.name) }}
                            </div>
                             <div class="col-md-3">
                                {{ render_field(form.gm_block) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.station_id) }}
                            </div>
                            <div class="col-md-12">
                                {{ render_field(form.note) }}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $("#form-detail input, #form-detail select, #form-detail textarea, #form-detail button").attr("disabled", "disabled");
        });
    </script>
{% endblock %}