{% extends '%s-layout.html'% session.get('layout', 'breadcrumb') %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.BillingView:index') }}">{{ _("Billing") }}</a></li>
        <li><a href="{{ view.back_url }}">{{ _(view.billing_name) }}</a></li>
        <li class="active">{{ _(view.title) }}</li>
    </ul>
    <div class="action">
        <button class="btn btn-success" data-toggle="modal" data-target="#AddNewModal" id="add-new"
                role="button"><i class="fa fa-plus-circle"></i> {{ _("Add Farmer") }}</button>
        <button class="btn btn-warning" data-toggle="modal" data-target="#AddNewBlockModal" id="add-new-block"
                role="button"><i class="fa fa-plus-circle"></i> {{ _("Add Block") }}</button>

        <a class="btn btn-primary" role="button" id="print-all-button" data-ajax="false"><i
                class="glyphicon glyphicon-print"> </i> {{ _('Print All Agreements') }}</a>
         {% if view.obj.billing_status_id == 'verified' %}
            <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#myModal">{{ _('Process Billing') }}</button>
        {% endif %}
        <a class="btn btn-info" role="button"
           href="{{ url_for(view.endpoints.verify_all,billing_id=form.billing_id.data,back_url=url_for('BillingView:detail',id=form.billing_id.data)) }}">{{ _('Verify All') }}</a>
        <a id="export-table" class="btn" style="background-color: #1F6F43; color:#FFFFFF;" data-ajax="false"
           title="{{ view.title }}">
           <i class="fa fa-file-excel-o"></i> {{ _('Export') }}
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="tab">
        <ul class="nav nav-tabs no-print">
            <li class="active"><a data-toggle="tab" href="#section" data-ajax="false">{{ _(view.title) }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="section" class="tab-pane fade in active">
                <div class="box-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-10 text-left">
                                    <div class="dataTables_filter" id="{{ sid }}-wrapper">
                                        {{ render_filter_form(form, action_url=url_for(view.endpoints.filter, offset=0), ajax_update='#filter-result') }}
                                    </div>
                                </div>
                            </div>
                            <div class="well well-sm print-only visible-print">
                                <div class="row bold">
                                    <div class="col-xs-12">
                                        <div class="bold">
                                            <h1 class="header-text">{{ view.title }} {{ _('Report') }}</h1>
                                            {{ _('Date') }}: <span id="filter-d1"></span><br/>
                                            {{ _('Store') }}: <span>{{ session['current_store_name'] }}</span><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="stores-table" class="ui compact striped basic table print-table">
                                <thead>
                                {{ table.render_header() }}
                                </thead>
                               <tbody id="filter-result">
                                {% block filter_result %}
                                    {{ filter_result | safe }}
                                {% endblock %}
                                </tbody>

                                <tfoot id="footer">
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if view.addnew_form %}
        <div class="modal fade" id="AddNewModal" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ _('Farmer') }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">

                                {% call render_form(view.addnew_form, id='addnew_form',action_url=url_for('.VerifyBillingView:addNew'), action_text=_('Save'),is_use_template=false,is_use_floating_button=false, pull_class='row pull-right') %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ render_field(view.addnew_form.farmer_id) }}
                                        </div>
                                    </div>

                                {% endcall %}


                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    {% endif %}
    {% if view.addnewblock_form %}
        <div class="modal fade" id="AddNewBlockModal" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ _('Block') }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">

                                {% call render_form(view.addnewblock_form, id='addnewblock_form',action_url=url_for('.VerifyBillingView:addNewBlock'), action_text=_('Save'),is_use_template=false,is_use_floating_button=false, pull_class='row pull-right') %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ render_field(view.addnewblock_form.block_id) }}
                                        </div>
                                    </div>

                                {% endcall %}


                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ _('Date') }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% if view.obj.billing_status_id !='close' %}
                                {% call render_form(view.process_form, id='form-process', action_url=view.action_url,action_text= _('continue'), is_use_template=false,is_use_floating_button=false, pull_class='row pull-right') %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ render_field(view.process_form.issue_date) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(view.process_form.due_date) }}
                                        </div>
                                    </div>

                                {% endcall %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}

    <script language="javascript">


        $(document).ready(function () {
            $('body div').removeClass('modal-backdrop fade in');


            $("#{{sid}}-wrapper input").keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    $("#{{sid}}-wrapper form").submit();
                    return false;
                }
            });

            $("#{{sid}}-wrapper .date").change(function (e) {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper select").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper hidden").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#print-button").click(function () {
                $("#filter-d1").text('{{ d1|format_date }}');
                window.print();
            });

            $("#block_id").on("change", function () {
                block_id = $('#block_id').val();
                disable_print();
            }).change();

            function setURL() {
                var url = "{{url_for('.VerifyBillingView:preview_pdf',billing_id='param_billing_id',block_id ='param_block_id')}}";
                url = url.replace("param_billing_id", '{{ view.billing_id }}');
                url = url.replace("param_block_id", block_id);
                $("#print-all-button").attr("href", url);
            }

            disable_print();

            /*disable print all button*/
            function disable_print() {
                if (($("#block_id").val() != "__None")) {
                    $("#print-all-button").removeAttr("disabled");
                    setURL();
                    $('#print-all-button').die().live('click', function () {
                        $(this).attr('href');
                        app.wait();
                        $.ajax({
                            url: $(this).attr('href')
                        }).done(function (url) {
                            app.ready();
                            window.open(url, '_blank');
                        })
                        return false;

                    });

                } else {
                    $("#print-all-button").attr("disabled", "disabled");
                    $("#print-all-button").removeAttr("href");
                }
            }


            //$('.btn-preview').die().live('click', function () {
            $(".btn.btn-default.btn-sm.dropdown-toggle").live('click', function (e) {
                //$('.dropdown-menu > li > a').attr("data-ajax","false");
            });
            $('.dropdown-menu > li > a').die().live('click', function () {
                /* $.ajax({
                     url: $(this).attr('href')
                 }).done(function (url) {
                     window.open(url, '_blank');
                 })
                 return false;*/
            });


        });


    </script>
{% endblock %}


<table id="stores-table" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    {{ table.render_header() }}
    </thead>
    <tbody id="filter-result"></tbody>
    <tfoot id="footer">
    </tfoot>
</table>

<div id="view-wrapper">
</div>


{% block footer %}
    {% if view.back_url %}
        <div class="action">
            <a role="button" class="btn btn-default no-print"
               href="{{ view.back_url }}">{{ _('Back') }}</a>
        </div>
    {% endif %}
{% endblock %}