{% extends '%s-layout.html'% session.get('layout', 'breadcrumb') %}

{% from '_macros/pagination_cus.html' import render_modern %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.BillingView:index') }}">{{ _("Billing") }}</a></li>
        <li><a href="{{ back_url }}">{{ _(billing.name) }}</a></li>
        <li class="active">{{ _(title) }}</li>
    </ul>
    <div class="action">
        <a class="btn btn-primary" role="button" id="print-all-button" data-ajax="false"><i
                class="glyphicon glyphicon-print"> </i> {{ _('Print All Agreements') }}</a>
        <a id="export-table" class="btn" style="background-color: #1F6F43; color:#FFFFFF;" data-ajax="false"
           title="{{ view.title }}"
        >
            <i class="fa fa-file-excel-o"></i>
            {{ _('Export') }}
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="tab">
        <ul class="nav nav-tabs no-print">
            <li class="active"><a data-toggle="tab" href="#section"
                                  data-ajax="false">{{ _('All') }}</a></li>
        </ul>


        <div class="tab-content">
            <div id="section" class="tab-pane fade in active">
                <div class="box-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-10 text-left">
                                    {{ render_filter_form(form,id='filter-form', action_url=url_for('.VerifyBillingView:land_data',billing_id=billing_id)) }}
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm print-only visible-print" style="margin-bottom:30px;">
                            <div class="row bold">
                                <div class="col-xs-12">
                                    <div class="bold">
                                        <img src="{{ url_for('share.static', filename='images/logo_cavac.png') }}"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <form id="form" method="post">
                            <table style="padding:0px 10px 0px 10px;" id="stores-table"
                                   class="ui compact striped basic table print-table">
                                <thead>
                                {{ table.render_header() }}
                                </thead>
                                <tbody id="filter-result">

                                {{ table.render_rows() }}
                                {{ render_modern(pagging,'.VerifyBillingView:land_data',billing_id=billing_id) }}

                                </tbody>
                                <tfoot id="footer">
                                </tfoot>
                            </table>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script language="javascript">


        $(document).ready(function () {
            $('body div').removeClass('modal-backdrop fade in');
            // on load

            $("#{{sid}}-wrapper form").submit();

            $("#{{sid}}-wrapper input").keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    $("#{{sid}}-wrapper form").submit();
                    return false;
                }
            });

            $("#{{sid}}-wrapper .date").change(function (e) {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper select").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper hidden").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });


            $("#print-button").click(function () {
                $("#filter-d1").text('{{ d1|format_date }}');
                window.print();
            });

            {#var block_id = '';#}
            function setURL() {
                var url = "{{url_for('.VerifyBillingView:preview_pdf_verify',billing_id='param_billing_id',block_id ='param_block_id')}}";
                url = url.replace("param_billing_id", '{{ billing_id }}');
                url = url.replace("param_block_id", block_id);
                $("#print-all-button").attr("href", url);
            }

            disable_print();

            $("#block_id").on("change", function () {
                block_id = $('#block_id').val();
                disable_print();
                $("form#filter-form").submit();
            });


            /*disable print all button*/
            function disable_print() {
                block_id = $('#block_id').val();
                if (($("#block_id").val() != "__None")) {
                    $("#print-all-button").removeAttr("disabled");
                    setURL();
                    $('#print-all-button').die().live('click', function () {
                        $(this).attr('href');
                        app.wait();
                        $.ajax({
                            url: $(this).attr('href')
                        }).done(function (url) {
                            app.ready();
                            window.open(url, '_blank');
                        });
                        return false;
                    });

                } else {
                    $("#print-all-button").attr("disabled", "disabled");
                    $("#print-all-button").removeAttr("href");
                }

            }


            //$('.btn-preview').die().live('click', function () {
            $(".btn.btn-default.btn-sm.dropdown-toggle").live('click', function (e) {
                //$('.dropdown-menu > li > a').attr("data-ajax","false");
            });
            $('.dropdown-menu > li > a').die().live('click', function () {
                /* $.ajax({
                     url: $(this).attr('href')
                 }).done(function (url) {
                     window.open(url, '_blank');
                 })
                 return false;*/
            });
        });

    </script>
{% endblock %}


{% block footer %}
    {% if view.back_url %}
        <div class="action">
            <a role="button" class="btn btn-default no-print"
               href="{{ view.back_url }}">{{ _('Back') }}</a>
        </div>
    {% endif %}
{% endblock %}
