{% extends '%s-layout.html'% session.get('layout', 'breadcrumb') %}


{% from '_macros/pagination_cus.html' import render_modern %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}">{{ _('Home') }}</a></li>
        {#        <li><a href="{{ url_for('.BillingView:detail',id = id) }}">{{ billing.name }}</a></li>#}
        <li><a href="{{ url_for('.BillingView:index') }}">{{ _('Billing') }}</a></li>
        <li><a href="{{ url_for('.BillingView:detail',id=billing.id) }}">{{ billing.name }}</a></li>
        <li><a href="{{ url_for('.VerifyBillingView:index',billing_id = billing.id) }}">{{ _("Verify Billing") }}</a>
        </li>
        <li>{{ _("Edit") }}</li>
    </ul>
    <div class="action">
        <div class="btn-group" role="group">
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                    <a id="export-table" data-ajax="false" href="#"
                       onclick="javascript: fnExcelReport(this.id, 'List Invoice', 'stores-table');"><i
                            class="fa fa-file-excel-o"></i>{{ _('Export') }}</a>
                </li>
                <li>
                    <a id="print-button" href="#" data-ajax="false">
                        <i class="fa fa-print"></i>
                        {{ _('Print') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            {{ _("Billing Cycle") }}
                        </div>
                        <div class="col-md-3">
                            {{ _("Billing") }}
                        </div>
                        <div class="col-md-3">
                            {{ _("From") }}
                        </div>
                        <div class="col-md-3">
                            {{ _("To") }}
                        </div>

                        <div class="col-md-3">
                            <input type="text" readonly class="form-control" value="{{ billing.billing_cycle }}">
                        </div>

                        <div class="col-md-3">
                            <input type="text" readonly class="form-control" value="{{ billing.name }}">
                        </div>
                        <div class="col-md-3">
                            <input type="text" readonly class="form-control"
                                   value="{{ billing.start_date | format_date() }}">
                        </div>
                        <div class="col-md-3">
                            <input type="text" readonly class="form-control"
                                   value="{{ billing.end_date | format_date() }}">
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tab">
        <ul class="nav nav-tabs no-print">
            <li class="active"><a data-toggle="tab" href="#section"
                                  data-ajax="false">{{ _('All') }}</a></li>
        </ul>


        <div class="tab-content">
            <div id="section" class="tab-pane fade in active">
                <div class="box-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-10 text-left">
                                    {#                                    {{ render_filter_form(form, action_url=url_for('.VerifyBillingView:verify_billing',id=id)) }}#}
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm print-only visible-print" style="margin-bottom:30px;">
                            <div class="row bold">
                                <div class="col-xs-12">
                                    <div class="bold">
                                        <img src="{{ url_for('share.static', filename='images/logo_cavac.png') }}"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <form id="form" method="post">
                            <table style="padding:0px 10px 0px 10px;" id="stores-table"
                                   class="ui compact striped basic table print-table">
                                <thead>
                                {{ table.render_header() }}
                                </thead>
                                <tbody id="filter-result">

                                {{ table.render_rows() }}
                                {{ render_modern(pagging,'.VerifyBillingView:view_land_by',block_id=block_id,farmer_id=farmer_id,billing_id=billing_id,back_url=back_url) }}

                                </tbody>
                                <tfoot id="footer">
                                </tfoot>
                            </table>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    <div class="action">
        <a role="button" class="btn btn-default no-print"
           href="{{ back_url }}">{{ _('Back') }}</a>
        <button class="btn btn-default btn-primary no-print" id="save"
                type="submit">{{ _('Save') }}</button>
    </div>
{% endblock %}


{% block script %}
    <script>


        $(document).ready(function () {
            $("table tbody#filter-result tr td > div.form-group").css({'margin': '0px', 'width': '200px'});
        });

        $("#save").click(function () {
            var lands = [];
            var trs = $("#stores-table tbody#filter-result tr").not(":last-child");

            trs.each(function (i, e) {

                var tr = $(e);
                var obj = app.fn.object.read(tr);
                var keys = Object.keys(obj);
                var land = {
                    'id': obj[keys[0]],
                    'block_id': obj[keys[1]],
                    'farmer_id': obj[keys[5]],
                    'rent_id': obj[keys[9]],
                    'area': obj[keys[10]],
                    'status_id': obj[keys[11]],
                    'tariff_id': obj[keys[12]]
                };

                if( land.id != undefined){
                     lands.push(land);
                }
            });
            $("#form").submit(function () {
                $.ajax({
                    url: "{{ url_for('.LandView:update')}}",
                    type: 'POST',
                    data: JSON.stringify({"lands": lands, "billing_id": "{{ billing.id }}"}),
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        if (resp == 'updated') {
                            app.ready();
                            app.notification("{{ _('update successfully') }}");
                        }
                    },
                    error: function (e) {
                    }
                });
            });
            $("#form").submit();
        })


    </script>
{% endblock %}
