{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li class="active">{{ _('Dashboard') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% if images %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ _("Photos Gallary") }}</div>
                <div class="panel-body">
                    <div class="row">
                        {% for image in images %}
                            <div class="col-md-3" style="margin-bottom: 10px">
                                <img src="{{ image }}" class="img-rounded img-responsive" style="width: 100%; height: 200px;">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
      {% endif %}
      {% if company.biology and company.biology!='-' %}
        <div class="row">
            <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ _("Biology of company") }}</div>
                <div class="panel-body" style="overflow:scroll; overflow-x: hidden; height:300px;">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                {{ company.biology | safe }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
    {% if company.ext__files %}

        <div class="row">
            <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ _("Documents") }}</div>
                <div class="panel-body" style="overflow:scroll; overflow-x: hidden; height:300px;">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                {{ render_field(form.ext__files, label_visible=false) }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
    </div>


    <style>
        .nav-tabs li > a {
            padding: 0 10px;
        }

        .nav-pills li > a {
            padding: 0 10px;
        }
    </style>
    {#<div class="row">#}
    {#    {{ render_widget('dashboard')|safe }}#}
    {#</div>#}
    <!-- test modal -->
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $("#open-file-dialog").hide();
        });
    </script>
{% endblock %}
