{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.SettingView:index') }}">{{ _('Setting') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li class="active">{{ _('Add') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.add),action_text=_('Save'), return_url=url_for(view.endpoints.index), is_use_template=False) %}
        <div class="row">
            <div class="col-md-3">
                <h4>{{ _('District Information') }}</h4>
                <p>{{ _('Provide Information of District.') }}</p>
            </div>
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ render_field(form.parent_id) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.code) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.latin_name) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}



