{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.SettingView:index') }}">{{ _('Setting') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li><a href="{{ url_for(view.endpoints.detail, id=form.id.data) }}">{{ view.obj }}</a></li>
        <li class="active">{{ _('Edit') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.edit,id=form.data.id), return_url=url_for(view.endpoints.index), action_text=_('Save'), is_use_template=false) %}
        <div id="form-edit">
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('District Information') }}</h4>
                    <p>{{ _('Provide information of District.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel no-margin-bottom">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ render_field(form.parent_id) }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(form.code) }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(form.name) }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(form.latin_name) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}