{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
<div class="col-xs-12 col-sm-6 col-md-6 padding-zero">
    <div class="breadcrumb-header">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.HomeView:home')}}" data-ajax="false">{{_('Home')}}</a></li>
            <li class="active">{{ _(view.title) }}</li>
        </ul>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 padding-zero">
    <div class="pull-right">
        <a href="{{ url_for(view.endpoints.add) }}" role="button" alt="add" class="btn btn-primary popup" data-ajax="false">{{ _('Add') }} {{ _(view.title) }}</a>
        <div class="btn-group btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-expanded="false">
                {{ _('Actions') }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a id="export-table" data-ajax="false" href="#"
                       onclick="javascript: fnExcelReport(this.id, '{{ view.title }}', 'stores-table');"><i class="fa fa-file-excel-o"></i>{{ _('Export') }}</a>
                </li>
                <li><a href="#"><i class="fa fa-file-excel-o"></i>{{ _('Import') }}</a></li>
                <li class="divider"></li>
                <li><a href="#" data-ajax="false" id="print-button"><i class="fa fa-print"></i>{{ _('Print') }}</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="ep-tabs-panel">
    <ul class="nav nav-tabs no-print">
        <li class="active"><a data-toggle="tab" href="#section" data-ajax="false">{{ _('All') }} {{ _(view.title) }}</a></li>
    </ul>

    <div class="tab-content">
        <div id="section" class="tab-pane fade in active">
            <div class="box-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-10 text-left">
                                <div class="dataTables_filter" id="{{sid}}-wrapper">
                                    {{ render_filter_form(form,action_url=url_for(view.endpoints.filter,offset=0),ajax_update='#filter-result')}}
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm print-only">
                            <div class="row bold">
                                <div class="col-xs-12">
                                    <div class="bold">
                                        <h1 class="header-text">{{ view.title }} {{_('Report')}}</h1>
                                        {{ _('Date') }}: <span id="filter-d1"></span><br />
                                        {{ _('Store') }}: <span>{{ session['current_store_name'] }}</span><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    {# table.render_header() #}
                                </thead>
                                <tbody id="filter-result"></tbody>
                                <tfoot id="footer">
                                </tfoot>
                            </table>
                        </div>-->
                        <table id="stores-table" class="ui very basic table popup">
                            <thead>
                                {{ table.render_header() }}
                            </thead>
                            <tbody id="filter-result"></tbody>
                            <tfoot id="footer">
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script language="javascript">
    $(document).ready(function () {
        //$("select").select2();

        //$('.table-responsive').on('show.bs.dropdown', function () {
        //    $('.table-responsive').css("overflow", "inherit");
        //});

        //$('.table-responsive').on('hide.bs.dropdown', function () {
        //    $('.table-responsive').css("overflow", "auto");
        //})

        // on load
        $("#{{sid}}-wrapper form").submit();

        $("#{{sid}}-wrapper input").keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                $("#{{sid}}-wrapper form").submit();
                return false;
            }
        });

        $("#{{sid}}-wrapper .date").change(function (e) {
            $("#{{sid}}-wrapper form").submit();
        });

        $("#{{sid}}-wrapper select").change(function () {
            $("#{{sid}}-wrapper form").submit();
        });

        $("#print-button").click(function () {
            $("#filter-d1").text('{{ d1|format_date }}');
            window.print();
        });

        // Datetime
        $('.date').datepicker({
            'format': 'yyyy-mm-dd',
            'autoclose': true,
            'weekStart': 1,
            'container': '#filter-wrapper'
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate', e.date);
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });
    });
    $("a.popup ,.popup a.edit").die().live("click", function (e) {
        e.preventDefault();
        app.wait();
        window.openQuickAdd($(this).attr('href'));
        app.ready();
    });
</script>
{% endblock %}