{% extends '%s-layout.html'% session.get('layout','breadcrumb-layout') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(".BlockView:index") }}">{{ _("Block") }}</a></li>
        <li class="active">{{ _('Delete') }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        {% if is_active %}
            <div class="col-md-4">
                <h4>{{ _('Disactive') }}</h4>
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <div id="form-remove">
                            {% if text=="True" %}
                                <h3 style="margin-top:0;">{{ _('Are you sure want to disactive or remove all ?') }}</h3>
                                <p>
                                <h4 class="glyphicon glyphicon-alert"
                                    style="color:#f0ad4e;font-family:'Glyphicons Halflings' !important;margin-right:10px;margin-bottom:0;"></h4>
                                {{ _('This will disactive temporary or remove all!') }}
                                </p>
                                {{ render_form(form, action_url=url_for(".BlockView:remove"),
                                        return_url=url_for(".BlockView:index"), action_text="", btn_class='btn btn-warning', is_use_template=false, is_use_floating_button=false) }}
                            {% else %}
                                <h4 style="margin-top:0;clear: both; color: #a94442;">
                                    <i class="fa fa-shield" style="margin-right: 10px;"></i>
                                    {{ _('Not allowed!') }}
                                </h4>
                                <hr>
                                 <p>
                                <h4 style="color:#f0ad4e;font-family:'Glyphicons Halflings' !important;margin-right:10px;margin-bottom:0;"></h4>
                                {{ _('This block have land!') }}
                                </p>
                                <a class="btn btn-default pull-right"
                                   href="{{ url_for(".BlockView:index") }}">{{ _('Back') }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $('form div.pull-right').append('<button class="btn btn-danger" type="button" id="remove-all">{{ _("Remove All") }}</button>');

            var block_ids = "{{ ids }}";
            $("#id").val(block_ids);
            $("#is_remove").val(false);

            $("form").on('submit',function () {
                sessionStorage.removeItem("block_ids");
            });

            $("#remove-all").on('click', function () {
                $("#is_remove").val(true);
                $('form').submit();
            });


        });
    </script>
{% endblock %}
{#{% if text=="True" %}#}
{#    <p>Can Delete</p>#}
{#{% else %}#}
{#    <p>Can not delete</p>#}
{#{% endif %}#}