<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or 'Contract' }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/font.css') }}?v={{ v }}"/>

    <style>
        * {
            font-family: "Hanuman";
        }

        .frame {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .frame-content {
            background-color: #fff;
            box-shadow: 2px 2px 5px #888;
        }

        .frame .a5 {
            width: 210mm;
            padding: 1cm;
            min-height: 148mm;

        }

        @media print {
            .frame-content {
                box-shadow: none;

            }

            .frame .a5 {
                width: 100%;
                padding: 0;
                min-height: 100% !important;
            }

            body, html {
                margin-top: 0px !important;
                padding-top: 0px !important;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0px;
        }

        hr {
            border: 1px solid #c0c0c0;
        }

        #header {
            width: 100%;
        }

        .report {
            padding: 10mm 11mm;
        }

        .row {
            width: 100%;
            clear: both;
        }

        .left {
            width: 50%;
            float: left;
            text-align: left;
        }

        .right {
            width: 50%;
            float: right;

        }

        .left .label, .left .value {
            text-align: left;
        }

        .right .label, .right .value {
            text-align: right;
        }

        .left .value p, .value-right p {
            font-weight: bold;
            font-size: 15px;
        }

        .label p, .label-right p {
            font-size: 15px;
            font-weight: bold;
        }

        .label {
            width: 25%;
            float: left;
        }

        .value {
            width: 75%;
            float: right;
        }

        .label-right {
            width: 25%;
            float: left;
        }

        .value-right {
            width: 75%;
            float: right;
        }

        table {
            width: 100%;
            text-align: left;
        }

        table tbody tr td {
            font-size: 18px;
        }

        .table thead tr th {
            background-color: darkgreen !important;
        }

        p {
        {#            font-family: "Times New Roman";#} font-size: 13px;
            margin: 0px;
        }

        table th, tr td {
        {#            font-family: "Times New Roman";#} font-size: 12px;
            margin: 5px;
            height: 30px;
        }

        .text-left {
            text-align: left;
            padding-left: 10px;
            font-size: 15px;
        }

        .text-right {
            text-align: right;
            padding-right: 10px;
            font-size: 15px;
        }

        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group
        }

    </style>
</head>
<body>
<div class="frame">
    <div class="frame-content a5">
        <div id="header">
            <div class="row">
                <div style="width: 25%;float: left;text-align: left">
                    {#                  <img height="100px" width="140px" src="{{ url_for('share.static',filename='images/FWUC.png') }}" style="margin-top:-15px">#}
                    <img height="100px" width="140px"
                         src="{{ current.company().logo if current.company().logo else url_for("share.static",filename="images/default_logo.png") }}"
                         style="">
                </div>
                <div style="width: 50%;float: left;text-align: center">
                    <span style="font-size:18px;font-weight: bold">{{ current.company().ext__title if current.company().ext__title else '-' }}</span><br>
                    <small style="white-space: pre-line">{{ current.company().address | safe }}</small>
                </div>
                <div style="width: 25%;float: right;text-align: right;color:darkgreen;">

                </div>
            </div>

            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="left">
                    <div class="label">
                        <p>{{ _("Farmer") }}
                    </div>
                    <div class="value clearfix">
                        <p style="float: left;  text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                            : {{ invoice.farmer.name }} {{ '- %s' %invoice.farmer.code }}
                            {% if invoice.farmer.spouse_name %}
                                {{ '- %s' % invoice.farmer.spouse_name }} {% endif %}</p>
                    </div>
                    <div class="label">
                        <p>{{ _("Address") }}</p>
                    </div>
                    <div class="value">
                        <p>: {{ invoice.farmer.village }} {% if invoice.farmer.commune %}
                            {{ invoice.farmer.commune }} {% endif %}</p>
                    </div>
                    <div class="label">
                        <p>{{ _("Phone") }}</p>
                    </div>
                    <div class="value">
                        <p>: {{ invoice.farmer.phone or '-' }} </p>
                    </div>

                    <div class="label">
                        <p>{{ _('Block') }}</p>
                    </div>
                    <div class="value">
                        <p>: {{ invoice.block.name }}</p>
                    </div>
                    <div class="label">
                        <p>{{ _('Season') }}</p>
                    </div>
                    <div class="value">
                        <p>: {{ invoice.billing.season.name }}</p>
                    </div>


                </div>

                <div class="right">
                    <div class="label-right">
                        <p>លេខកិច្ចសន្យា</p>
                    </div>
                    <div class="value-right">
                        <p>: {{ invoice.contract_number if invoice.contract_number else _('NA') }}</p>
                    </div>
                    <div class="label-right">
                        <p>លេខវិក្កយបត្រ</p>
                    </div>
                    <div class="value-right">
                        <p>: {{ invoice.code }}</p>
                    </div>
                    <div class="label-right">
                        <p>ថ្ងៃចេញ</p>
                    </div>
                    <div class="value-right">
                        <p>: {{ invoice.issue_date | format_date() }}</p>
                    </div>
                    <div class="label-right">
                        <p>ថ្ងៃផុតកំណត់</p>
                    </div>
                    <div class="value-right">
                        <p>: {{ invoice.due_date | format_date() }}</p>
                    </div>
                    <div class="label-right">
                        <p>ម្ចាស់ដី</p>
                    </div>
                    <div class="value-right clearfix">
                        <p style="width:250px; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                            : {{ invoice.owner_farmer.name }} {{ '- %s' %invoice.owner_farmer.code }}
                            {% if invoice.owner_farmer.spouse_name %}
                                {{ '- %s' % invoice.owner_farmer.spouse_name }} {% endif %}</p>

                    </div>
                </div>
            </div>

            <div class="row">
                <table border="1" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        {% if invoice.invoice_type != '10042' %}
                            <th class="text-left">{{ _("Land Code") }}</th>
                            <th class="text-left">{{ _("Tariff") }}</th>
                            <th class="text-left">{{ _("Area(Are)") }}</th>
                            <th class="text-right">{{ _('Unit Cost') }}  </th>
                            <th class="text-right">{{ _('Amount') }}</th>
                        {% else %}
                            <th class="text-left">{{ _("Invoice Code") }}</th>
                            <th class="text-left">{{ _("Description") }}</th>
                            <th class="text-left">{{ _("Amount") }}</th>
                        {% endif %}
                    </tr>

                    </thead>
                    <tbody>
                    {% set total_land = [0] -%}
                    {% set num = {'num':0} %}
                    {% if invoice.details %}
                        {% for detail in invoice.details %}
                            {% if num.update({'num': num.num + detail.billing_lands | length }) %} {% endif %}
                            {% for billing_land in detail.billing_lands %}
                                {% if total_land.append(total_land.pop()+ detail.total_land) -%}{% endif %}
                                <tr>
                                    <td class="text-left">{{ billing_land.land.code }}</td>
                                    <td class="text-left">{{ billing_land.tariff.name }}</td>
                                    <td class="text-left">{{ billing_land.area }}</td>
                                    <td class="text-right">{{ billing_land.unit_cost | format_integer() }}</td>
                                    <td class="text-right">{{ billing_land.total_cost | to_riel() }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}

                        {% if num.num < 14 %}
                            {% for item in range(14 - num.num ) %}
                                <tr>
                                    <td class="col-md-1 decimal">&nbsp;</td>
                                    <td class="col-md-1 decimal"></td>
                                    <td class="col-md-1">&nbsp;</td>
                                    <td class="col-md-1 decimal">&nbsp;</td>
                                    <td class="col-md-1 decimal">&nbsp;</td>
                                </tr>
                            {% endfor %}
                        {% endif %}


                    {% else %}
                        <tr>
                            <td class="text-left">{{ invoice.code }}</td>
                            <td class="text-left">{{ _('Invoice Penalty') }}</td>
                            <td class="text-right">{{ invoice.total_amount | to_riel() }}</td>
                        </tr>
                        {% for item in range(14) %}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    <tfoot style="display: table-row-group !important;">
                    <tr>
                        {% if invoice.invoice_type !='10042' %}
                            <th class="text-right" colspan="2" style="font-size: 15px;">{{ _('Total') }}</th>
                            <th class="text-left" style="font-size: 15px;">{{ invoice.total_area }}</th>
                            <th></th>
                            <th class="text-right" style="font-size: 15px;">
                                {{ invoice.total_amount | to_riel() | format_value }}{{ invoice.currency.sign }}</th>

                        {% else %}
                            <th class="text-right" colspan="2" style="font-size: 15px;">{{ _('Total') }}</th>
                            <th class="text-right" style="font-size: 15px;">
                                {{ invoice.total_amount | to_riel() | format_value }}{{ invoice.currency.sign }}</th>
                        {% endif %}
                    </tr>
                    {#                    <tr>#}
                    {#                        <th rowspan="3" colspan="3" class="text-right"></th>#}
                    {#                        <th class="text-right">{{ _('Sub Total') }}</th>#}
                    {#                        <th class="text-right">0.0</th>#}
                    {#                    </tr>#}
                    {#                    <tr>#}
                    {#                        <th class="text-right">{{ _('Paid') }}</th>#}
                    {#                        <th class="text-right">0.0</th>#}
                    {#                    </tr>#}
                    {#                    <tr>#}
                    {#                        <th class="text-right">{{ _('Total Due') }}</th>#}
                    {#                        <th class="text-right">0.0</th>#}
                    {#                    </tr>#}

                    </tfoot>
                </table>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div style="width:50%;float: left">
                    <h4>{{ _("Note") }}</h4>
                    {% if invoice.note!=None %}
                        <div class="header-title" style="width: 100%;float: left;">
                            {% set amount = invoice.ext__amount | int %}
                            <small style="text-decoration: underline">{{ invoice.note }} {{ _("Amount") }}​​
                                {{ amount | abs | format_value() }}{{ invoice.currency.sign }}</small>
                        </div>
                    {% endif %}
                    <div style="width: 100%;">
                        <div style="float: left;">
                            <small>{{ current.company().ext__invoice_footer | safe if current.company().ext__invoice_footer else '' }}</small>
                        </div>
                    </div>

                </div>

                <div style="width: 50%;float: left;">
                    {#                    <div style="width: 57%;text-align: right;float: left;">#}
                    {#                        <h4>{{ _('Sub Total') }}</h4>#}
                    {#                    </div>#}
                    {#                    <div style="width: 43%; text-align: right;float: left;">#}
                    {#                        <h4 style="padding-right: 10px;">{{ invoice.total_amount  | format_value}} {{ invoice.currency.sign }}</h4>#}
                    {#                    </div>#}
                    <div style="width: 57%;text-align: right;float: left;">
                        <h4>{{ _('Paid') }}</h4>
                    </div>
                    <div style="width: 43%; text-align: right;float: left;">
                        <h4 style="padding-right: 10px;">{{ invoice.paid_amount | format_value }} {{ invoice.currency.sign }}</h4>
                    </div>
                    <div style="width: 57%;text-align: right;float: left;">
                        <h4>{{ _('Total Due') }}</h4>
                    </div>
                    <div style="width: 43%; text-align: right;float: left;">
                        <h4 style="padding-right: 10px;">{{ (invoice.total_amount - invoice.paid_amount) | format_value }} {{ invoice.currency.sign }}</h4>
                    </div>
                    <div style="width: 100%;clear: both; float: left; text-align: right">
                        <p style="margin-top: 40px;">_____________________________________</p>
                    </div>
                    <div style="width: 100%;text-align: right">
                        <small>ហត្ថលេខា​ និង ឈ្មោះប្រធានប្លុក</small>
                    </div>
                </div>

            </div>
            <div class="row">
                <div style="float: right;">
                    <small><b>ទំព័រ 1</b></small>
                </div>
            </div>

        </div>


    </div>
</div>
</body>
</html>