﻿<table class="table table-striped" style="height:1000px;">
    <thead>
        {{ table.render_header() if table }}
    </thead>
    <tbody>
        {{ table.render_rows() if table }}
    </tbody>
</table>
<script>
    $(document).ready(function(){

         /* hide footer in report in billing report when billing is selected*/
{#               var tr = $("tbody").find("tr.group-footer-header");#}
{#               if (tr.length==1){#}
{#                   $('.sub-footer').hide();#}
{#               }#}


             $("thead tr").css('page-break-before','always');




    });
</script>