{% extends "%s-layout.html" % layout %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li class="active">{{ _('Dashboard') }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
               <div class="panel-heading">{{ _("Photos Gallary") }}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .nav-tabs li > a {
            padding: 0 10px;
        }

        .nav-pills li > a {
            padding: 0 10px;
        }
    </style>
    {#<div class="row">#}
    {#    {{ render_widget('dashboard')|safe }}#}
    {#</div>#}
    <!-- test modal -->
{% endblock %}