{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
    <div class="fixed-sidebar-modal"></div>
    <div class="fixed-sidebar">
        {% include "sidebar.html" ignore missing %}
    </div>
    <div id="content" class="fixed-content">
        <div class="navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle visible-xs">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="breadcrumb">
                <li><a href="#" data-ajax="false">{{ _('Home') }}</a></li>
                <li><a href="#" data-ajax="false">{{ _('My Account') }}</a></li>
                <li class="active">{{ _('Dashboard') }}</li>
            </ul>
        </div>
        <div class="fixed-sub-content">
            <a id="goto-dashboard" style="display:none;" href="{{url_for('.HomeView:dashboard')}}">Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        // on load open dashboard
        $("#goto-dashboard").click();
    });
</script>
{% endblock %}