{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li>{{ view.obj }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_text='', edit_url=url_for(view.endpoints.edit, id=form.data.id), remove_url=url_for(view.endpoints.remove, id=form.data.id), return_url=url_for(view.endpoints.index), return_text=_('Back'), is_use_template=false) %}
        <div id="form-detail">
            <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                {{ render_field(form.code) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.customer_id) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.currency_id) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.payment_method) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.pay_amount) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.pay_date) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.ending_balance) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.partial_payment) }}
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="panel-payment">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                       <table class="table" id="payment-invoices-table" style="margin-bottom:0">
                            <thead class="bg-primary">
                            <tr>
                                <th>
                                    <div class="checkbox" style="margin:0;">
                                        <label>
                                            <input id="invoice-check-all[]" name="invoice-check-all[]" type="checkbox"
                                                   checked/>
                                            <span class="cr" style="background:white;"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>{{ _('Code') }}
                                        </label>
                                    </div>
                                </th>
                                <th class="col-md-1">{{ _('Issue Date') }}</th>
                                <th class="col-md-2 text-right">{{ _('Total Amount') }}</th>
                                <th class="col-md-2 text-right">{{ _('Paid') }}</th>
                                <th class="col-md-2 text-right">{{ _('Balance') }}</th>
                                <th class="col-md-2 text-right">{{ _('Pay Amount') }}</th>
                                <th class="col-md-2 text-right">{{ _('Ending Balance') }}</th>

                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                            <tr id="sub-total">
                                <th colspan="2">{{ _("Total") }}</th>
                                <th class="col-md-2 text-right">
                                    <span id="sum_total_amount" format="decimal"></span>
                                </th>
                                <th class="col-md-2 text-right">
                                    <span id="sum_paid_amount" format="decimal"></span>
                                </th>

                                <th class="col-md-2 text-right">
                                    <span id="sum_balance" format="decimal"></span>
                                </th>
                                <th class="col-md-2 text-right">
                                    <input type="text" id="sum_pay_amount" class="form-control decimal" format="decimal"
                                           readonly>
                                </th>
                                <th class="col-md-2 text-right">
                                    <input type="text" id="sum_ending_balance" class="form-control decimal"
                                           format="decimal"
                                           readonly>
                                </th>


                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endcall %}
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $("#form-detail input, #form-detail select, #form-detail textarea, #form-detail button").attr("disabled", "disabled");

        });
    </script>
{% endblock %}