{% extends "breadcrumb-layout.html" %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li class="active">{{ _('Edit') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.edit,id=form.data.id), return_url=url_for('.HomeView:home'), action_text=_('Save'),is_use_template=false,ajax='false') %}

        <div id="form-edit">
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Logo') }}</h4>
                    <p>{{ _('Upload logo of company.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(view.form.logo,label_visible=false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Company Information') }}</h4>
                    <p>{{ _('Provide information of company.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ render_field(view.form.name) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(view.form.contact_name) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(view.form.phone) }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(view.form.ext__license_number) }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(view.form.ext__access_key) }}
                                </div>
                                <div class="col-md-12">
                                    {{ render_field(view.form.address) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Invoice Information') }}</h4>
                    <p>{{ _('Provide Information of Invoice.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(view.form.ext__title) }}
                                </div>
                                <div class="col-md-12">
                                    {{ render_field(view.form.ext__invoice_footer) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Receipt Information') }}</h4>
                    <p>{{ _('Provide Information of Receipt.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(view.form.ext__receipt_title) }}
                                </div>
                                <div class="col-md-12">
                                    {{ render_field(view.form.ext__receipt_footer) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Sequence Information') }}</h4>
                    <p>{{ _('Select Information of Sequence.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ render_field(view.form.ext__farmer_seq) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Photos') }}</h4>
                    <p>{{ _('Upload photos of company.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(view.form.ext__photo,label_visible=false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Biology') }}</h4>
                    <p>{{ _('Provide Biology of company') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(view.form.biology,label_visible=false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Documents') }}</h4>
                    <p>{{ _('Upload documents.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(view.form.ext__files,label_visible=false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endcall %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('form').removeAttr('data-ajax-update');
            $('form').attr('novalidate', 'false');
            $("a.btn.btn-default.btn-return").attr('data-ajax', 'false');


        });
    </script>

{% endblock %}


