{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li class="active">{{ _(view.title) }}</li>
    </ul>

{% endblock %}

{% block content %}
    {% call render_form(view.form, action_text='', edit_url=url_for(view.endpoints.edit, id=view.form.id.data), return_url=url_for(".HomeView:home"), return_text=_('Back'), is_use_template=false) %}
        <div id="form-detail">
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Logo') }}</h4>
                    <p>{{ _('Upload logo of company.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(view.form.logo,label_visible=false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Company Information') }}</h4>
                    <p>{{ _('Provide information of company.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ render_field(view.form.name) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(view.form.contact_name) }}
                                </div>
                                <div class="col-md-4">
                                    {{ render_field(view.form.phone) }}
                                </div>
                                <div class="col-md-6">
                                    {{ render_field(view.form.ext__license_number) }}
                                </div>
                                 <div class="col-md-6">
                                    {{ render_field(view.form.ext__access_key) }}
                                </div>
                                <div class="col-md-12">
                                    {{ render_field(view.form.address) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
             <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Invoice Information') }}</h4>
                    <p>{{ _('Provide Information of Invoice.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                 <div class="col-md-12">
                                    {{ render_field(view.form.ext__title) }}
                                </div>
                                <div class="col-md-12">
                                    <h5>{{ _('Invoice Footer') }}</h5>
                                </div>
                                <div class="col-md-12">
                                    {{ view.invoice_footer | safe }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
             <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Receipt Information') }}</h4>
                    <p>{{ _('Provide Information of Receipt.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                 <div class="col-md-12">
                                    {{ render_field(view.form.ext__receipt_title) }}
                                </div>
                                <div class="col-md-12">
                                    <h5>{{ _('Receipt Footer') }}</h5>
                                </div>
                                <div class="col-md-12">
                                    {{ view.receipt_footer | safe }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
             <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Sequence Information') }}</h4>
                    <p>{{ _('Select Information of Sequence.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ render_field(view.form.ext__farmer_seq) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                  <h4>{{ _('Photos') }}</h4>
                    <p>{{ _('Upload photos of company.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(view.form.ext__photo,label_visible=false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                   <h4>{{ _('Biology') }}</h4>
                    <p>{{ _('Provide Biology of company') }}</p>
                </div>

                <div class="col-md-9">
            <div class="panel panel-default">
{#                <div class="panel-heading">{{ _("Biology of company") }}</div>#}
                <div class="panel-body" style="overflow:scroll; overflow-x: hidden; height:300px;">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                {{ view.biology | safe or '' }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                  <h4>{{ _('Documents') }}</h4>
                    <p>{{ _('Upload documents.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render_field(view.form.ext__files,label_visible=false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $("#form-detail input, #form-detail select, #form-detail textarea, #form-detail button").attr("disabled", "disabled");
            $("a.btn.btn-default.btn-return").attr('data-ajax', 'false');
        });
    </script>
{% endblock %}