{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
<div class="col-xs-12 col-sm-6 col-md-6 ">
    <div class="breadcrumb-header">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.HomeView:home')}}" data-ajax="false">{{_('Home')}}</a></li>
            <li><a href="{{ url_for('ReportView:report')}}">{{_('Reports')}}</a></li>
            <li class="active">{{ _(report.title) }}</li>
        </ul>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 ">
    <div class="pull-right">
        <div class="btn-group btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-expanded="false">
                {{ _('Actions') }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a id="export-table" data-ajax="false" href="#"
                       onclick="javascript: fnExcelReport(this.id, '{{ report.title }}', 'stores-table');"><i class="fa fa-file-excel-o"></i>{{ _('Export') }}</a>
                </li>
                <li class="divider"></li>
                <li><a href="#" data-ajax="false" id="print-button"><i class="fa fa-print"></i>{{ _('Print') }}</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row print-only">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h1 style="min-height:6rem;">{{ report.title }}</h1>
        <div class="row">
            {% for f in form if f.type != 'CSRFTokenField' and f.type != 'HiddenField' %}
            <div class="col-xs-6 col-sm-6 col-md-6">
                {{ f.label.text }}: <span id="filter-{{ f.id }}"></span>
            </div>
            {% endfor %}
        </div>
        <br />
    </div>
</div>
<div class="section-report" style="align-items:unset;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-print">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-right:15px;">
                    Filter
                    <a data-toggle="collapse" href="#collapse1" class="pull-right" data-ajax="false"><i class="fa fa-chevron-down" style="color:#000;"></i></a>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div id="filter-wrapper" class="panel-body" style="padding:20px;padding-top:0;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-10">
                                {{ render_filter_form(form,action_url=url_for('ReportView:result',report_name=report.name,offset=0),ajax_update='#section-report-result',show_label=true) }}
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <a class="btn btn-primary pull-right btn-view-report" style="margin:0;margin-top:26px;">{{ _('View') }}</a>
                            </div>
                        </div>
                        <!--<div class="form-group control-filter" style="margin:0;">
                            <a class="btn btn-primary pull-right btn-view-report" style="margin:0;">{{ _('View') }}</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div id="section-report-result" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<style>
    .panel {
        box-shadow: none;
        border-radius: 0;
    }
    th, td {
        border: 1px solid #ddd;
        border-right: 0;
    }
</style>
<script language="javascript">
    //get all attr id from input text in class filter
    function hidden_control_filter() {
        var input_ids = []
        $(".dataTables_filter .form-control").each(function () {
            input_ids.push(this.id);
        });
        input_ids.length <= 3 ? $(".more-control-filter").hide() : $(".more-control-filter").show()
    }
    $(document).ready(function () {
        hidden_control_filter();
        $(".more-control-filter,.hide-control-filter").on('click', function () {
            $(".section-report-filter").toggleClass("section-report-filter-expand");
        });
        $("#filter-wrapper form").submit();
        $("#filter-wrapper input").keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                $("#filter-wrapper form").submit();
                return false;
            }
        });
        $(".btn-view-report").click(function () {
            $("#filter-wrapper form").submit();
        })

        $("#filter-wrapper .date").change(function (e) {
            $("#filter-wrapper form").submit();
        });

        $("#filter-wrapper select").change(function () {
            $("#filter-wrapper form").submit();
        });

        //console.log($(".control-filter").length);
        //console.log($(".dataTables_filter input[type=text]").length);

        $("#print-button").click(function () {
            $("#filter-wrapper input").each(function () {
                $("#filter-" + $(this).attr("id")).text($(this).val());
            });
            $("#filter-wrapper select").each(function () {
                $("#filter-" + $(this).attr("id")).text($("option:selected", this).text());
            });
            window.print();
        });


        // Datetime
        $('.date').datepicker({
            'format': 'yyyy-mm-dd',
            'autoclose': true,
            'weekStart': 1,
            'container': '#filter-wrapper'
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate', e.date);
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });

    });
</script>
{% endblock %}

