﻿<table id="purchase-report-table" class="table table-striped">
    <thead>
        {{ table.render_header() if table }}
    </thead>
    <tbody>
        {{ table.render_rows() if table }}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">{{ _('Total') }}</th>
            <th class="decimal" format="decimal"></th>
            <th class="decimal" format="decimal"></th>
            <th class="decimal" format="decimal"></th>
            <th class="decimal" format="decimal"></th>
            <th class="decimal" format="decimal"></th>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    var totals = [0, 0, 0, 0, 0];
    $(document).ready(function () {
        var $dataRows = $("tbody tr");
        $dataRows.each(function () {
            $(this).find('td.decimal').each(function (i) {
                t = parseFloat($(this).html());
                if (!isNaN(t)) {
                    totals[i] += t;
                }
            });
        });
        $("tfoot th.decimal").each(function (i) {
            app.fn.object.write($(this), totals[i]);
        });
    });
</script>