{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.SettingView:index') }}" >{{ _('Setting') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li><a href="{{ url_for(view.endpoints.detail, id=form.id.data) }}">{{ view.obj }}</a></li>
        <li class="active">{{ _('Edit') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.edit,id=form.data.id), return_url=url_for(view.endpoints.index), action_text=_('Save'), is_use_template=false) %}
        <div id="form-edit">
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Village Information') }}</h4>
                    <p>{{ _('Provide information of Village.') }}</p>
                </div>
                <div class="col-md-9">
                    <div class="panel no-margin-bottom">
                        <div class="panel-body">
                           <div class="row">
                            <div class="col-md-4">
                                {{ render_field(form.province_id) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.district_id) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.parent_id) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.code) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.latin_name) }}
                            </div>
                           </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block script%}
<script type="text/javascript">
    function load(type, parent_id, param) {
        var url = "{{ url_for('.LocationView:options', type='p_type', parent_id='p_parent_id') }}";
        url = url.replace("p_type", type);
        url = url.replace("p_parent_id", parent_id);
        $.post(url, function( data ) {
            var html = $.parseHTML(data);
            //$("#" + param ).html(data);
            if (html.length == 2) {
                $(html[1]).attr("selected", "selected");
            }
            $("#" + param ).html(html).change();
        });
    }

    $(document).ready(function () {
        $("#district_id option").remove();
        $("#province_id").change(function () {
            var province_id = $(this).val();
            load("2", province_id, "district_id");
        }).change();

         {#$("#commune_id option").remove();#}
        $("#district_id").change(function () {
           var district_id = $(this).val();
           load("3", district_id, "commune");
        }).change();

    });
</script>
{% endblock %}