{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
           <li><a href="{{ url_for('.SettingView:index') }}" >{{ _('Setting') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li class="active">{{ _('Add') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.add),action_text=_('Save'), return_url=url_for(view.endpoints.index), is_use_template=False) %}
        <div class="row">
            <div class="col-md-3">
                <h4>{{ _('Billing Cycle Information') }}</h4>
                <p>{{ _('Provide informaion of Billiing Cycle.') }}</p>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                {{ render_field(form.name) }}
                            </div>
                             <div class="col-xs-12 col-sm-12 col-md-4">
                                {{ render_field(form.ext__code) }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                {{ render_field(form.season_id) }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                {{ render_field(form.note) }}
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <hr>
        <div class="row">
            <div class="col-md-3">
                <h4>{{ _('Select Blocks') }}</h4>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-12" style="font-weight: bold;">
                                        {{ render_field(form.ext__blocks) }}
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

    {% endcall %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
{#            $("li").hasAttr('data-value').css('font-size', '18px');#}


            $("#season_id").on("change", function () {
                var season_id = $(this).val();
                $.ajax({
                    url: "{{ url_for('.BillingCycleView:get_existing_block', season_id='' ) }}" + season_id,
                    type: 'GET',
                    success: function (resp) {
                        resp = JSON.parse(resp);
                        $("[type=checkbox]").removeAttr("disabled");
                        $("[type=checkbox]").removeAttr("checked");

                        for (var i = 0; i < resp.length; i++) {
                            $("[value=" + resp[i] + "]").attr("disabled", "disabled");
                        }
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });

            })
        });
    </script>
{% endblock %}