{% extends '%s-layout.html'% session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('.HomeView:home')}}" data-ajax="false">{{ _('Home') }}</a></li>
    <li>{{ _('Reports') }}</li>
</ul>
<div class="action">
</div>
{% endblock %}

{% block content %}
{#<div style="min-height: 80vh;background-color: #fff;border-radius: 5px;box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);" class="group-report">#}
<div class="group-report">
        {% for g in groups %}
        <div class="col-xs-12 col-md-4">
            <div class="panel" style="box-shadow: none;border: none;min-height: 230px;">
                <header class="panel-heading text-center">{{g.title}}</header>
                <div class="panel-body" style="padding: 0px;">
                    <div class="col-xs-12">
                        {% for r in g.reports %}
                            <div style="margin: 0 0 10px 0;" class="report-title"> {{r.get_widget() | safe }} </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
{#            $('<i class="fa fa-file"></i>').appendTo( ".report-title" );#}
        });
    </script>
{% endblock %}