{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
<div class="col-xs-12 col-sm-6 col-md-6 padding-zero">
    <div class="breadcrumb-header">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.HomeView:home')}}" data-ajax="false">{{_('Home')}}</a></li>
            {% block report_breadcrumb %}{% endblock %}
        </ul>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 padding-zero">
    <div class="pull-right">
        <div class="dataTables_filter" id="filter-wrapper" style="float: left; margin-right: 3px;">
            {{ render_filter_form(form,action_url=url_for('ReportView:index',report_name=report.name,offset=0),ajax_update='.ep-section')}}
        </div>
        <div class="btn-group btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-expanded="false">
                {{ _('Actions') }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-file-excel-o"></i>{{ _('Import') }}</a></li>
                <li class="divider"></li>
                <li><a href="#" data-ajax="false" id="print-button"><i class="fa fa-print"></i>{{ _('Print') }}</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="section-report">
    <div id="section-report-result" class="section-report-result">
        {% block report_result %}{% endblock %}
    </div>
</div>
{% endblock %}


{% block script %}
<script language="javascript">
    $(document).ready(function () {
        $("#filter-wrapper select").change(function () {
            $("#filter-wrapper form").submit();
        });
    });
</script>
{% endblock %}