﻿{% from '_macros/wtforms.html' import render_form, render_field %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ _('Login') }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('share.static', filename='images/logo_CAVAC.jpg') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='content/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/login.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/site2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery-migrate-1.2.1.min.js') }}"></script>
</head>

<body id="login-form" class="login-form">
    <div class="container" style="padding-top:8%;">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="panel">
                <div class="panel-heading text-center" style="padding-bottom:0;">
                    <img src="{{ url_for('share.static', filename='images/logo_CAVAC.jpg') }}" style="width:50px;border-radius:4px;" />
                    <h5>{{ _('LOGIN TO YOUR ACCOUNT') }}</h5>
                </div>
                <div class="panel-body">
                    {% if error %}
                    <div class="alert alert-danger text-center">
                        {{ error }}
                    </div>
                    {% endif %}
                    {% call render_form(form, action_url=url_for('.SecurityView:login'), action_text=_('Login'), is_use_template=false, is_use_floating_button=false, pull_class='row') %}
                    <div class="textbox-wrap">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            {{ render_field(form.email,label_visible=False)}}
                        </div>
                    </div>
                    <div class="textbox-wrap">
                            {{ render_field(form.password,label_visible=False,addon="password_login")}}
                    </div>
                    {% endcall %}
                    <!--<a class="btn btn-primary btn-block" style="background-color:#3B5998;border:0;" href="{{ url_for('SocialView:connect_facebook') }}">Facebook</a>
                    <div class="remember-section" style="margin:-15px 0;">
{#                        {{ render_field(form.remember_me)}}#}
                    </div>-->
                </div>
            </div>
{#            <div class="text-center" style="color:#fff;">#}
{#                <a href="{{ url_for('.ResetPasswordView:verify') }}" style="margin-left:5px;color:#fff;text-decoration:underline;margin-left:0;margin-bottom:10px;display:inline-block;">#}
{#                    {{ _('Forgot your password?') }}#}
{#                </a>#}
{#                <p>#}
{#                    {{ _("Dont't have an account?") }}#}
{#                    <a href="{{ url_for('.SecurityView:signup') }}" style="margin-left:5px;color:#fff;text-decoration:underline;">{{ _('Create an account') }}</a>#}
{#                </p>#}
{#            </div>#}
        </div>
    </div>
</body>
</html>


{% block script %}
<script language="javascript">
    $(".toggle-password_login").click(function()
    {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    });

</script>
{% endblock %}