﻿<html>
<head>
    <meta charset="utf-8">
    <title>Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('share.static', filename='images/logo_CAVAC.jpg') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/site.css') }}" />
</head>
<body class="login-form">
    <div class="container-fluid middle" id="signup-form">
        <div class="row">
            <div class="col-md-12 text-center">
                 <img width="140px" src="https://cavackh.org/wp-content/uploads/2016/12/logo_cavac.png"/>
                <h3 style="color:#fff;">{{ _('Welcome to EH901') }}</h3>
                <h1 style="color:#fff;">{{ _('Your company created successfully.') }}</h1>
                <br />
                <br />
                <a href="{{ url_for('.HomeView:home') }}" class="btn btn-info btn-lg">{{ _('Enter my company') }}</a>
            </div>
        </div>
    </div>
</body>
</html>