﻿{% from '_macros/wtforms.html' import render_form, render_field %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ _('Signup') }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('share.static', filename='images/logo_CAVAC.jpg') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/login.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/site2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/pe-icon-7-stroke/css/helper.css') }}" />
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery-2.0.3.min.js') }}"></script>
</head>

<body class="login-form">
    <div class="container" style="padding-top:5%;">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="panel">
                <div class="panel-heading text-center" style="padding-bottom:0;">
                    <img src="{{ url_for('share.static', filename='images/logo_CAVAC.jpg') }}" style="width:50px;border-radius:4px;" />
                    <h5>{{ _('CREATE YOUR ACCOUNT') }}</h5>
                </div>
                {% call render_form(form, action_url=url_for('.SecurityView:signup'), action_text='', is_use_template=false, pull_class='row') %}
                <div class="panel-body" style="padding-bottom:0;">
                    <!--<a href="{{ url_for('SocialView:connect_facebook') }}" class="btn btn-primary btn-block" style="background-color:#3B5998;border:0;">Facebook</a>
                    <span class="text-center" style="position:absolute;top:161px;right:0;left:0;width:40px;margin:auto;background:#fff;">
                        <strong>{{ _('OR') }}</strong>
                    </span>
                    <hr style="display:block !important;" />-->
                    {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endif %}
                    {{ render_field(form.full_name) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm_password)}}
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a href="{{ url_for('.SecurityView:login') }}" class="btn btn-default">{{ _('Cancel') }}</a>
                        <button type="submit" class="btn btn-primary">{{ _('Signup') }}</button>
                    </div>
                </div>
                {% endcall %}
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery-ui-1.11.4/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery.validate.unobtrusive.min.js') }}"></script>
</body>
</html>
