{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.SettingView:index') }}">{{ _('Setting') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li class="active">{{ _('Add') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.add),action_text=_('Save'), return_url=url_for(view.endpoints.index), is_use_template=False) %}
        <div class="row">
            <div class="col-md-3">
                <h4>{{ _('District Information') }}</h4>
                <p>{{ _('Provide Information of District.') }}</p>
            </div>
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ render_field(form.province_id) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.parent_id) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.code) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.latin_name) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block script%}
<script type="text/javascript">
    function load(type, parent_id, param) {
        var url = "{{ url_for('.LocationView:options', type='p_type', parent_id='p_parent_id') }}";
        url = url.replace("p_type", type);
        url = url.replace("p_parent_id", parent_id);
        $.post(url, function( data ) {
            var html = $.parseHTML(data);
            //$("#" + param ).html(data);
            if (html.length == 2) {
                $(html[1]).attr("selected", "selected");
            }
            $("#" + param ).html(html).change();
        });
    }

    $(document).ready(function () {
        $("#parent_id option").remove();
        $("#province_id").change(function () {
            var province_id = $(this).val();
            load("2", province_id, "parent_id");
        }).change();
    });
</script>
{% endblock %}



