{% macro render_full(pagination, endpoint,ajax_update="") %}
    {% if pagination.total>pagination.per_page: %}
        <div class="pagination">
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <a href="{{ url_for(endpoint, page=page) }}" data-ajax-update="{{ ajax_update }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span class="ellipsis">…</span>
                {% endif %}
            {%- endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_compact(pagination,endpoint,ajax_update="") %}
    {% if pagination.total>pagination.per_page: %}
        {%- if pagination.prev_num: %}
            <a href="{{ url_for(endpoint, page=pagination.prev_num) }}" data-ajax-update="{{ ajax_update }}"> prev </a>
        {%- endif %}
        {%- if pagination.next_num: %}
            <a href="{{ url_for(endpoint, page=pagination.next_num) }}" data-ajax-update="{{ ajax_update }}"> next </a>
        {%- endif %}
    {% endif %}
{% endmacro %}


{% macro render_modern(pagination,endpoint,ajax_update='',tr=True) %}
    {% if pagination.total>=10 and pagination.next_num %}
        <tr class="no-print" style="background-color: transparent !important;">
            <td colspan="100%" style="padding: 0 !important; padding-top: 10px !important;">
                <ul class="pagination" style="margin: 0 !important;">
                    <li><span>{{ pagination.page }}/{{ pagination.pages }}</span></li>
                    {% if pagination.page>1 %}
                        <li><a href="{{ url_for(endpoint, page=pagination.page-1, per_page=10, **kwargs) }}"
                               data-ajax-update="{{ ajax_update }}"> <i class="fa fa-backward" aria-hidden="true"></i>
                        </a></li>
                    {% endif %}
                    {% if pagination.total>pagination.per_page and pagination.next_num %}
                        <li><a href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}"
                               data-ajax-update="{{ ajax_update }}"><i class="fa fa-forward" aria-hidden="true"></i></a>
                        </li>
                    {% endif %}
                    <li>
                        <span style="height:34px;margin: 0px;padding: 0px"><input id="enter-page" autocomplete="off"
                                                                                  type="text"
                                                                                  style="margin-top: -1px;height: 33px;width: 40px;margin-left: -1px"></span>
                        <a id="href-enter-page" style="display: none" data-ajax-update="{{ ajax_update }}"></a>
                    </li>
                    {% if pagination.total>pagination.per_page %}
                        <li><a href="{{ url_for(endpoint, page=1, per_page=pagination.total, **kwargs) }}"
                               data-ajax-update="{{ ajax_update }}">{{ _('All') }} ({{ pagination.total }}) </a></li>
                    {% endif %}
                </ul>
            </td>
        </tr>

    {% else %}
        <tr class="no-print" style="background-color: transparent !important;">
            <td colspan="100%" style="padding: 0 !important; padding-top: 10px !important;">
                <ul class="pagination" style="margin: 0 !important;">
                    {% if pagination.page>1 %}
                        <li><a href="{{ url_for(endpoint, page=pagination.page-1, per_page=10, **kwargs) }}"
                               data-ajax-update="{{ ajax_update }}"> <i class="fa fa-backward"
                                                                            aria-hidden="true"> </i> </a></li>
                    {% endif %}
                    {% if pagination.total>pagination.per_page %}
                        <li><a href="{{ url_for(endpoint, page=1, per_page=pagination.total, **kwargs) }}"
                               data-ajax-update="{{ ajax_update }}"> {{ _('All') }} ({{ pagination.total }}) </a>
                        </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endif %}

    <script>

        $('#enter-page').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                var v = $(this).val();
                if (v !== '' && v !== '0' && v != null && v !== 'NaN') {
                    var page = parseInt($(this).val());
                    var url = "{{ url_for('VerifyBillingView:view_land_by',block_id=block_id,farmer_id=farmer_id,billing_id=billing_id,back_url=back_url,page="param") }}";
                    url = url.replace("param", page);
                    $("#href-enter-page").attr('href', url);
                    $("#href-enter-page").trigger('click');
                }
            }
        });


    </script>
{% endmacro %}

