{# Renders field for bootstrap 3 standards.

    Params:
        field - WTForm field
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}
{% macro render_field(field, label_visible=true, addon="") -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
        {% endif %}
        {% if field.type == 'DateField' %}
            <div class="input-group date">
                {{ field(class_='form-control', **kwargs) }}
                <div class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
        {% elif field.render_kw and field.render_kw.get('addon') %}
            <div class="input-group">
                {{ field(class_='form-control', **kwargs) }}
                <span class="input-group-addon">
                {% if 'fa-' in field.render_kw.get('addon') %}
                    <i class="fa {{ field.render_kw.get('addon') }}"></i>
                {% else %}
                    {{ field.render_kw.get('addon') }}
                {% endif %}
            </span>
            </div>
        {% elif field.render_kw and field.render_kw.get('input-group-btn') %}
            <div class="input-group">
                {{ field(class_='form-control', **kwargs) }}
            <div class="input-group-btn">
                <a class="btn  {{ 'btn-danger' if not field.render_kw.get('btn-color') else field.render_kw.get('btn-color')  }}" role="button" id="{{ field.render_kw.get('input-group-btn-id') }}"> {{ field.render_kw.get('input-group-btn-label') }}</a>
            </div>
            </div>
        {% else %}
            {% if addon == "password" %}
                <div class="textbox-wrap">
                    <div class="input-group">
                        {{ field(class_='form-control', **kwargs) }}
                        <span class="input-group-addon" style="height: 10px;"><i class="fa fa-fw fa-eye field-icon toggle-password"></i></span>
                    </div>
                </div>
            {% elif addon == "password_login" %}
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon" style="height: 10px;"><i class="fa fa-fw fa-key"></i></span>
                        {{ field(class_='form-control', **kwargs) }}
                        <span class="input-group-addon" style="height: 10px;"><i class="fa fa-fw fa-eye field-icon toggle-password_login"></i></span>
                    </div>
                </div>
            {% elif addon == "confirm_password" %}
                <div class="textbox-wrap">
                    <div class="input-group">
                        {{ field(class_='form-control', **kwargs) }}
                        <span class="input-group-addon" style="height: 10px;"><i class="fa fa-fw fa-eye field-icon toggle-confirm-password"></i></span>
                    </div>
                </div>
            {% else %}
                {{ field(class_='form-control', **kwargs) }}
            {% endif %}
        {% endif %}
        <!--{% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}-->
        {% if field.errors %}
            <span class="field-validation-invalid field-validation-error" data-valmsg-for="{{ field.name }}"
                  data-valmsg-replace="true">
            {% for error in field.errors %}
                <span for="{{ field.name }}" generated="true" class="">{{ error }}</span>
            {% endfor %}
        </span>
        {% else: %}
            <span class="field-validation-valid" data-valmsg-for="{{ field.name }}" data-valmsg-replace="true"></span>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_field_error(field, label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}


{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}

{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_error(field) -%}
    {% if field.errors %}
        <div class="alert-danger alert">
            {% for e in field.errors %}
                <!--<p class="help-block">{{ e }}</p>-->
                <h4 class="glyphicon glyphicon-alert"
                    style="font-family:'Glyphicons Halflings' !important;margin-right:10px;margin-bottom:0;"></h4>
                {{ e }}
            {% endfor %}
        </div>
    {% endif %}
{%- endmacro %}


{# Renders WTForm in plain mode more customizable
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
            {{ macros.render_field(form.email) }}
            {{ macros.render_field(form.password) }}
            {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
          {% endcall %}
#}
{% macro render_plain_form(form, action_url, id='form', ajax_update='') %}
    <form method="POST" id="{{ id }}" action="{{ action_url }}" data-ajax-update="{{ ajax_update }}">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {% if 'id' in form %}
                {{ render_error(form.id) }}
            {% endif %}
            {{ caller() }}
        {% else %}
            {% for f in form if f.type!='CSRFTokenField' and f.type!='HiddenField' %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% else %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </form>
{% endmacro %}

{# Renders WTForm in bootstrap way. There are two ways to call function:
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
                {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
                {{ macros.render_field(form.password, placeholder='Input password', type='password') }}
                {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
            {% endcall %}

     Params:
        form - WTForm class
        action_url - url where to submit this form
        action_text - text of submit button
        class_ - sets a class for form
#}
{% macro render_form(form, action_url='', action_text=_('Save'), return_url='', return_text=_('Cancel'),
                     edit_url='', edit_text=_('Edit'), remove_url='', remove_text=_('Remove'),
                     class_='', btn_class='btn btn-primary', pull_class='pull-right', id="form", enctype='', 
                     ajax='True', ajax_update='#content', canedit=true, is_half_width=true, is_use_template=true, is_use_floating_button=true) -%}
    <form method="POST" action="{{ action_url }}" data-toggle="validator" role="form" class="{{ class_ }}" id="{{ id }}"
          enctype="{{ enctype }}"
          data-ajax="{{ ajax }}" {{ ('data-ajax-update="%s"' % ajax_update if ajax_update else '') | safe }}>
        <!--<div class="panel" style="{% if not is_use_template %}
             box-shadow:none;background:transparent; {% endif %}">-->

        <div class="{% if is_use_template %}panel{% endif %}">
            <div class="{% if is_use_template %}panel-body{% endif %}">
                <div class="{% if is_use_template %}row{% endif %}">
                    {{ form.hidden_tag() if form.hidden_tag }}
                    {% if caller %}
                        {% if 'id' in form %}
                            {{ render_error(form.id) }}
                        {% endif %}
                        {{ caller() }}
                    {% else %}
                        {% for f in form if f.type != 'CSRFTokenField' and f.type != 'HiddenField' %}
                            {% if f.type == 'BooleanField' %}
                                {{ render_checkbox_field(f) }}
                            {% else %}
                                {% if f.render_kw['clear_top'] %}
                                    <div class="clearfix"></div>
                                {% endif %}
                                {% if f.type == 'HiddenField' or not is_half_width or f.render_kw['is_half_width'] %}
                                    <div class="col-md-12">
                                        {{ render_field(f) }}
                                    </div>
                                {% else %}
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        {{ render_field(f) }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!--<hr />-->

        <div class="{% if not is_use_floating_button %}col-md-12{% endif %}"
             style="{% if is_use_floating_button %}position:fixed;bottom:0;padding:7px;right:0;left:0;{% endif %}">
            <div class="{{ pull_class }}">
                {% if return_url %}
                    <a class="btn btn-default btn-return" data-ajax="{{ ajax }}" href="{{ return_url }}">{{ return_text }}</a>
                {% endif %}
                {% if action_url and action_text and canedit %}
                    <button type="submit" class="{{ btn_class }}">{{ action_text }}</button>
                {% elif edit_url %}
                    <a class="btn btn-default btn-edit" data-ajax="{{ ajax }}" href="{{ edit_url }}">{{ edit_text }}</a>
                {% endif %}
                {% if remove_url %}
                    <a class="btn btn-danger btn-remove" data-ajax="{{ ajax }}" href="{{ remove_url }}">{{ remove_text }}</a>
                {% endif %}
            </div>
        </div>
        {% if is_use_floating_button %}
            <style>
                .fixed-sub-footer {
                    min-height: 48px;
                }
            </style>
        {% endif %}
    </form>
{%- endmacro %}

{% macro render_filter_form(form,id='', action_url='', ajax_update='', class_='', show_label=false) -%}
    <form method="POST" {%if id %}id="{{ id }}"{% endif %} action="{{ action_url }}" role="form" class="{{ class_ }} no-print"
          data-ajax-update="{{ ajax_update }}">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            <div class="row">
                {% for f in form if f.type!='CSRFTokenField' and f.type!='HiddenField' %}
                    {% set col_class = 'col-xs-12 col-sm-4 col-md-3' %}

                    {% if f.render_kw %}
                        {% set col_class = f.render_kw.get("col-class", col_class) %}
                    {% endif %}
                    <div class="{{ col_class }}">
                        <div class="form-group control-filter">
                            {% if show_label and f.type != 'HiddenField' %}
                                <label for="{{ f.id }}">{{ f.label.text }}</label>
                            {% endif %}
                            {{ f(class_='form-control') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </form>
{%- endmacro %}


{% macro render_filter_form_row(form, action_url='', ajax_update='', class_='', show_label=false) -%}
    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }} no-print"
          data-ajax-update="{{ ajax_update }}">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            <div class="row">
                {% for f in form if f.type!='CSRFTokenField' and f.type!='HiddenField' %}
                    {% set col_class = 'col-xs-12 col-sm-4 col-md-3' %}
                    {% if f.render_kw %}
                        {% set col_class = f.render_kw.get("col-class", col_class) %}
                    {% endif %}
                    <div style="width: 19%;float: left;padding-left: 15px;">
                        <div class="form-group control-filter">
                            {% if show_label and f.type != 'HiddenField' %}
                                <label for="{{ f.id }}">{{ f.label.text }}</label>
                            {% endif %}
                            {{ f(class_='form-control') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </form>
{%- endmacro %}


{% macro render_filter_form_row_custom(form, action_url='', ajax_update='', class_='', show_label=false) -%}
    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }} no-print"
          {{ ('data-ajax-update="%s"' % ajax_update if ajax_update else '') | safe }}>
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            <div class="row">
                {% for f in form if f.type!='CSRFTokenField' and f.type!='HiddenField' %}
                    {% set col_class = 'col-xs-12 col-sm-4 col-md-3' %}
                    {% if f.render_kw %}
                        {% set col_class = f.render_kw.get("col-class", col_class) %}
                    {% endif %}
                    <div style="width: 16%;float: left;padding-left: 15px;">
                        <div class="form-group control-filter">
                            {% if show_label and f.type != 'HiddenField' %}
                                <label for="{{ f.id }}">{{ f.label.text }}</label>
                            {% endif %}
                            {{ f(class_='form-control') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </form>
{%- endmacro %}


{% macro render_radio_image_field(field, label_visible=true) -%}
    <div class="form-group">
        {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
        {% endif %}
        <div class="cc-selector">
            {% for subfield in field %}
                {{ subfield }}
                <label class="drinkcard-cc {{ subfield.data }}"
                       for="{{ subfield.id }}"><span>{{ subfield.label.text }}</span></label>
            {% endfor %}
        </div>
    </div>
{%- endmacro %}





{% macro render_all_fields(form) %}
    {% for f in form if f.type!='CSRFTokenField' and f.type!='HiddenField' %}
        {% if f.type == 'BooleanField' %}
            {{ render_checkbox_field(f) }}
        {% else %}
            {{ render_field(f) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{# Renders WTForm in plain mode more customizable
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
            {{ macros.render_field(form.email) }}
            {{ macros.render_field(form.password) }}
            {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
          {% endcall %}
#}
{% macro render_plain_form(form, action_url, id='form', ajax_update='') %}
    <form role="form" method="POST" id="{{ id }}" action="{{ action_url }}" data-ajax-update="{{ ajax_update }}"
          data-toggle="validator" data-validate="true">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {% if 'id' in form %}
                {{ render_error(form.id) }}
            {% endif %}
            {{ caller() }}
        {% else %}
            {{ render_all_fields(form) }}
        {% endif %}
    </form>
{% endmacro %}


{% macro render_group_field(fields, label="") -%}
<div class="form-group {{ kwargs.pop('class_', '') }}">
    {% if label %}
    <label class="control-label">{{ label }}</label>
    {% endif %}
    <div class="input-group">
        {% for field in fields %}
        {{ field(class_='form-control', **kwargs) }}
        {% if field.render_kw['group_text'] %}
        <span class="input-group-addon">{{ field.render_kw['group_text'] }}</span>
        {% elif loop.index == 1 %}
        <span class="input-group-addon"></span>
        {% endif %}
        {% endfor %}
    </div>
    <!--<div class="help-block with-errors"></div>-->
    {% for field in fields %}
    {% if field.errors %}
    <span class="field-validation-invalid field-validation-error" data-valmsg-for="{{field.name}}"
          data-valmsg-replace="true">
                    {% for error in field.errors %}
                        <span for="{{field.name}}" generated="true" class="">{{ error }}</span>
                    {% endfor %}
                </span>
    {% else: %}
    <span class="field-validation-valid" data-valmsg-for="{{field.name}}" data-valmsg-replace="true"></span>
    {% endif %}
    {% endfor %}
</div>
{%- endmacro %}


