﻿{% from '_macros/wtforms.html' import render_form, render_field %}

<!DOCTYPE html>

<html>
<head>
    <title>{{ _('Signup') }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('share.static', filename='images/b24_logo.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/login.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/site2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/pe-icon-7-stroke/css/helper.css') }}" />
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery-2.0.3.min.js') }}"></script>
</head>

<body class="login-form">
        {% call render_form(form,action_url=url_for('.SecurityView:signup'),action_text='', is_use_template=false) %}
    <div class="pull-right back-login">
        <a href="{{ url_for('.SecurityView:login') }}" id="back-login"><i class="pe-7s-close"></i></a>
    </div>
    <div class="container-fluid" id="signup-form">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
                <h3 class="text-center" style="color:#fff;">Signup</h3>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
                <div class="panel" id="step-1">
                    <div class="panel-body" style="padding:20px 15px;">
                        <!--<div class="col-xs-12 col-sm-12 col-md-12 text-center" style="border-bottom: 1px solid #E4E6E8; margin-bottom: 15px; padding:0 10px;">
                            <a class="btn btn-primary btn-block" style="background-color:#3B5998;" href="{{ url_for('SocialView:connect_facebook') }}">Facebook</a>
                            <span style="position: relative; top: 11px; right: 7px; background: #fff;">OR</span>
                        </div>-->
                        <div class="col-xs-12">
                            <div class="col-sm-6">
                                {{ render_field(form.ext__company_name)}}
                            </div>
                            <div class="col-sm-6">
                                {{ render_field(form.ext__company_address)}}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-sm-6">
                                {{ render_field(form.name)}}
                            </div>
                            <div class="col-sm-6">
                                {{ render_field(form.full_name)}}
                            </div>
                        </div><div class="col-xs-12">
                            <div class="col-sm-6">
                                {{ render_field(form.email)}}
                            </div>
                            <div class="col-sm-6">
                                {{ render_field(form.phone)}}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-sm-6">
                                {{ render_field(form.password)}}
                            </div>
                            <div class="col-sm-6">
                                {{ render_field(form.confirm_password)}}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="submit" class="btn btn-primary pull-right" value="SIGNUP" />
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% endcall %}
    
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery-ui-1.11.4/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery.validate.unobtrusive.min.js') }}"></script>
</body>
</html>
