{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('.HomeView:home')}}" data-ajax="false">{{_('Home')}}</a></li>
    <li><a href="{{ url_for('.BillingView:index')}}" data-ajax="false">{{_('Billing')}}</a></li>
    <li><a href="{{ url_for('.BillingView:detail',id=verify_billing[0].billing_id)}}">{{ billing_name }}</a></li>
    <li><a href="{{ url_for('.VerifyBillingView:index',billing_id = verify_billing[0].billing_id)}}">{{ _("Verify Billing") }}</a></li>
    <li class="active">{{ _('Contract Preview') }} - {{ verify_billing[0].contract_number }}</li>
</ul>
<div class="action">
    <a href="#" data-ajax="false" id="print-button" class="btn btn-danger"><i class="fa fa-print"></i>{{ _('Print') }}</a>
</div>
{% endblock %}

{% block content %}
    <iframe id="iframe" frameborder="0" onload="resizeIframe(this)" scrolling="no" style="border:0;width:100%;height:100%;" src="{{ url_for('.VerifyBillingView:contract_content',verify_billing=verify_billing) }}" ></iframe>
{% endblock %}

{% block script %}
<script>
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
    $(document).ready(function () {

        $("#iframe").load(function(){
            //$("#contract-content").html($("#iframe").contents().find("body").html());
        });

        $("#print-button").click(function(e){
            e.preventDefault();
            $("#iframe").get(0).contentWindow.print();
            return false;
        });
    });
</script>
{% endblock %}
{% block footer %}
    <div class="action">
        <a role="button" class="btn btn-default no-print"
           href="{{ back_url }}">{{ _('Back') }}</a>
    </div>
{% endblock %}


