{% extends '%s-layout.html'%session.get('layout','breadcrumb-layout') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.BillingView:index') }}">{{ _("Billing") }}</a></li>
        <li><a href="">{{ _(view.billing_name) }}</a></li>
        <li class="active">{{ _(view.title) }}</li>
    </ul>
    <div class="action">
        {#    <a class="btn btn-warning" role="button" id="process-penalty">{{ _('Process Penalty') }}</a>#}
        <button id="process_penalty" type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#myModal">{{ _('Process Penalty') }}</button>
        <a class="btn btn-primary" id="select-all" role="button">{{ _('Select All') }}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="tab">
        <ul class="nav nav-tabs no-print">
            <li class="active"><a data-toggle="tab" href="#section" data-ajax="false">{{ _(view.title) }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="section" class="tab-pane fade in active">
                <div class="box-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-10 text-left">
{#                                    <div class="dataTables_filter" id="{{ sid }}-wrapper">#}
{#                                        {{ render_filter_form(form, action_url=url_for(view.endpoints.filter, offset=0), ajax_update='#filter-result') }}#}
{#                                    </div>#}
                                    <div class="dataTables_filter" id="{{ sid }}-wrapper">
                                    {{ render_filter_form(view.filter_form, action_url=url_for('.PenaltyFarmerView:detail_filter', offset=0), ajax_update='#filter-result') }}
                                </div>
                                </div>
                            </div>
                            <div class="well well-sm print-only visible-print">
                                <div class="row bold">
                                    <div class="col-xs-12">
                                        <div class="bold">
                                            <h1 class="header-text">{{ view.title }} {{ _('Report') }}</h1>
                                            {{ _('Date') }}: <span id="filter-d1"></span><br/>
                                            {{ _('Store') }}: <span>{{ session['current_store_name'] }}</span><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="stores-table" class="ui compact striped basic table print-table">
                                <thead>
                                {{ table.render_header() }}
                                </thead>
                                <tbody id="filter-result">
                                {% block filter_result %}
                                    {{ filter_result | safe }}
                                {% endblock %}
                                </tbody>

                                <tfoot id="footer">
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-md">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ _('Penalty From') }}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                {% call render_form(view.process_form, id='form-process', action_url=url_for('.PenaltyFarmerView:process'), action_text=_('continue'),is_use_template=false,is_use_floating_button=false, pull_class='row pull-right') %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ render_group_field([view.process_form.value,view.process_form.penalty_type],label=_("Penalty")) }}

                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(view.process_form.issue_date) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(view.process_form.due_date) }}
                                        </div>
                                    </div>

                                {% endcall %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
             var message = "{{ view.message }}";
             if (message==true){
                 app.notification("{{ _('process penalty successfully!') }}");
             }
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();

            var invoices = [];
            $("#process_penalty").on('click', function () {
                $("#filter-result > tr > td input:checked").each(function(e) {
                    var invoice = {
                                'billing_id':$(this)[0].dataset['billing'],
                                'farmer_id':$(this)[0].dataset['farmer']
                    }
                    invoices.push(invoice);
                });
                $('#ext__invoice').val(JSON.stringify(invoices));
            });

            $('#select-all').on('click',function(){
               $("#filter-result > tr > td input").each(function(e) {
                   if (($(this).is(":checked"))){
                       $(this).attr("checked", false);
                   }else{
                       $(this).attr('checked','checked');
                   }
                })
            });
            

            $("#{{sid}}-wrapper input").keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    $("#{{sid}}-wrapper form").submit();
                    return false;
                }
            });

            $("#{{sid}}-wrapper .date").change(function (e) {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper select").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper hidden").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#print-button").click(function () {
                $("#filter-d1").text('{{ d1|format_date }}');
                window.print();
            });


            //$('.btn-preview').die().live('click', function () {
            $(".btn.btn-default.btn-sm.dropdown-toggle").live('click', function (e) {
                //$('.dropdown-menu > li > a').attr("data-ajax","false");
            });
            $('.dropdown-menu > li > a').die().live('click', function () {
                /* $.ajax({
                     url: $(this).attr('href')
                 }).done(function (url) {
                     window.open(url, '_blank');
                 })
                 return false;*/
            });
        });
    </script>
{% endblock %}


<table id="stores-table" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    {{ table.render_header() }}
    </thead>
    <tbody id="filter-result"></tbody>
    <tfoot id="footer">
    </tfoot>
</table>

<div id="view-wrapper">
</div>


{% block footer %}
    {% if view.back_url %}
        <div class="action">
            <a role="button" class="btn btn-default no-print"
               href="{{ view.back_url }}">{{ _('Back') }}</a>
        </div>
    {% endif %}
{% endblock %}