﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _("Contract") }}</title>
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/font.css') | style_pdf }}"/>#}
    <style>
        {#@font-face {#}
        {#    font-family: Hanuman;#}
        {#    font-style: normal;#}
        {#    font-weight: 400;#}
        {#    font-size: 25px;#}
        {#    src: url(https://fonts.gstatic.com/s/hanuman/v11/-onbhHy8dhpgqoJKxpu0Y_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2'),#}
        {#    url("{{  url_for('share.static', filename='fonts/wingdings/wingdings.ttf') | style_pdf }}") format('ttf');#}

        #}#}
        .a4 {
            width: 210mm;
            padding: 1cm;
            min-height: 279mm;
        }

        body {
            font-family: "Hanuman","Wingdings","Khmer OS Muol Light","Roboto-Regular","Roboto-Medium","Tacteing","Khmer OS","Khmer OS Muol","Khmer OS Siemreap" !important;
            font-size: 20px !important;
        }

        .a4 {
            width: 100%;
            padding: 0;
            min-height: 100% !important;
            font-family: "Hanuman","Wingdings","Khmer OS Muol Light","Roboto-Regular","Roboto-Medium","Tacteing","Khmer OS","Khmer OS Muol","Khmer OS Siemreap" !important;
        }

        @media print {
            body, html {
                margin-top: 0px !important;
                padding-top: 0px !important;
                font-family: "Hanuman","Wingdings","Khmer OS Muol Light","Roboto-Regular","Roboto-Medium","Tacteing","Khmer OS","Khmer OS Muol","Khmer OS Siemreap" !important;

            }
        }


    </style>
</head>
<body>
{% for content in contents %}
    <div class="a4">
        {{ content | safe }}
    </div>
{% endfor %}}
</body>
</html>