{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li class="active">{{ _('Add') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.add), action_text=_('Save'), return_url=url_for(view.endpoints.index), is_use_template=false) %}
        <div class="row">
            <div class="col-md-3">
                <h4>{{ _('Station Information') }}</h4>
                <p>{{ _('Provide informaion of station.') }}</p>
            </div>
            <div class="col-md-9">
                <div class="panel no-margin-bottom">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ render_field(form.code) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="col-md-12">
                                {{ render_field(form.note) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}

<!--
{% block script%}
<script>
    $(document).ready(function () {
        $("form").submit(function () {
            var blocks = [];
            $('input:checkbox').each(function () {
                    if(this.checked){
                        blocks.push($(this).val());
                    }
              });
            $("#ext__blocks").val(JSON.stringify(blocks));
        });
    });-->
    </script>
{% endblock %}