﻿{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
    <li class="active">{{ _('User Activation') }}</li>
</ul>
{% endblock %}

{% block content %}
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <h4>{{ _('User Activation') }}</h4>
            <p>{{ _('User account activation success!') }}</p>
            <span>
                Go to <a href="{{url_for('.HomeView:dashboard')}}">{{_('Dashboard')}}</a>
            </span>
        </div>
    </div>
</div>
{% endblock %}
