{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
    <li class="active">{{ title }}</li>
</ul>
{% endblock %}

{% block content %}
{% call render_form(form, action_url=url_for('.SecurityView:change_password', id=form.id.data),
                    return_url=url_for('.HomeView:dashboard'), is_use_template=false) %}
<div class="row">
    <div class="col-md-4">
        <h4>{{ _('Change Password') }}</h4>
        <p>{{ _('Provide your old password and new password.') }}</p>
    </div>
    <div class="col-md-8">
        <div class="panel">
            <div class="panel-body">
                {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        {{ render_field(form.username) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ render_field(form.new_password) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcall %}
{% endblock %}