{% extends "%s-layout.html" % layout %}

{% block breadcrumb %}
<div class="col-xs-12 col-sm-6 col-md-6 padding-zero">
    <div class="breadcrumb-header">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.HomeView:home')}}" data-ajax="false">{{_('Home')}}</a></li>
            {% for item in view.breadcrumb %}
            {% if item['url'] %}
            <li><a href="{{ item['url'] }}">{{ item['title'] }}</a></li>
            {% else %}
            <li class="active">{{ item['title'] }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{#<div class="col-xs-12 col-sm-6 col-md-6 padding-zero">#}
{#    <div class="pull-right" style="margin-top:10px;">#}
{#        <a href="{{ url_for('UserView:change_password',id=form.id.data) }}" role="button" class="btn btn-primary">{{ _('Change Password') }}</a>#}
{#    </div>#}
{#</div>#}
{% endblock %}

{% block content %}
{% call render_form(form,id='form-detail', return_url=view.back_url, action_text='',is_use_template=False, edit_url=url_for(view.endpoints.edit,id=form.data.id), btn_class='btn btn-primary',pull_class='pull-right') %}
 
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <h4>{{ _('Photo') }}</h4>
        <p>{{ _('Upload a photo of user to use in any report and invoice.') }}</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="panel">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    {{ form.picture }}
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <h4>{{ _('Profile Information') }}</h4>
        <p>{{ _('Provide general information and contact information of user.') }}</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="panel">
            <div class="panel-body">
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {{ render_field(form.name) }}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {{ render_field(form.full_name) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    {{ render_field(form.email) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    {{ render_field(form.phone) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 default-checkbox">
                    {{ render_field(form.ext__roles) }}
                </div>
            </div>
        </div>
    </div>
</div>

    {% endcall %}
{% endblock %}

{% block script %}
<script language="javascript">
    $(document).ready(function () {
        $("#form-detail input,#form-detail select,#form-detail textarea,#form-detail button").attr("disabled", "disabled");
        $('#email').removeAttr('data-val-remote-url')
    });
</script>
{% endblock %}