{% extends "%s-layout.html" % layout %}

{% block content %}
    {% call render_form(form,action_text=_('Save'), action_url=url_for(view.endpoints.edit, id=form.data.id), return_url=url_for(view.endpoints.index), is_use_template=False,ajax='false') %}
        <div id="form-edit">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h4>{{ _('Photo') }}</h4>
                    <p>{{ _('Upload a photo of user to use in any report and invoice.') }}</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="col-xs-12 col-sm-8 col-md-8">
                                {{ form.picture }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h4>{{ _('Profile Information') }}</h4>
                    <p>{{ _('Provide general information and contact information of user.') }}</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="clearfix"></div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                {{ render_field(form.full_name) }}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                {{ render_field(form.email) }}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                {{ render_field(form.phone) }}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 default-checkbox">
                                {{ render_field(form.ext__roles) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            //$("#form-edit #name").attr("disabled", "disabled");
            $('form').removeAttr('data-ajax-update');
            $('form').attr('novalidate', 'false');
            $("#email").removeAttr('data-val-remote-url');
        });
    </script>
{% endblock %}