{% extends "breadcrumb-layout.html" %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
           <li><a href="{{ url_for('.SettingView:index') }}" >{{ _('Setting') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li><a href="{{ url_for(view.endpoints.detail, id=form.id.data) }}">{{ view.obj }}</a></li>
        <li class="active">{{ _('Edit') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.edit,id=form.data.id), return_url=url_for(view.endpoints.index), action_text=_('Save'),is_use_template=false) %}

        <div id="form-edit">
            <div class="row">
                <div class="col-md-3">
                    <h4>{{ _('Penalty Information') }}</h4>
                    <p>{{ _('Provide informaion of Penalty.') }}</p>

                </div>
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                 <div class="col-md-4">
                                {{ render_field(form.name) }}
                            </div>
                             <div class="col-md-4">
                                {{ render_field(form.percentag) }}
                            </div>
                             <div class="col-md-4">
                                {{ render_field(form.amount) }}
                            </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    {{ render_field(form.note) }}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endcall %}
{% endblock %}

{% block script %}{% endblock %}


