{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.SettingView:index') }}" >{{ _('Setting') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li>{{ view.obj }}</li>
    </ul>
    <div class="action">
{#        {% if (form.billing_status_id.data=='start') %}#}
{#            <a role="button" href="{{ url_for(".BillingView:verify_billing",id=form.id.data) }}" class="btn btn-primary">{{ _('Verify Billing') }}</a>#}
{#        {% elif (form.billing_status_id.data == 'verify') %}#}
{#            <button type="button" class="btn btn-primary" data-toggle="modal"#}
{#                    data-target="#myModal">{{ _('Process Billing') }}</button>#}
{#        {% endif %}#}
    </div>



{% endblock %}
{% block content %}

    {% call render_form(form, edit_url=url_for(view.endpoints.edit, id=form.data.id), remove_url=url_for(view.endpoints.remove, id=form.data.id), return_url=url_for(view.endpoints.index), is_use_template=False) %}

        <div id="form-detail">
             <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.contract_template_id) }}
                            </div>

                        </div>

                        <div class="row">
                             <div class="col-md-12">
                                {{ render_field(form.content_template) }}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>


    {% endcall %}

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ _('Date') }}</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            {% call render_form(view.process_form, id='form-process', action_url=url_for('.BillingView:process',id=form.data.id), action_text='continue',is_use_template=false,is_use_floating_button=false, pull_class='row pull-right') %}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ render_field(view.process_form.issue_date) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ render_field(view.process_form.due_date) }}
                                    </div>
                                </div>

                            {% endcall %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {% include 'billing/editor_script.html' %}
{% endblock %}


{% block script %}
    <script language="javascript">

        $(document).ready(function () {
            $('body div').removeClass('modal-backdrop fade in');
             $('.btn-preview').die().live('click', function () {
                $.ajax({
                    url: $(this).attr('href')
                }).done(function (url) {
                    window.open(url,'_blank');
                })
                return false;
            });

            $('.date').datepicker({
                'format': 'yyyy-mm-dd',
                'autoclose': true,
                'weekStart': 1,
                'container': '#filter-wrapper'
            }).on('show', function (e) {
                if (e.date) {
                    $(this).data('stickyDate', e.date);
                }
                else {
                    $(this).data('stickyDate', null);
                }
            }).on('hide', function (e) {
                var stickyDate = $(this).data('stickyDate');
                if (!e.date && stickyDate) {
                    $(this).datepicker('setDate', stickyDate);
                    $(this).data('stickyDate', null);
                }
            }).on('changeDate', function (e) {
                if (typeof e.date !== "undefined") {
                    $("#filter-wrapper form").submit();
                }
            });


            $("#form-detail input, #form-detail select, #form-detail textarea, #form-detail button").attr("disabled", "disabled");
        });
    </script>
{% endblock %}


