{% extends "breadcrumb-layout.html" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.SettingView:index') }}" >{{ _('Setting') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li><a href="{{ url_for(view.endpoints.detail, id=form.id.data) }}">{{ view.obj }}</a></li>
        <li class="active">{{ _('Edit') }}</li>
    </ul>
{% endblock %}
{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.edit,id=form.id.data),action_text=_('Save'), return_url=url_for(view.endpoints.index), is_use_template=False) %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.contract_template_id) }}
                            </div>

                        </div>

                        <div class="row">
                             <div class="col-md-12">
                                {{ render_field(form.content_template) }}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}
