{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li class="active">{{ _('Add') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.add), action_text=_('Save'), return_url=url_for(view.endpoints.index), is_use_template=false) %}
        <div class="row">
            <div class="col-md-3">
                <h4>{{ _('Invoice Information') }}</h4>
                <p>{{ _('Provide informaion of invoice.') }}</p>
            </div>
            <div class="col-md-9">
                <div class="panel no-margin-bottom">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ render_field(form.code) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.billing_id) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.total_lands) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.total_area) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.ext__unit_cost) }}
                            </div>
                            <div class="col-md-12">
                                {{ render_field(form.note) }}
                            </div>
                            <div style="display: none">
                                {{ render_field(form.station_id) }}
                                {{ render_field(form.block_id) }}
                                {{ render_field(form.farmer_id) }}
                                {{ render_field(form.total_amount) }}
                                {{ render_field(form.paid_amount) }}
                                {{ render_field(form.currency_id) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {


            // Restricts input for each element in the set of matched elements to the given inputFilter.
            (function ($) {
                $.fn.inputFilter = function (inputFilter) {
                    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                        if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                        } else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                        }
                    });
                };
            }(jQuery));


            // Datetime
            var session = "{{session['language']}}";

            $.fn.datepicker.dates['km'] = {
                days: ["អាទិត្យ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហស្បតិ៍", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
                daysShort: ["អាទិ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏"],
                daysMin: ["អាទិ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
                months: ['មករា', 'កុម្ភៈ', 'មីនា', 'មេសា', 'ឧសភា', 'មិថុនា', 'កក្កដា', 'សីហា', 'កញ្ញា', 'តុលា', 'វិចិក្កា', 'ធ្នូ'],
                monthsShort: ['មករា', 'កុម្ភៈ', 'មីនា', 'មេសា', 'ឧសភា', 'មិថុនា', 'កក្កដា', 'សីហា', 'កញ្ញា', 'តុលា', 'វិចិក្កា', 'ធ្នូ'],
            };

            $('.date').datepicker({
                'language': session,
                'format': "dd-mm-yyyy",
                'autoclose': true
            }).on('show', function (e) {
                if (e.date) {
                    $(this).data('stickyDate', e.date);
                } else {
                    $(this).data('stickyDate', null);
                }
            }).on('hide', function (e) {
                var stickyDate = $(this).data('stickyDate');
                if (!e.date && stickyDate) {
                    $(this).datepicker('setDate', stickyDate);
                    $(this).data('stickyDate', null);
                }
            }).on('changeDate', function (e) {
                if (typeof e.date !== "undefined") {
                    $("#filter-wrapper form").submit();
                }
            });
        });


        {#   $("#form").submit(function () {#}
        {#    var itms =  $("#total_lands-editor").val();#}
        {#    var items_data = JSON.stringify({"land_ids": itms});#}
        {#    $("#form #ext_data").val(items_data);#}
        $("#total_lands-editor").on('change', function () {
            console.log()
            var land_ids = $(this).val();
            if (land_ids != '') {
                var url = "{{ url_for('.LandView:sum_area') }}";
                var data = JSON.stringify(land_ids);
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (resp) {
                        var total_area = Math.ceil(resp * 100) / 100;
                        $("#total_area").val(total_area);
                        $("#total_area").keyup();
                        var ext_data = {
                            "lands": land_ids
                        };
                        data = JSON.stringify(ext_data);
                        $("#ext_data").val(data)
                    }
                })
            } else {
                alert('');
                $("#total_area").val(0);
            }

        });

        function to_riel(param) {
            var value = param.toFloat();
            var digits = value % 100;
            if (digits > 0 && digits <= 99) {
                value = (value - digits) + 100;
            }
            return value.toLocaleString()
        }

        $("#ext__unit_cost").inputFilter(function (value) {
            return /^\d*$/.test(value);
        });

    </script>

{% endblock %}