﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or 'Contract' }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/font.css') }}?v={{ v }}" />
    <style>
        .frame{
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .frame-content{
            background-color:#fff;
            box-shadow: 2px 2px 5px #888;
        }
        .frame .a4{
            width:210mm;
            padding:1cm;
            min-height:279mm;
        }
        @media print
        {
            .frame-content{
                box-shadow: none;
            }
            .frame .a4{
                width:100%;
                padding:0;
                min-height:100% !important;
            }
            body, html {
                margin-top:0px !important;
                padding-top:0px !important;
            }
        }
    </style>
</head>
<body>
    <div class="frame">
        <div  class="frame-content a4">
{#              {{ constract_number }}#}
            {{ content | safe }}
        </div>
    </div>
</body>
</html>