{% extends '%s-layout.html'%session.get('layout','breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li>{{ view.obj.code }}</li>
    </ul>

    <div class="action">
        <a href="{{ url_for('.InvoiceView:preview_invoice',id=form.data.id,code=view.obj.code,back_url=url_for(".InvoiceView:detail",id = form.data.id),breadcrumb_title=view.invoice_detail[0].invoice_code) }}"
           class="btn btn-warning btn-preview"><i class="fa fa-eye" aria-hidden="true"></i> {{ _('Preview Invoice') }}
        </a>
        {% if view.invoice_detail[0].contract_number %}
            <a href="{{ url_for('.InvoiceView:preview_invoice',id=form.data.id,billing_id=view.obj.billing_id,contract_number=view.invoice_detail[0].contract_number,back_url=url_for(".InvoiceView:detail",id = form.data.id),breadcrumb_title=view.invoice_detail[0].invoice_code) }}"
               class="btn btn-warning btn-preview"><i class="fa fa-eye"
                                                      aria-hidden="true"></i> {{ _('Preview Contract') }}</a>
        {% endif %}
    </div>

{% endblock %}

{% block content %}
    {% call render_form(form, action_text='',edit_url=url_for(view.endpoints.edit, id=form.data.id), remove_url=url_for(view.endpoints.remove, id=form.data.id), return_url=url_for(view.endpoints.index), return_text=_('Back'), is_use_template=false) %}
        <div id="form-detail">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ render_field(form.billing_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.station_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.total_amount,value=form.total_amount.data | format_value()) }}
                                </div>

                                <div class="col-md-3">
                                    {{ render_field(form.paid_amount,value=form.paid_amount.data | format_value()) }}
                                </div>

                                <div class="col-md-3">
                                    {{ render_field(form.farmer_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.issue_date) }}
                                </div>

                                <div class="col-md-3">
                                    {{ render_field(form.due_date) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.currency_id) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table" id="invoice-detail-table">
                                        <thead>
                                        <tr>
                                            <th class="col-md-2">{{ _('Block Code') }}</th>
                                            <th class="col-md-2">{{ _('Land Code') }}</th>
                                            <th class="col-md-2">{{ _('Area(Are)') }}</th>
                                            <th class="col-md-3">{{ _('Unit Cost') }}</th>
                                            <th class="col-md-3">{{ _('Total Amount') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody">
                                        {% for item in view.invoice_detail %}
                                            <tr>
                                                <td>{{ item.block_name }}</td>
                                                <td>{{ item.land_code }}</td>
                                                <td><input type="text" class="form-control decimal" format="decimal"
                                                           id="total_area" readonly
                                                           value="{{ item.area | format_currency() }}"></td>
                                                <td><input type="text" class="form-control decimal" format="decimal"
                                                           id="unit_cost" readonly
                                                           value="{{ item.unit_cost | format_value() }}"></td>
                                                <td><input type="text" class="form-control decimal" format="decimal"
                                                           id="total_cost" readonly
                                                           value="{{ item.total_cost | format_integer() }}"></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfooter>
                                            <tr id="total">
                                                <th colspan="1"></th>
                                                <th>{{ _("Total") }}</th>
                                                <th><input type="text" id="sum_area" class="form-control decimal"
                                                           format="decimal" readonly></th>
                                                <th><input type="text" id="sum_unit_cost" class="form-control decimal"
                                                           format="decimal" readonly></th>
                                                <th><input type="text" id="sum_total_cost" class="form-control decimal"
                                                           format="decimal" readonly></th>
                                            </tr>

                                        </tfooter>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% if view.note %}
                <div class="row">
                    <div class="col-md-4">
                        <h4>{{ _("Edit") }}</h4>
                        <p>{{ _("Addjust Invoice") }}</p>
                    </div>
                    <div class="col-md-8">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">{{ _('Amount') }}</div>
                                            <div class="col-md-6">{{ _('Total Amount') }}</div>
                                            <div class="col-md-6"><input type="text" id="amount"
                                                                         class="form-control decimal"
                                                                         format="decimal"></div>
                                            <div class="col-md-6">
                                                <input type="text" id="total_costs" class="form-control decimal"
                                                       format="decimal" readonly>
                                            </div>
                                            <div class="col-md-12">
                                                {{ render_field(form.note) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}
        </div>
    {% endcall %}
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $("#form-detail input, #form-detail select, #form-detail textarea ,#form-detail button").attr("disabled", "disabled");

            var sum_area = 0, sum_unit_cost = 0, sum_total_cost = 0;
            $("#invoice-detail-table #tbody tr").each(function () {
                var tr = $(this);
                var obj = app.fn.object.read(tr);
                sum_area += obj.total_area;
                sum_unit_cost = obj.unit_cost;
                sum_total_cost += obj.total_cost;
            });

            sum_total_cost = to_riel(sum_total_cost);
            app.fn.object.write($("#total #sum_area"), sum_area);
            app.fn.object.write($("#total #sum_unit_cost"), sum_unit_cost);
            app.fn.object.write($("#total #sum_total_cost"), sum_total_cost);
            $("#total_costs").val(sum_total_cost);

            function init() {

                var items_data = $("[name=ext_data]").val();

                if (items_data != "") {
                    var item = JSON.parse(items_data);
                    $("#amount").val(item.amount);
                    $("#total_costs").val(item.total_amount);
                }
            };

            init();

            //$('.btn-preview').die().live('click', function () {
            $(".btn.btn-default.btn-sm.dropdown-toggle").live('click', function (e) {
                //$('.dropdown-menu > li > a').attr("data-ajax","false");
            });
            $('.dropdown-menu > li > a').die().live('click', function () {
                /* $.ajax({
                     url: $(this).attr('href')
                 }).done(function (url) {
                     window.open(url, '_blank');
                 })
                 return false;*/
            });


            function to_riel(param) {
                var value = param.toFloat();
                var digits = value % 100;
                if (digits > 0 && digits <= 99) {
                    value = (value - digits) + 100;
                }
                return value
            }


        });
    </script>
{% endblock %}