{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        {% if view.invoice_detail %}
            <li>{{ view.invoice_detail[0].invoice_code }}</li>
        {% endif %}
    </ul>

    <div class="action">
        {% if view.activate %}
            <a href="{{ url_for('.InvoiceView:preview_invoice',id=form.data.id,back_url=url_for(".InvoiceView:edit",id = form.data.id)) }}"
               class="btn btn-primary btn-preview"><i
                    class="glyphicon glyphicon-print"> </i> {{ _('Print') }}</a>
            {% if view.status_id == 'pending' %}
                <button id="btn-addjust" class="btn btn-warning"><i
                        class="glyphicon glyphicon-pencil "
                        aria-hidden="true"> </i> {{ _("Edit") }}</button>
            {% endif %}

        {% else %}
            <div class="checkbox">
                <label style="font-size:1em;">
                    <input class="check" type="checkbox" id="status-check">
                    <span class="cr"> <i class="cr-icon glyphicon glyphicon-ok"></i></span> {{ _('activate') }}
                </label>

            </div>
        {% endif %}
    </div>

{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.edit,id=form.data.id), return_url=url_for(view.endpoints.index), action_text=_('Save'), is_use_template=false) %}
        <div id="form-edit">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ render_field(form.billing_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.station_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.total_amount,value=form.total_amount.data | format_currency()) }}
                                </div>

                                <div class="col-md-3">
                                    {{ render_field(form.paid_amount,value=form.paid_amount.data | format_currency()) }}
                                </div>

                                <div class="col-md-3">
                                    {{ render_field(form.farmer_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.issue_date) }}
                                </div>

                                <div class="col-md-3">
                                    {{ render_field(form.due_date) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.currency_id) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table" id="invoice-detail-table">
                                        <thead>
                                        <tr>
                                            <th class="col-md-2">{{ _('Block Code') }}</th>
                                            <th class="col-md-2">{{ _('Land Code') }}</th>
                                            <th class="col-md-2">{{ _('Area(A)') }}</th>
                                            <th class="col-md-2">{{ _('Unit Cost') }}</th>
                                            <th class="col-md-2">{{ _('Total Amount') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody">
                                        {% for item in view.invoice_detail %}
                                            <tr>
                                                <td>{{ item.block_name }}</td>
                                                <td>{{ item.land_code }}</td>
                                                <td><input type="text" class="form-control decimal" format="decimal"
                                                           id="total_area" readonly
                                                           value="{{ item.area | format_currency() }}"></td>
                                                <td><input type="text" class="form-control decimal" format="decimal"
                                                           id="unit_cost" readonly
                                                           value="{{ item.unit_cost | format_currency() }}"></td>
                                                <td><input type="text" class="form-control decimal" format="decimal"
                                                           id="total_cost" readonly
                                                           value="{{ item.total_cost | format_currency() }}"></td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                        <tfooter>
                                            <tr id="total">
                                                <th colspan="1"></th>
                                                <th>{{ _("Total") }}</th>
                                                <th><input type="text" id="sum_area" class="form-control decimal"
                                                           format="decimal" readonly></th>
                                                <th><input type="text" id="sum_unit_cost" class="form-control decimal"
                                                           format="decimal" readonly></th>
                                                <th><input type="text" id="sum_total_cost" class="form-control decimal"
                                                           format="decimal" readonly></th>
                                            </tr>

                                        </tfooter>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {#            {% if view.note %}#}
            <input id="note" type="hidden" value="{{ view.note }}">
            <input id="status_id" type="hidden" value="{{ view.status_id }}">
            <div class="row" id="addjust-invoice">
                <div class="col-md-4">
                    <h4>{{ _("Edit") }}</h4>
                    <p>{{ _("Addjust Invoice") }}</p>
                </div>
                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">{{ _('Area') }}</div>
                                        <div class="col-md-6">{{ _('Total Area') }}</div>
                                        <div class="col-md-6">
                                            <input type="text" id="area" autocomplete="off"
                                                   class="form-control decimal"
                                                   format="decimal"></div>
                                        <div class="col-md-6">
                                            <input type="text" id="total_sum_area" class="form-control decimal"
                                                   format="decimal" readonly>
                                        </div>
                                        <br>
                                        <div class="col-md-6">{{ _('Amount') }}</div>
                                        <div class="col-md-6">{{ _('Total Amount') }}</div>
                                        <div class="col-md-6"><input type="text" id="amount" autocomplete="off"
                                                                     class="form-control decimal"
                                                                     format="decimal"></div>
                                        <div class="col-md-6">
                                            <input type="text" id="total_costs" class="form-control decimal"
                                                   format="decimal" readonly>
                                        </div>
                                        <div class="col-md-12">
                                            {{ render_field(form.note) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {#            {% endif %}#}
        </div>
    {% endcall %}
{% endblock %}
{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $("#form-edit input, #form-edit select, #form-edit button").attr("disabled", "disabled");

            var sum_area = 0, sum_unit_cost = 0, sum_total_cost = 0;
            $("#invoice-detail-table #tbody tr").each(function () {
                var tr = $(this);
                var obj = app.fn.object.read(tr);
                sum_area += obj.total_area;
                sum_unit_cost = obj.unit_cost;
                sum_total_cost += obj.total_cost;
            });
            sum_total_cost = to_riel(sum_total_cost);
            app.fn.object.write($("#total #sum_area"), sum_area);
            app.fn.object.write($("#total #sum_unit_cost"), sum_unit_cost);
            app.fn.object.write($("#total #sum_total_cost"), sum_total_cost);

            $("#tariff_cost").val(sum_unit_cost);
            $("#total_costs").val(sum_total_cost);
            $("#total_sum_area").val(sum_area);
            $("#amount").die('keyup').live('keyup', function () {
                var amount = $(this).val();
                if (amount =="-"){
                    amount = 0;
                }
                var invoice_type = "{{ view.obj.invoice_type }}";
                var total_costs = amount.toFloat() + sum_total_cost;

                 if (invoice_type == '10042') {
                     total_costs = $("#total_amount").val();
                    total_costs = total_costs.replace(",","");
                    total_costs = total_costs.toFloat();
                    total_costs = amount.toFloat() + total_costs;
                }

                $("#total_costs").val(total_costs);
            });

            $("#area").die('keyup').live('keyup', function () {
                var area = $(this).val();
                if (area == "-"){
                    area = 0;
                }
                var total_area = area.toFloat() + sum_area;
                var invoice_type = "{{ view.obj.invoice_type }}";
                $("#total_sum_area").val(Math.round(total_area * 10000) / 10000);
                if (invoice_type == '10042'){
                    $("#total_sum_area").val(0);
                }
            });

            $("#form").submit(function () {
                var total_costs = $("#total_costs").val();
                var total_sum_area = $("#total_sum_area").val();
                var amount = $("#amount").val();
                var area = $("#area").val();
                var item = JSON.stringify({
                    "total_amount": total_costs,
                    "amount": amount,
                    "total_area": total_sum_area,
                    "area": area
                });
                $("#form #ext_data").val(item);
            });

            function init() {
                var items_data = $("[name=ext_data]").val();
                if (items_data != "") {
                    var item = JSON.parse(items_data);
                    $("#amount").val(item.amount);
                    $("#total_costs").val(item.total_amount);
                    $("#area").val(item.area);
                    var num = parseFloat(item.total_area);
                    $("#total_sum_area").val(Math.round(num * 10000) / 10000);
                }

            };

            init();
            var note = $("#note").val();
            if (note == "None") {
                $("#addjust-invoice").hide();
            } else {
                $("#addjust-invoice").show();
                $("#btn-addjust").attr("disabled", "disabled");
                $("#amount").removeAttr("disabled");
                $("#area").removeAttr("disabled");
            }
            $("#btn-addjust").on('click', function () {
                var total = $("#sum_total_cost").val();
                var invoice_type = "{{ view.obj.invoice_type }}";
                var total_area = $("#sum_area").val();
                total_area = total_area.toFloat();
                $("#total_sum_area").val(total_area);
                if (invoice_type == '10042') {
                    total = $("#total_amount").val();
                    total = total.replace(",","");
                    total = total.toFloat();
                    $("#total_sum_area").val(0);
                }else{
                     $("#area").removeAttr("disabled");
                }
                 $("#total_costs").val(total);

                $("#addjust-invoice").show();
                $("#btn-addjust").attr("disabled", "disabled");
                $("#amount").removeAttr("disabled");

            });
            var status_id = $("#status_id").val();
            if (status_id != 'pending') {
                $("textarea").attr('disabled', 'disabled');
                $("#amount").attr('readonly', 'readonly');
                $("#area").attr('readonly', 'readonly');

            }


            function to_riel(param) {
                var value = param.toFloat();
                var digits = value % 100;
                if (digits > 0 && digits <= 99) {
                    value = (value - digits) + 100;
                }
                return value
            }


            $('#status-check').change(function () {
                if ($(this).prop("checked")) {
                    $("#status_id").val('pending');
                    $("#is_active").val(true);
                }
                // not checked
            });


        });
    </script>
{% endblock %}