﻿{% include 'crud/filter.html' %}

{% block script %}
    <script>
        $("a.preview-receipt").on('click', function () {
            $("#model-tbody").html("");
            var url = "{{ url_for(".InvoiceView:get_receipts",invoice_id="param") }}";
            url = url.replace("param", $(this).attr('data-id'));
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    var data = JSON.parse(response);
                    var trs = "";
                    for (var i = 0; i < data.length; i++) {
                        var payment_url = "{{ url_for('PaymentView:preview_receipt_on_invoice',id="param_id") }}";
                        payment_url = payment_url.replace('param_id',  data[i].id);
                        var tr = "<tr>" +
                            "<td><a href=" + payment_url + ">" + data[i].code + "</a></td>" +
                            "<td>" + data[i].farmer + "</td>" +
                            "<td>" + data[i].payment_method + "</td>" +
                            "<td class='decimal'>" + data[i].total_amount.toLocaleString() + "</td>" +
                            "<td class='decimal'>" + data[i].pay_amount.toLocaleString() + "</td>" +
                            "<td class='decimal'>" + data[i].ending_balance.toLocaleString() + "</td>" +
                            "<td>" + data[i].currency + "</td>" +
                            "<td>" + data[i].pay_date + "</td>" +
                            "</tr>";
                        trs += tr
                    }
                    $("#model-tbody").html(trs)
                }
            });
            $("#preview-model").modal('toggle');
        });


    </script>

{% endblock %}