{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li class="active">{{ _(view.title) }}</li>
    </ul>
    <div class="action">
        <a class="btn btn-success" role="button" id="add-penalty"><i
                class="fa fa-plus-circle"></i> {{ _('Add Penalty') }}</a>
        <a class="btn btn-primary" role="button" href="{{ url_for(view.endpoints.add) }}"><i
                class="fa fa-plus-circle"></i> {{ _('Add') }}</a>
        <a href="#" data-ajax="false" id="print-button" class="btn btn-danger">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ _('Print') }}</a>
        <a id="export-table" class="btn" style="background-color: #1F6F43; color:#FFFFFF;" data-ajax="false" title="{{ view.title }}">
            <i class="fa fa-file-excel-o"></i>
            {{ _('Export') }}
        </a>
        <a class="btn btn-primary" role="button" id="print-all-button" data-ajax="false"><i
                class="glyphicon glyphicon-print"> </i> {{ _('Print All Invoices') }}</a>
    </div>
{% endblock %}

{% block content %}
    <style type="text/css">

        @page {
            size: A4 landscape;
        }

        @page :first {
            visibility: hidden !important;
        }

        @media print {

            .fixed-sub-content {
                width: 100%;
                position: absolute !important;
                padding: 15px;
                flex-grow: 1;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            .navbar-fixed-top {
                position: absolute !important;
                min-height: initial;
                margin: 0;
                z-index: 0;
            }
        }


    </style>
    <div class="tab">
        <ul class="nav nav-tabs no-print">
            <li class="active"><a data-toggle="tab" href="#section"
                                  data-ajax="false">{{ _(view.title) }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="section" class="tab-pane fade in active">
                <div class="box-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <div class="dataTables_filter" id="{{ sid }}-wrapper">
                                        {{ render_filter_form_row_custom(form, action_url=url_for(view.endpoints.filter, offset=0), ajax_update='#filter-result') }}
                                    </div>
                                </div>
                            </div>
                            <div class="print-margin report-html visible-print">
                                <div class="well well-sm row print-only report-html-header"
                                     style="width:100%;padding:0;margin:0;">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 style="min-height:6rem;">{{ _('Report') }} {{ _("Invoice") }}</h2>
                                            </div>
                                            <div style="padding-left:18px">{{ _('Date') }}: <span id="filter-d1"></span>
                                            </div>

                                        </div>
                                        <br/>
                                    </div>
                                </div>

                            </div>
                            <table id="stores-table" class="ui compact striped basic table print-table">
                                <thead>
                                {{ table.render_header() }}
                                </thead>
                               <tbody id="filter-result">
                                {% block filter_result %}
                                    {{ filter_result | safe }}
                                {% endblock %}
                                </tbody>
                                <tfoot id="footer">
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="preview-model" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ _("Payment") }}</h4>
                </div>
                <div class="modal-body">
                    <table style="padding:0px 10px 0px 10px;" id="stores-table" class="ui compact striped basic table print-table">
                        <thead>
                        <th>{{ _("Payment Code") }}</th>
                        <th>{{ _("Farmer") }}</th>
                        <th>{{ _('Payment Method') }}</th>
                        <th class="decimal">{{ _("Pay Amount") }}</th>
                        <th class="decimal">{{ _("Paid Amount") }}</th>
                        <th class="decimal">{{ _("Ending Balance") }}</th>
                        <th>{{ _("Currency") }}</th>
                        <th>{{ _("Pay Date") }}</th>
                        </thead>
                        <tbody id="model-tbody">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
    {% if view.back_url %}
        <div class="action">
            <a role="button" class="btn btn-default no-print"
               href="{{ view.back_url }}">{{ _('Back') }}</a>
        </div>
    {% elif back_url %}
        <div class="action">
            <a role="button" class="btn btn-default no-print"
               href="{{ view.back_url }}">{{ _('Back') }}</a>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/polling.js') }}"></script>
    <script language="javascript">


        $(document).ready(function () {

            if ($('#billing_id').val() != '__None') {
                $("#add-penalty").removeAttr("disabled");
                setPenaltyUrl($(this).val())
            } else {
                $("#add-penalty").attr("disabled", "disabled");
            }

            var billing_id = 0, village_id = 0, block_id = 0;

            $("#billing_id").on("change", function () {
                billing_id = $('#billing_id').val();
                disable_print();
                if (billing_id != '__None') {
                    $("#add-penalty").removeAttr("disabled");
                    setPenaltyUrl(billing_id)
                } else {
                    $("#add-penalty").attr("disabled", "disabled");
                    $("#add-penalty").removeAttr("href");
                }
            }).change();

            $("#village_id").on("change", function () {
                village_id = $('#village_id').val();
                disable_print();
            }).change();

            $("#block_id").on("change", function () {
                block_id = $('#block_id').val();
                disable_print();
            }).change();


            $("#print-button").click(function () {
                $("#filter-d1").text('{{ d1 | to_month_name }}');

                window.print();
            });

            $("#{{sid}}-wrapper input").keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    $("#{{sid}}-wrapper form").submit();
                    return false;
                }
            });

            $("#{{sid}}-wrapper .date").change(function (e) {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper select").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper hidden").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            // Datetime
            $('.date').datepicker({
                'format': 'yyyy-mm-dd',
                'autoclose': true,
                'weekStart': 1,
                'container': '#filter-wrapper'
            }).on('show', function (e) {
                if (e.date) {
                    $(this).data('stickyDate', e.date);
                } else {
                    $(this).data('stickyDate', null);
                }
            }).on('hide', function (e) {
                var stickyDate = $(this).data('stickyDate');
                if (!e.date && stickyDate) {
                    $(this).datepicker('setDate', stickyDate);
                    $(this).data('stickyDate', null);
                }
            }).on('changeDate', function (e) {
                if (typeof e.date !== "undefined") {
                    $("#filter-wrapper form").submit();
                }
            });
            $("#village_id").select2();

            disable_print();


            function setURL() {
                var url = "{{
                                    url_for(
                                            '.InvoiceView:preview_pdf',
                                             billing_id='param_billing_id',
                                             village_id='param_village_id',
                                             block_id ='param_block_id')}}";
                // back_url = url_for("InvoiceView:index",id='billing_id',village_id='village_id'
                url = url.replace("param_billing_id", billing_id);
                url = url.replace("param_village_id", village_id);
                url = url.replace("param_block_id", block_id);
                $("#print-all-button").attr("href", url);
            }


            /*disable print all button*/
            function disable_print() {
                if (($("#billing_id").val() != "__None") && (($("#village_id").val() != "__None") | ($("#block_id").val() != "__None"))) {
                    $("#print-all-button").removeAttr("disabled");
                    setURL();
                    $('#print-all-button').die().live('click', function () {
                        app.wait();
                        $(this).attr('href');
                        $.ajax({
                            url: $(this).attr('href')
                        }).done(function (url) {
                            app.ready();
                            window.open(url, '_blank');
                        });
                        return false;

                    });


                } else {
                    $("#print-all-button").attr("disabled", "disabled");
                    $("#print-all-button").removeAttr("href");
                }
            }

            //$('.btn-preview').die().live('click', function () {
            $(".btn.btn-default.btn-sm.dropdown-toggle").live('click', function (e) {
                //$('.dropdown-menu > li > a').attr("data-ajax","false");
            });
            $('.dropdown-menu > li > a').die().live('click', function () {
                /* $.ajax({
                     url: $(this).attr('href')
                 }).done(function (url) {
                     window.open(url, '_blank');
                 })
                 return false;*/
            });


            /* penalty */

            function setPenaltyUrl(val) {
                var url = "{{
                                    url_for(
                                            '.PenaltyFarmerView:index',
                                             billing_id='param_billing_id')}}";
                url = url.replace('param_billing_id', val);
                $("#add-penalty").attr('href', url);
            }

            $('#add-penalty').die().live('click', function () {
                $(this).attr('href');
                $.ajax({
                    url: $(this).attr('href')
                });
                return false;
            });


        });
    </script>
{% endblock %}
