<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or 'Contract' }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/font.css') }}?v={{ v }}"/>

    <style>
        * {
            font-family: "Hanuman";
        }
        .frame {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .frame-content {
            background-color: #fff;
            box-shadow: 2px 2px 5px #888;
        }
        .frame .a5 {
            width: 210mm;
            padding: 1cm;
            min-height: 148mm;

        }

        @media print {
            .frame-content {
                box-shadow: none;

            }

            .frame .a5 {
                width: 100%;
                padding: 0;
                min-height: 100% !important;
            }

            body, html {
                margin-top: 0px !important;
                padding-top: 0px !important;
            }
            img{
                padding-top: 10px !important;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0px;
        }

        hr {
            border: 1px solid #c0c0c0;
        }

        #header {
            width: 100%;
        }

        .row {
            width: 100%;
            clear: both;
        }

        .left {
            width: 50%;
            float: left;
            text-align: left;
        }

        .right {
            width: 50%;
            float: right;
            text-align: right;
        }

        .left .label, .left .value {
            text-align: left;
        }

        .right .label, .right .value {
            text-align: right;
        }

        .label {
            width: 60%;
            float: left;
        }

        .value {
            width: 40%;
            float: right;
        }

        table {
            width: 100%;
            text-align: left;
        }

        .table thead tr th {
            background-color: darkgreen !important;
        }

        p {
        {#            font-family: "Times New Roman";#} font-size: 13px;
            margin: 0px;
        }

        table th, tr td {
        {#            font-family: "Times New Roman";#} font-size: 12px;
            margin: 5px;
            height: 30px;
        }

        .text-left {
            text-align: left;
            padding-left: 10px;
        }

        .text-right {
            text-align: right;
            padding-right: 10px;
        }


    </style>
</head>
<body>
<div class="frame">
    <div class="frame-content a5">
        <div id="header">
            <div class="row">
                <div style="width: 25%;float: left;text-align: left">
{#                  <img height="100px" width="140px" src="{{ url_for('share.static',filename='images/FWUC.png') }}" style="margin-top:-15px">#}
                  <img height="100px" width="140px" src="{{ current.company().logo }}">
                </div>
                <div style="width: 50%;float: left;text-align: center">
                    <span style="font-size:18px;font-weight: bold">{{ current.company().ext__title if current.company().ext__title else '-' }}</span><br>
                    <small>{{ current.company().address }}</small>
                </div>
                <div style="width: 25%;float: right;text-align: right;color:darkgreen;">

                </div>
            </div>

            <div class="row">
                <hr>
            </div>

            <div class="row">
                <div class="left">
                    <div class="label">
                        <p>{{ _("Farmer") }} {{ invoice.farmer.name }}</p>
                    </div>
                    <div class="value">
                        <p>{{ invoice.farmer.code }}</p>
                    </div>
                    <div class="label">
                        <p>{{ _("Address") }}</p>
                    </div>
                    <div class="value">
                        <p>{{ invoice.farmer.village }} {{ invoice.farmer.commune }}</p>
                    </div>
                    <div class="label">
                        <p>{{ _("Phone") }}</p>
                    </div>
                    <div class="value">
                        <p>{{ invoice.farmer.phone }}</p>
                    </div>

                    <div class="label">
                        <p>{{ _('Station') }}</p>
                    </div>
                    <div class="value">
                        <p>{{ invoice.station.name }}</p>
                    </div>
                    <div class="label">
                        <p>{{ _('Season') }}</p>
                    </div>
                    <div class="value">
                        <p>{{ invoice.billing.season.name }}</p>
                    </div>


                </div>

                <div class="right">
                    <div class="label">
                        <p>លេខកិច្ចសន្យា</p>
                    </div>
                    <div class="value">
                        <p>{{ invoice.contract_number }}</p>
                    </div>
                    <div class="label">
                        <p>លេខវិក្កយបត្រ</p>
                    </div>
                    <div class="value">
                        <p>{{ invoice.code }}</p>
                    </div>
                    <div class="label">
                        <p>ថ្ងៃចេញ</p>
                    </div>
                    <div class="value">
                        <p>{{ invoice.issue_date | format_date() }}</p>
                    </div>
                    <div class="label">
                        <p>ថ្ងៃផុតកំណត់</p>
                    </div>
                    <div class="value">
                        <p>{{ invoice.due_date | format_date() }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <table border="1" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="text-left">{{ _("Block") }}</th>
                        <th class="text-left">{{ _("Tariff") }}</th>
                        <th class="text-left">{{ _("Total Land") }}</th>
                        <th class="text-left">{{ _("Area(Ha)") }}</th>
                        <th class="text-right">{{ _('Unit Cost') }}  </th>
                        <th class="text-right">{{ _('Amount') }}</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% set total_land = [0] -%}
                        {% for detail in invoice.details %}
                            {% if total_land.append(total_land.pop()+ detail.total_land) -%}{% endif %}
                            <tr>
                                <td class="text-left">{{ detail.item_name }}</td>
                                <td class="text-left">{{ detail.tariff.name }}</td>
                                <td class="text-left">{{ detail.total_land | format_integer() }}</td>
                                <td class="text-left">{{ detail.quantity | to_ha() }}</td>
                                <td class="text-right">{{ detail.price | to_ha_cost() }}</td>
                                <td class="text-right">{{ detail.line_total | to_riel() }}</td>
                            </tr>
                        {% endfor %}
                        {% if (invoice.details | length) == 1 %}
                            {% for item in range(4) %}
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endfor %}
                        {% elif (invoice.details | length) == 2 %}
                            {% for item in range(3) %}
                                <tr>
                                    <td>&nbsp;</td>
                                    <td></td>
                                    <td></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endfor %}
                        {% elif(invoice.details | length) == 3 %}
                            {% for item in range(2) %}
                                <tr>
                                    <td>&nbsp;</td>
                                    <td></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="text-right" colspan="2">{{ _('Total') }}</th>
                        {% if invoice.details %}
                            <th class="text-left">{{ total_land[0] | int }}</th>
                        {% else %}
                             <th class="text-left">{{ invoice.total_lands | int }}</th>
                        {% endif %}
                        <th class="text-left">{{ invoice.total_area | to_ha() }}</th>
                        <th></th>
                        <th class="text-right">
                            {{ invoice.total_amount | format_value }}{{ invoice.currency.sign }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            {% if invoice.note!=None %}
                <div class="header-title">
                    {% set amount = invoice.ext__amount | int %}
                    <span style="border-bottom:1px solid #000000;">{{ _("Note") }}: </span><span>{{ invoice.note }} {{ _("Amount") }}​​
                    {{ amount | abs | format_value() }}{{ invoice.currency.sign }}</span>
                </div>
            {% endif %}
            <div class="row" style="margin-top: 5px;">
                <div style="width:50%;float: left">
                    <h4>{{ _("Note") }}</h4>
                    <div style="width: 100%;">
                        <div style="float: left;">
                            <small>* សូម​បង់ប្រាក់​នៅ​ភ្នាក់ងារស្មាត​លុយដែល​មានសញ្ញា​សម្គាល់ </small>
                        </div>
                        <div style="float: left; margin-top:-5px;">
                            <img src="{{ url_for('share.static',filename='images/smartluy.png') }}">
                        </div>
                        <div style="float: left"><small> ។</small></div>
                    </div>
                    <div style="clear: both; margin-top: -10px">
                        <small>* ករណីផុត​កំណត់​ សហគមន៍នឹង​ផាក​ពិន័យ១០ភាគ​រយនៃ​ទឹក​ប្រាក់សរុប។​</small>
                    </div>
                </div>

                <div style="width: 50%;float: left;">
                    <div style="width: 100%;margin-top: 35px;text-align: right"><p>_____________________________________</p></div>
                    <div style="width: 100%;text-align: right"><small>ហត្ថលេខា​ និង ឈ្មោះប្រធានប្លុក</small></div>
                </div>

            </div>
            <div class="row">
                <div style="float: right;">
                     <small><b>ទំព័រ 1</b></small>
                </div>
            </div>

        </div>


    </div>
</div>
</body>
</html>