{% extends '%s-layout.html'%session.get('layout','breadcrumb') %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('InvoiceView:index') }}">{{ _('Invoice') }}</a></li>
        {% if breadcrumb_title %}
            <li><a href="{{ back_url }}">{{ breadcrumb_title }}</a></li>
        {% endif %}
        {% if code %}
            <li class="active">{{ _('Preview Invoice Code') }} {{ code }} </li>
        {% else %}
            <li class="active">{{ _('Preview Contract Number') }} {{ contract_number }} </li>
        {% endif %}
    </ul>
    <div class="action">
        <a href="#" data-ajax="false" id="print-button" class="btn btn-danger"><i
                class="glyphicon glyphicon-print"></i> {{ _('Print') }}</a>
    </div>
{% endblock %}


{% block content %}
    <iframe id="iframe" frameborder="0" onload="resizeIframe(this)" scrolling="no"
            style="border:0;width:100%;height:100%;"
            src="{{ url_for('.InvoiceView:invoice_content',id=id,back_url=back_url) if code else url_for('.InvoiceView:re_contract_content',id=id,billing_id=billing_id,contract_number=contract_number,back_url=back_url) }}">

    </iframe>
{% endblock %}
{% block script %}
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }

        $(document).ready(function () {

            $("#iframe").load(function () {
                //$("#contract-content").html($("#iframe").contents().find("body").html());
            });

            $("#print-button").click(function (e) {
                e.preventDefault();
                $("#iframe").get(0).contentWindow.print();
                return false;
            });


        });
    </script>
{% endblock %}
{% block footer %}
    <div class="action">
        <a role="button" class="btn btn-default no-print"
           href="{{ back_url }}">{{ _('Back') }}</a>
    </div>
{% endblock %}