{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.InvoiceView:index') }}">{{ _('Invoice') }}</a></li>
        <li>{{ _('Summary') }}</li>
    </ul>
    <div class="action">
        <a data-ajax="false" class="btn btn-primary" id="btn-print-all" role="button"
           href="{{ url_for(".InvoiceView:preview_pdf",
                        billing_id=obj.billing_id,
                        village_id=obj.village_id) }}">{{ _('Print All') }}</a>
    </div>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="background-color: white;">
                <div class="panel-body">
                    <div class="row" style="padding-bottom:10px;">
                        <div class="col-md-1">
                            <img src="{{ url_for('share.static', filename='images/checked.png') }}" alt="">
                        </div>
                        <div class="col-md-11">
                            <h3 style="margin: 0">{{ _('Invoice Detail !') }}</h3>

                        </div>
                    </div>

                    {% if obj %}
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td colspan="2">{{ _('Billing Name') }}</td>
                                        <td colspan="2">{{ obj.billing_name }}</td>

                                    <tr>
                                    <tr>
                                        <td colspan="2">{{ _('Village') }}</td>
                                        <td colspan="2">{{ obj.village_name }}</td>

                                    <tr>
                                    <tr>
                                        <td colspan="2">{{ _('Total Invoices') }}</td>
                                        <td colspan="2">{{ obj.total_invoices }}</td>

                                    <tr>
                                    <tr>
                                        <td colspan="2">{{ _('Total Farmers') }}</td>
                                        <td colspan="2">{{ obj.total_farmers }}</td>

                                    <tr>
                                    <tr>
                                        <td colspan="2">{{ _('Total Areas(Ha)') }}</td>
                                        <td colspan="2">{{ obj.total_areas | format_currency() }}</td>
                                    <tr>
                                    <tr>
                                        <td colspan="2">{{ _('Total Amounts') }}</td>
                                        <td colspan="2">{{ obj.total_amounts | format_currency() }} {{ obj.currency }}</td>
                                    <tr>

                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <div class="action">
        <a role="button" class="btn btn-default" href="{{ back_url }}&back_url={{ back_url }}">{{ _('Back') }}</a>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {

            $('#btn-print-all').on('click', function () {
                $.ajax({
                    url: $(this).attr('href')
                }).done(function (url) {
                     window.open(url,'_blank');
                })
                return false;
            });
        });
    </script>
{% endblock %}
