{% extends 'breadcrumb-layout.html' %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/" data-ajax="false">{{_('Home')}}</a></li>
    <li><a href="{{ url_for('.BankPaymentView:index') }}">{{ _('Bank Payment') }}</a></li>
    <li class="active">{{ _('Upload') }}</li>
</ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h4>{{ _('Upload data to bank') }}</h4>
        </div>
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    {% if view.notification %}
                        <div class="alert {{ view.notification.message_class }} alert-dismissible fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ view.notification.message | safe }}
                        </div>
                    {% endif %}
                    <h4 style="color: #807d7d">{{ _('There are %(count)s new farmer need to upload to bank!', count=view.get_pending_customers_count) }}</h4>
                    <form action="{{ url_for(".BankPaymentView:update_data_to_gateway") }}">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="force_all"/>
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                {{ _('Upload all farmer data to bank') }}
                            </label>
                            <div style="margin-top: 20px;">
                                <button style="margin-left: 10px;" class="btn btn-info pull-right" type="submit"><i
                                        style="color: #fff;"
                                        class="glyphicon glyphicon-cloud-upload"></i> {{ _('Upload Data') }}</button>
                                <a class="btn btn-default pull-right" href="{{ view.back_url }}">{{ _('Back') }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}
{% block script %}
<script language="javascript">
    $(document).ready(function () {

    });
</script>
{% endblock %}