{% extends 'breadcrumb-layout.html' %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/" data-ajax="false">{{_('Home')}}</a></li>
    <li><a href="{{ url_for('.BankPaymentView:index') }}">{{ _('Bank Payment') }}</a></li>
    <li class="active">{{ _('Download') }}</li>
</ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h4>{{ _('Download data from bank') }}</h4>
        </div>
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    {% if view.notification %}
                        <div class="alert {{ view.notification.message_class }} alert-dismissible fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ view.notification.message | safe }}
                        </div>
                    {% endif %}
                    <h4 style="color: #807d7d;">{{ _('There are %(count)s new payment!', count=view.get_pending_download_count) }}</h4>
                    <div style="margin-top: 20px;">
                        {% if view.get_pending_download_count %}
                        <a style="margin-left: 10px;" class="btn btn-success pull-right" role="button" href="{{ url_for(".BankPaymentView:download_payment") }}"><i style="color: #fff;" class="glyphicon glyphicon-cloud-download"></i> {{ _('Download Data') }}</a>
                        {% endif %}
                        <a class="btn btn-default pull-right" href="{{ view.back_url }}">{{ _('Back') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}
{% block script %}
<script language="javascript">
    $(document).ready(function () {

    });
</script>
{% endblock %}