{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/" data-ajax="false">{{_('Home')}}</a></li>
    <li><a href="{{ url_for('.BankPaymentView:index') }}">{{ _('Bank Payment') }}</a></li>
    <li class="active">{{ view.obj.file_name }}</li>
</ul>
<div class="action">
    <a href="#" data-ajax="false" id="print-button" class="btn btn-danger">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ _('Print') }}</a>
        <a id="export-table" class="btn" style="background-color: #1F6F43; color:#FFFFFF;" data-ajax="false" href="#" onclick="javascript: fnExcelReport(this.id, '{{ view.title }}', 'stores-table');">
                    <i class="fa fa-file-excel-o"></i>
                    {{ _('Export') }}
                </a>
</div>
{% endblock %}

{% block content %}
     <style type="text/css">

        @page :first {
            visibility: hidden !important;
}

        @media print {
            table thead tr{
                padding-top:10px;
            }
            .fixed-sub-content {
                width: 100%;
                position: absolute !important;
                flex-grow: 1;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            .navbar-fixed-top {
                position: absolute !important;
                min-height: initial;
                margin: 0;
                z-index: 0;
            }

        }


    </style>
<div class="tab">
    <ul class="nav nav-tabs no-print">
        <li class="active"><a data-toggle="tab" href="#section" data-ajax="false">{{ _('Bank Payment Detail') }}</a></li>
    </ul>

    <div class="tab-content">
        <div id="section" class="tab-pane fade in active">
            <div class="box-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-10 text-left">
                                <div class="dataTables_filter" id="{{ sid }}-wrapper">
                                    {{ render_filter_form(view.filter_form, action_url=url_for('.BankPaymentView:detail_filter', offset=0), ajax_update='#filter-result') }}
                                </div>
                            </div>
                        </div>
                       <div class="print-margin report-html visible-print">
                                <div class="well well-sm row print-only report-html-header"
                                     style="width:100%;padding:0;margin:0;">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 style="min-height:6rem;">{{ _('Report') }} {{ _('Bank Payment Detail') }}</h2>
                                            </div>
                                            <div style="padding-left:18px">{{ _('Date') }}: <span id="filter-d1"></span></div>

                                        </div>
                                        <br/>
                                    </div>
                                </div>

                            </div>
                        <table id="stores-table" class="ui compact striped basic table print-table">
                            <thead>
                                {{ view.table.render_header() }}
                            </thead>
                            <tbody id="filter-result"></tbody>
                            <tfoot id="footer">
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {% if view.back_url %}
        <div class="action">
            <a role="button" class="btn btn-default no-print"
               href="{{ view.back_url }}">{{ _('Back') }}</a>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
<script language="javascript">
    $(document).ready(function () {
        $("#{{sid}}-wrapper form").submit();

        $("#{{sid}}-wrapper select").change(function () {
            $("#{{sid}}-wrapper form").submit();
        });

        $("#print-button").click(function () {
            $("#filter-d1").text('{{ d1 | to_month_name }}');
            window.print();
        });
    });
</script>
{% endblock %}