{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/" data-ajax="false">{{_('Home')}}</a></li>
    <li><a href="{{ url_for('.BankPaymentView:index') }}">{{ _('Bank Payment') }}</a></li>
    <li class="active">{{ _('Bank Payment Service') }}</li>
</ul>
{% endblock %}

{% block content %}
    <div class="col-sm-offset-3 col-sm-5 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ _('Bank Payment Service') }}</div>
            <div class="panel-body" style="padding-top: 35px;padding-bottom: 80px;">
                <form action="{{ url_for(".BankPaymentView:update_data_to_gateway") }}">
                    <button style="height: 35px;" class="btn btn-info btn-block" type="submit"><i class="fa fa-cloud-upload"></i> {{ _('Upload Data') }}</button>
                    <span style="color: #ccc;">{{ _('There are %(count)s new farmer need to upload to bank!', count=view.get_pending_customers_count) }}</span>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="force_all"/>
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            {{ _('Upload all farmer data to bank') }}
                        </label>
                    </div>
                </form>
                <a style="height: 35px; margin-top: 50px;" class="btn btn-success btn-block" role="button"
                   href="{{ url_for(".BankPaymentView:download_payment") }}"><i
                        class="fa fa-cloud-download"></i> {{ _('Download Data') }}</a>
                <span style="color: #ccc;">{{ _('There are %(count)s new payment!', count=view.get_pending_download_count) }}</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% if view.back_url %}
    <div class="action">
        <a role="button" class="btn btn-default no-print"
           href="{{ view.back_url }}">{{ _('Back') }}</a>
    </div>
{% endif %}
{% endblock %}
{% block script %}
<script language="javascript">
    $(document).ready(function () {

    });
</script>
{% endblock %}