{% extends "%s-layout.html" % layout %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li class="active">{{ _('Add') }}</li>
    </ul>
{% endblock %}
{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.add),action_text=_('Save'), return_url=url_for(view.endpoints.index), is_use_template=False) %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                {{ render_field(form.billing_cycle_id) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.start_date) }}
                            </div>
                            <div class="col-md-3">
                                {{ render_field(form.end_date) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="billing-detail">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <table id="billing-cost-table" class="table table-striped items tab" style="box-shadow: none">
                            <thead>
                            <tr>
                                <th class="col-md-2">{{ _('Station') }}</th>
                                <th class="col-md-1">{{ _('Farmer') }}</th>
                                <th class="col-md-1">{{ _('Total Land') }}</th>
                                <th class="col-md-2">{{ _('Total Area(Are)') }}</th>
                                <th class="col-md-2">{{ _('Tariff') }}</th>
                                <th class="col-md-2">{{ _('Cost Per Unit') }}</th>
                                <th class="col-md-2">{{ _('Total Cost') }}</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                            <tr id="sub-total">

                                <th>{{ _('Total') }}</th>
                                <th><input type="text" class="form-control input-sm decimal" id="farmer"
                                           readonly/></th>
                                <th><input type="text" class="form-control input-sm decimal" id="land"
                                           readonly/></th>
                                <th><input type="text" class="form-control input-sm decimal" id="area"
                                           readonly/></th>
                                <th></th>
                                <th></th>
                                <th><input type="text" class="form-control input-sm decimal" id="cost"
                                           readonly/></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
    {% include 'billing/editor_script.html' %}
{% endblock %}

