{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li>{{ view.obj }}</li>
    </ul>
    <div class="action">
        {% if (form.billing_status_id.data=='start') %}
            <a role="button"
               href="{{ url_for(".VerifyBillingView:index",billing_id=form.id.data, back_url=url_for('BillingView:detail',id=form.id.data)) }}"
               class="btn btn-primary">{{ _('Verify Billing') }}</a>
        {% elif (form.billing_status_id.data == 'verified') %}
            <a role="button"
               href="{{ url_for(".VerifyBillingView:index",billing_id=form.id.data, back_url=url_for('BillingView:detail',id=form.id.data)) }}"
               class="btn btn-info">{{ _('Verify Billing') }}</a>
            <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#myModal">{{ _('Process Billing') }}</button>
        {% else %}
            <a role="button"
               href="{{ url_for(".VerifyBillingView:land_data",billing_id=form.id.data) }}"
               class="btn btn-primary">{{ _('Re-generated Agreement') }}</a>
            <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#myModal">{{ _('Extend invoice due date') }}</button>
        {% endif %}
    </div>

{% endblock %}
{% block content %}

    {% call render_form(form,edit_url=url_for(view.endpoints.edit, id=form.data.id), remove_url=url_for(view.endpoints.remove, id=form.data.id), return_url=url_for(view.endpoints.index), is_use_template=False) %}

        <div id="form-detail">
            {% if request.args.get('status') == 'unverified' %}
                <div class="row">
                    <div class="col-md-12" id="warning-partial">
                        <div class="alert alert-danger">
                        <span class="bg-warning" style="padding:7px; font-weight: bold"><i
                                class="fa fa-exclamation-circle"
                                aria-hidden="true"></i> {{ _("Cannot process billing") }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ render_field(form.billing_cycle_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.name) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.start_date) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.end_date) }}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="exTab1" class="col-md-12">
                    <ul class="nav nav-pills">
                        {% if form.billing_status_id.data == 'close' %}
                            <li class="active">
                                <a href="#1a" data-toggle="tab" data-ajax="false">{{ _("Total") }}</a>
                            </li>
                            <li>
                                <a href="#2a" data-toggle="tab" data-ajax="false">{{ _("View by Blocks") }}</a>
                            </li>
                            <li><a href="#3a" data-toggle="tab" data-ajax="false">{{ _("View by Villages") }}</a>
                            </li>
                            {% if view.non_irrigated %}
                                <li><a href="#4a" data-toggle="tab" data-ajax="false">{{ _("Non Irrigated") }}</a>
                                </li>
                            {% endif %}

                        {% else %}
                            <li class="active"><a href="#5a" data-toggle="tab"
                                                  data-ajax="false">{{ _("Billing Detail") }}</a>
                            </li>
                        {% endif %}

                    </ul>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content clearfix">
                                {% if form.billing_status_id.data == 'close' %}
                                    <div class="tab-pane active" id="1a">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="col-md-2">{{ _('Total Invoices') }}</th>
                                                <th class="col-md-2">{{ _('Total Lands') }}</th>
                                                <th class="col-md-3">{{ _('Total Areas(Are)') }}</th>
                                                <th class="col-md-3 text-right">{{ _('Total Amount') }}</th>
                                                <th class="col-md-2"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if view.summary %}
                                                <tr>
                                                    <th>{{ view.summary.total_invoices }}</th>
                                                    <th>{{ view.summary.total_lands | format_integer }}</th>
                                                    <th>{{ view.summary.total_areas | format_currency }}</th>
                                                    <th class="text-right">{{ view.summary.total_amounts | format_value() }}</th>
                                                    <th class="text-right">
                                                        <a href="{{ url_for('InvoiceView:index',
                                                                                            id=view.summary.billing_id,
                                                                                            block_id=0,
                                                                                            back_url=url_for('.BillingView:detail',id=form.id.data)) }}"
                                                           class="btn btn-sm btn-default col-md-12"
                                                           style="margin-right: 10px;">
                                                            {{ _("Show All") }}
                                                        </a>
                                                    </th>
                                                </tr>

                                            {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="2a">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="col-md-2">{{ _('Block') }}</th>
                                                <th class="col-md-2">{{ _('Total Invoices') }}</th>
                                                <th class="col-md-2">{{ _('Total Lands') }}</th>
                                                <th class="col-md-2">{{ _('Total Areas(Are)') }}</th>
                                                <th class="col-md-2 text-right">{{ _('Total Amount') }}</th>
                                                <th class="col-md-2"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% set total_amount = [0] %}
                                            {% for item in view.invoice_by_block %}

                                                <tr>

                                                    <td>{{ item.block_name }}</td>
                                                    <td>{{ item.total_invoices }}</td>
                                                    <td>{{ item.total_lands | format_integer }}</td>
                                                    <td>{{ item.total_areas | format_currency }}</td>
                                                    <td class="text-right">{{ item.total_amounts | format_value() }}</td>
                                                    <td>
                                                        <a href="{{ url_for('InvoiceView:index',id=item.billing_id,block_id=item.block_id,back_url=url_for('.BillingView:detail',id=form.id.data)) }}"
                                                           class="btn btn-sm btn-default">{{ _("List") }}</a>
                                                        <a style="margin-left: 10px;" data-ajax="false"
                                                           class="btn btn-sm btn-default btn-preview"
                                                           href="{{ url_for('InvoiceView:preview_pdf',
                                                                                     billing_id=item.billing_id,
                                                                                     block_id = item.block_id,
                                                                                     village_id ='__None',
                                                                                     back_url=url_for("BillingView:detail",id=item.billing_id)) }}">{{ _("Print All") }}</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% if view.summary %}
                                                <tr>

                                                    <td>
                                                        {{ _('Total') }}
                                                    </td>
                                                    <td>{{ view.summary.total_invoices }}</td>
                                                    <td>{{ view.summary.total_lands | format_integer }}</td>
                                                    <td>{{ view.summary.total_areas | format_currency() }}</td>
                                                    <td class="text-right">{{ view.summary.total_amounts | format_value() }}</td>
                                                    <td class="text-right">
                                                        <a href="{{ url_for('InvoiceView:index',
                                                                                            id=view.summary.billing_id,
                                                                                            block_id=0,
                                                                                            back_url=url_for('.BillingView:detail',id=form.id.data)) }}"
                                                           class="btn btn-sm btn-default col-md-12"
                                                           style="margin-right: 10px;">
                                                            {{ _("Show All") }}
                                                        </a>
                                                    </td>
                                                </tr>

                                            {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="3a">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="col-md-2">{{ _('Village') }}</th>
                                                <th class="col-md-2">{{ _('Total Invoices') }}</th>
                                                <th class="col-md-2">{{ _('Total Lands') }}</th>
                                                <th class="col-md-2">{{ _('Total Areas(Are)') }}</th>
                                                <th class="col-md-2 text-right">{{ _('Total Amount') }}</th>
                                                <th class="col-md-2"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in view.invoice_by_village %}
                                                <tr>

                                                    <td>{{ item.village_name }}</td>
                                                    <td>{{ item.total_invoices }}</td>
                                                    <td>{{ item.total_lands | format_integer }}</td>
                                                    <td>{{ item.total_areas | format_currency() }}</td>
                                                    <td class="text-right">{{ item.total_amounts | format_value() }}</td>
                                                    <td>
                                                        <a href="{{ url_for('InvoiceView:index',id=item.billing_id,village_id=item.village_id,back_url=url_for('.BillingView:detail',id=form.id.data)) }}"
                                                           class="btn btn-sm btn-default">{{ _("List") }}</a>
                                                        <a style="margin-left: 10px;"
                                                           data-ajax="false"
                                                           class="btn btn-sm btn-default btn-preview"
                                                           href="{{ url_for('InvoiceView:preview_pdf',
                                                                                     billing_id=item.billing_id,
                                                                                     block_id='__None',
                                                                                     village_id=item.village_id,
                                                                                     back_url=url_for("BillingView:detail",id=item.billing_id)) }}">{{ _("Print All") }}</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% if view.summary %}
                                                <tr>

                                                    <td>
                                                        {{ _('Total') }}
                                                    </td>
                                                    <td>{{ view.summary.total_invoices | format_integer }}</td>
                                                    <td>{{ view.summary.total_lands | format_integer }}</td>
                                                    <td>{{ view.summary.total_areas |format_currency() }}</td>
                                                    <td class="text-right">{{ view.summary.total_amounts | format_value() }}</td>
                                                    <td class="text-right">
                                                        <a href="{{ url_for('InvoiceView:index',
                                                                                            id=view.summary.billing_id,
                                                                                            village_id=0,
                                                                                            back_url=url_for('.BillingView:detail',id=form.id.data)) }}"
                                                           class="btn btn-sm btn-default col-md-12"
                                                           style="margin-right: 10px;">
                                                            {{ _("Show All") }}
                                                        </a>
                                                    </td>
                                                </tr>

                                            {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="4a">
                                        {% if view.non_irrigated %}
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-2">{{ _('Station') }}</th>
                                                    <th class="col-md-2">{{ _('Block') }}</th>
                                                    <th class="col-md-2">{{ _('Total Lands') }}</th>
                                                    <th class="col-md-2">{{ _('Total Areas(Ha)') }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% set total_area = [0] -%}
                                                {% set total_land = [0] -%}
                                                {% for item in view.non_irrigated %}
                                                    {% if total_land.append(total_land.pop()+ item.total_lands) -%}{% endif %}{# sum land #}
                                                    {% if total_area.append(total_area.pop()+ item.total_areas) -%}{% endif %}{# sum land #}
                                                    <tr>
                                                        <td>{{ item.station_name }}</td>
                                                        <td>{{ item.block_name }}</td>
                                                        <td>{{ item.total_lands | format_integer }}</td>
                                                        <td>{{ item.total_areas | format_currency }}</td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th colspan="2">{{ _("Total") }}</th>
                                                    <th>{{ total_land[0] | format_integer }}</th>
                                                    <th>{{ total_area[0] | format_currency }}</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane" id="5a" style="display: none">
                                        <table id="billing-cost-table"
                                               class="table table-striped items tab"
                                               style="box-shadow: none">
                                            <thead>
                                            <tr>
                                                <th class="col-md-2">{{ _('Station') }}</th>
                                                <th class="col-md-1">{{ _('Farmer') }}</th>
                                                <th class="col-md-1">{{ _('Total Land') }}</th>
                                                <th class="col-md-2">{{ _('Total Area(Are)') }}</th>
                                                <th class="col-md-2">{{ _('Tariff') }}</th>
                                                <th class="col-md-2">{{ _('Cost Per Unit') }}</th>
                                                <th class="col-md-2">{{ _('Total Cost') }}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                            <tr id="sub-total">
                                                <th>{{ _('Total') }}</th>
                                                <th><input type="text"
                                                           class="form-control input-sm decimal"
                                                           id="farmer"
                                                           readonly/></th>
                                                <th><input type="text"
                                                           class="form-control input-sm decimal"
                                                           id="land"
                                                           readonly/></th>
                                                <th><input type="text"
                                                           class="form-control input-sm decimal"
                                                           id="area"
                                                           readonly/></th>
                                                <th></th>
                                                <th></th>
                                                <th><input type="text"
                                                           class="form-control input-sm decimal"
                                                           id="cost"
                                                           readonly/></th>
                                                <th></th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="tab-pane active" id="5a">
                                        <table id="billing-cost-table"
                                               class="table table-striped items tab"
                                               style="box-shadow: none">
                                            <thead>
                                            <tr>
                                                <th class="col-md-2">{{ _('Station') }}</th>
                                                <th class="col-md-1">{{ _('Farmer Irrigated') }}</th>
                                                <th class="col-md-1">{{ _('Total Land') }}</th>
                                                <th class="col-md-2">{{ _('Total Area(Are)') }}</th>
                                                <th class="col-md-2">{{ _('Tariff') }}</th>
                                                <th class="col-md-2">{{ _('Cost Per Unit') }}</th>
                                                <th class="col-md-2">{{ _('Total Cost') }}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                            <tr id="sub-total">
                                                <th>{{ _('Total') }}</th>
                                                <th><input type="text"
                                                           class="form-control input-sm decimal"
                                                           id="farmer"
                                                           readonly/></th>
                                                <th><input type="text"
                                                           class="form-control input-sm decimal"
                                                           id="land"
                                                           readonly/></th>
                                                <th><input type="text"
                                                           class="form-control input-sm decimal"
                                                           id="area"
                                                           readonly/></th>
                                                <th></th>
                                                <th></th>
                                                <th><input type="text"
                                                           class="form-control input-sm decimal"
                                                           id="cost"
                                                           readonly/></th>
                                                <th></th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    {% endcall %}
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ _('Date') }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% if view.obj.billing_status_id !='close' %}
                                {% call render_form(view.process_form, id='form-process', action_url=view.action_url,action_text= _('continue'), is_use_template=false,is_use_floating_button=false, pull_class='row pull-right') %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ render_field(view.process_form.issue_date) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(view.process_form.due_date) }}
                                        </div>
                                    </div>

                                {% endcall %}
                            {% else %}
                                 {% call render_form(view.extend_due_date_form, action_url=view.action_url, is_use_template=false,is_use_floating_button=false, pull_class='row pull-right') %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ render_field(view.extend_due_date_form.due_date) }}
                                        </div>
                                    </div>
                                {% endcall %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {% include 'billing/editor_script.html' %}

{% endblock %}


{% block script %}
    <script language="javascript">
        $.fn.datepicker.dates['kh'] = {
            days: ["អាទិត្យ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហស្បតិ៍", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            daysShort: ["អាទិ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏"],
            daysMin: ["អាទិ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            months: ['មករា','កុម្ភៈ','មីនា','មេសា','ឧសភា','មិថុនា','កក្កដា','សីហា','កញ្ញា','តុលា','វិចិក្កា','ធ្នូ'],
            monthsShort: ['មករា','កុម្ភៈ','មីនា','មេសា','ឧសភា','មិថុនា','កក្កដា','សីហា','កញ្ញា','តុលា','វិចិក្កា','ធ្នូ'],
        };
         $("[role=date]").datepicker({
            'language': 'kh',
            'autoclose':true,
            'format':"yyyy-mm-dd"
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate'); {#, e.date#}
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });
        var message ="{{ view.extend_message }}";
        if (message){
            app.notification(message);
            $('.modal-backdrop').remove();
        }
        $("#form-detail input, #form-detail select, #form-detail textarea, #form-detail button").attr("disabled", "disabled");
    </script>
{% endblock %}


