<script type="text/html" id="billing-cost-table-new-row">
    <tr>
        <td class="col-md-1">
            <input type="text" id="station_name" class="form-control input-sm" readonly/>
        </td>
        <td class="col-md-1">
            <input type="text" id="total_farmer" class="form-control input-sm decimal" readonly/>
        </td>
        <td class="col-md-1">
            <input type="text" id="total_land" class="form-control input-sm decimal" readonly/>
        </td>
        <td class="col-md-1">
            <input type="text" id="total_area" class="form-control  input-sm decimal" readonly/>
        </td>
        <td class="col-md-1">
            <input type="text" id="tariff_name" class="form-control  input-sm" readonly/>
        </td>
        <td class="col-md-1">
            <input type="text" id="unit_cost" autocomplete="off" class="form-control input-sm decimal unit_cost"
            />       </td>
        <td class="col-md-1">
            <input type="text" id="total_cost" class="form-control input-sm decimal " readonly/>
            <input type="hidden" id="station_id" class="station_id">
            <input type="hidden" id="ext_data">
            <input type="hidden" id="tariff_id">
        </td>
    </tr>
</script>


<script>


    $(document).ready(function () {

        // Datetime
        var session = "{{session['language']}}";

        $.fn.datepicker.dates['kh'] = {
            days: ["អាទិត្យ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហស្បតិ៍", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            daysShort: ["អាទិ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏"],
            daysMin: ["អាទិ","ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            months: ['មករា','កុម្ភៈ','មីនា','មេសា','ឧសភា','មិថុនា','កក្កដា','សីហា','កញ្ញា','តុលា','វិចិក្កា','ធ្នូ'],
            monthsShort: ['មករា','កុម្ភៈ','មីនា','មេសា','ឧសភា','មិថុនា','កក្កដា','សីហា','កញ្ញា','តុលា','វិចិក្កា','ធ្នូ'],
        };
         $("[role=date]").datepicker({
            'language': 'kh',
            'autoclose':true,
            'format':"yyyy-mm-dd"
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate'); {#, e.date#}
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });




        $("#billing-cost-table #unit_cost").die('keyup').live('keyup', function () {
            var me = $(this);
            var tr = me.parent().parent();
            updateRow(tr, me);
        });

        function updateRow(tr, me) {
            var obj = app.fn.object.read(tr);
            var total_cost = obj.unit_cost.toFloat() * obj.total_area.toFloat();
            total_cost = total_cost.toFloat();
            app.fn.object.write($("#total_cost", tr), total_cost.toLocaleString());
            updateSubTotal();
        }

        $("#form").submit(function () {
            var itms = [];
            var trs = $("#billing-cost-table tbody tr");
            trs.each(function (i, e) {
                var tr = $(e);
                var obj = app.fn.object.read(tr);
                obj.total_farmer = obj.total_farmer.toFloat();
                obj.total_land = obj.total_land.toFloat();
                obj.total_area = obj.total_area.toFloat();
                obj.unit_cost = obj.unit_cost.toFloat(); // format number
                obj.total_cost = obj.total_cost.toFloat();
                itms.push(obj);
            });
            var items_data = JSON.stringify({"billing_station": itms});
            $("#form #ext_data").val(items_data);

        });

        $("#billing_cycle_id").on("change", function () {
            $('#billing-cost-table tbody').html('');
            var billing_cycle_id = $(this).val();
            //get billing name with current year
            var year = new Date().getFullYear();
            $("#name").val(year + ' - ' + $("#billing_cycle_id option:selected").text());

            $.ajax({
                url: "{{ url_for('.BillingView:get_station',billing_cycle_id='' ) }}" + billing_cycle_id,
                type: 'GET',
                success: function (resp) {
                    var tbody = $("#billing-cost-table tbody");
                    var template = $("#billing-cost-table-new-row").html();
                    var list_obj = eval(resp);
                    if (list_obj != null) {
                        $("#billing-detail").removeAttrs('style'); // remove style display:none
                        $(':input[type="submit"]').prop('disabled', false);
                        sortJsonArrayByProperty(list_obj, 'ext_data.station_name');
                        for (var i = 0; i < list_obj.length; i++) {
                            var obj = list_obj[i];
                            var ext_data = {
                                "station_name": obj.station_name,
                                "tariff_name": obj.tariff_name
                            };
                            obj.ext_data = JSON.stringify(ext_data);
                            var tr = $(template);
                            tbody.append(tr);
                            obj.total_cost = list_obj[i].total_area * list_obj[i].unit_cost.toFloat();
                            obj.total_area = list_obj[i].total_area.toLocaleString();
                            obj.unit_cost = list_obj[i].unit_cost.toLocaleString();
                            app.fn.object.write(tr, obj);
                            $('#sub-total').removeAttr('style');
                            $('#billing-cost-table #unit_cost').keyup();
                        }
                    } else {
                        $("#billing-detail").css('display','none');
                        $(':input[type="submit"]').prop('disabled', true);
                    }
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        })

        function updateSubTotal() {
            var sum_farmer = 0, sum_land = 0, sum_area = 0, sum_cost = 0;
            $("#billing-cost-table tbody tr").each(function () {
                var tr = $(this);
                var obj = app.fn.object.read(tr);
                sum_farmer += obj.total_farmer.toFloat();
                sum_land += obj.total_land.toFloat();
                sum_area += obj.total_area.toFloat();
                sum_cost += obj.total_cost.toFloat();
                // sum_area = sum_area.toFixed(3);
            });
            app.fn.object.write($("#sub-total #farmer"), sum_farmer.toLocaleString());
            app.fn.object.write($("#sub-total #land"), sum_land.toLocaleString());
            app.fn.object.write($("#sub-total #area"), sum_area.toLocaleString());
            app.fn.object.write($("#sub-total #cost"), sum_cost.toLocaleString());
            //updateGrandTotal();
        };

        function init() {
            $('#sub-total').css('display', 'none');
            var items_data = $("[name=ext_data]").val();
            if (items_data != "") {
                var items = JSON.parse(items_data).billing_station;
                sortJsonArrayByProperty(items, 'ext_data.station_name');
                // sortJsonArrayByProperty(items, 'ext_data.station_name', -1); reverse
                if (items) {
                    var tbody = $("#billing-cost-table tbody");
                    var template = $("#billing-cost-table-new-row").html();
                    for (i = 0; i < items.length; i++) {
                        var obj = items[i];
                        var ext = obj.ext_data;
                        obj.station_name = ext.station_name;
                        obj.tariff_name = ext.tariff_name;
                        obj.total_land = items[i].total_land.toLocaleString();
                        obj.total_area = items[i].total_area.toFixed(3);
                        obj.unit_cost = items[i].unit_cost.toLocaleString();
                        obj.total_cost = to_riel(items[i].total_cost);
                        obj.ext_data = JSON.stringify(items[i].ext_data);
                        var tr = $(template);
                        tbody.append(tr);
                        app.fn.object.write(tr, obj);
                        $('#sub-total').removeAttr('style');

                    }
                    updateSubTotal();
                }
            }
        };

        init();

        /*sort array json*/
        function sortJsonArrayByProperty(objArray, prop, direction) {
            if (arguments.length < 2) throw new Error("sortJsonArrayByProp requires 2 arguments");
            var direct = arguments.length > 2 ? arguments[2] : 1; //Default to ascending

            if (objArray && objArray.constructor === Array) {
                var propPath = (prop.constructor === Array) ? prop : prop.split(".");
                objArray.sort(function (a, b) {
                    for (var p in propPath) {
                        if (a[propPath[p]] && b[propPath[p]]) {
                            a = a[propPath[p]];
                            b = b[propPath[p]];
                        }
                    }
                    // convert numeric strings to integers
                    a = a.match(/^\d+$/) ? +a : a;
                    b = b.match(/^\d+$/) ? +b : b;
                    return ( (a < b) ? -1 * direct : ((a > b) ? 1 * direct : 0) );
                });
            }
        }

        /*
        * round last two digits of total cost
        * if value > 0 and value <=99
        * sum value with 100 riels
        *
        * */

        function to_riel(param) {
            var value = param.toFloat();
            var digits = value % 100;
            if (digits > 0 && digits <= 99) {
                value = (value - digits) + 100;
            }
            return value.toLocaleString()
        }

    });
</script>

