{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}
{% from '_macros/pagination.html' import render_compact,render_full, render_modern %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('.HomeView:home')}}" data-ajax="false">{{ _('Home') }}</a></li>
   {# <li class="active">{{ _(view.title) }}</li>#}
</ul>

{% endblock %}

{% block content %}
    <div class="action">

                        <table id="stores-table" class="ui compact striped basic table print-table">
                            <thead>
                                {{ table.render_header() }}
                            </thead>
                            <tbody id="filter-result">
                                {{ table.render_rows() }}
{#                                {{ render_modern(pagging,url_for('.BillingView:find_invoice',id=id),ajax_update='#filter-result')}}#}
                            </tbody>
                            <tfoot id="footer">
                            </tfoot>
                        </table>

</div>
{% endblock %}

{% block script %}
<script language="javascript">
    $(document).ready(function () {
        $(".fixed-sub-content").css("background", "#fff");


        // on load
        {#$("#{{sid}}-wrapper form").submit();#}

        $("#{{sid}}-wrapper input").keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                $("#{{sid}}-wrapper form").submit();
                return false;
            }
        });

        $("#{{sid}}-wrapper .date").change(function (e) {
            $("#{{sid}}-wrapper form").submit();
        });

        $("#{{sid}}-wrapper select").change(function () {
            $("#{{sid}}-wrapper form").submit();
        });

        $("#{{sid}}-wrapper hidden").change(function () {
            $("#{{sid}}-wrapper form").submit();
        });

        $("#print-button").click(function () {
            $("#filter-d1").text('{{ d1|format_date }}');
            window.print();
        });

        // Datetime
        $('.date').datepicker({
            'format': 'yyyy-mm-dd',
            'autoclose': true,
            'weekStart': 1,
            'container': '#filter-wrapper'
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate', e.date);
            }
            else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });

    });
</script>
{% endblock %}


<table id="stores-table" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        {{ table.render_header() }}
    </thead>
    <tbody id="filter-result"></tbody>
    <tfoot id="footer">
    </tfoot>
</table>

<div id="view-wrapper" >
</div>