{% extends '%s-layout.html'%session.get('layout','breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.BillingView:detail',id=id) }}">{{ _("Billing") }}</a></li>
        <li>{{ _("Detail") }}</li>
    </ul>
{% endblock %}
{% block content %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default" style="background-color: white;">
                    <div class="panel-body">
                        <div class="row" style="padding-bottom:10px;">
                            <div class="col-md-2">
                                <img src="{{ url_for('share.static', filename='images/checked.png') }}" alt="">
                            </div>
                            <div class="col-md-10">
                                <h3 style="margin: 0">{{ _('Billling Successfully !') }}</h3>
                                <span>{{ _('Billing has been completed! detail of billing include below') }}</span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td colspan="2">{{ _('Total Invoices') }}</td>
                                        <td colspan="2">{{ invoice.total_invoices | format_integer }}</td>

                                    <tr>
                                    <tr>
                                        <td colspan="2">{{ _('Total Farmers') }}</td>
                                        <td colspan="2">{{ invoice.total_farmers | format_integer}}</td>

                                    <tr>
                                    <tr>
                                        <td colspan="2">{{ _('Total Lands') }}</td>
                                        <td colspan="2">{{ invoice.total_lands | format_integer }}</td>

                                    <tr>
                                    <tr>
                                        <td colspan="2">{{ _('Total Areas(A)') }}</td>
                                        <td colspan="2">{{ invoice.total_areas | format_currency() }}</td>

                                    <tr>
                                    <tr>
                                        <td>{{ _('Issue Date:') }}</td>
                                        <td>{{ invoice.issue_date | format_date() }}</td>
                                        <td>{{ _('Due Date:') }}</td>
                                        <td>{{ invoice.due_date | format_date() }}</td>
                                    <tr>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block footer %}
    <div class="action">
        <a role="button" class="btn btn-default"
           href="{{ url_for('.BillingView:detail',id=invoice.billing_id) }}">{{ _('Back') }}</a>
    </div>
{% endblock %}
{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $('body div').removeClass('modal-backdrop fade in');
        });
    </script>
{% endblock %}
