﻿.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    list-style: none;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete li {
    padding: 5px 10px;
}
.ui-autocomplete li:hover {
    background-color: #00A0DF;
    color: #FFF;
    cursor: pointer;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }
}
   
.autocomplete-suggestions { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    border: 1px solid #999; 
    background: #FFF; 
    cursor: default; 
    overflow: auto; 
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
     box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
     overflow:hidden;
}
.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
}
.autocomplete-no-suggestion {
     padding: 2px 5px;
}
.autocomplete-selected { 
    background: #F0F0F0; 
}
.autocomplete-suggestions strong { 
    font-weight: bold; 
    color: #000; 
}
.autocomplete-group { 
    padding: 2px 5px; 
}
.autocomplete-group strong { 
    font-weight: bold; 
    font-size: 16px; 
    color: #000; 
    display: block; 
    border-bottom: 1px solid #000;
}

/*input { 
    font-size: 14px; 
    padding: 10px; 
    border: 1px solid #CCC; 
    display: block; 
}*/
