{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li class="active">{{ _('Add') }}</li>
    </ul>

{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.add),action_text=_('Save'), return_url=url_for(view.endpoints.index), is_use_template=False) %}


        <div class="row">
            <div class="col-md-12" id="warning-partial">
                <div class="alert alert-danger">
                    <span class="bg-warning" style="padding:7px; font-weight: bold"><i class="fa fa-exclamation-circle"
                                                                                       aria-hidden="true"></i> {{ _("Please Tick on partial payment") }}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                {{ render_field(form.code) }}
                            </div>

                            <div class="col-md-4">
                                {{ render_field(form.customer_id) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.billing_id) }}
                            </div>

                        </div>
                        <div class="row">
                             <div class="col-md-4">
                                {{ render_field(form.currency_id) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.payment_method) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.pay_date) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ render_field(form.pay_amount) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.ending_balance) }}
                            </div>
                            <div class="col-md-4">
                                {{ render_field(form.partial_payment) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="panel-payment">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" id="payment-invoices-table" style="margin-bottom:0">
                            <thead class="bg-primary">
                            <tr>
                                <th>
                                    <div class="checkbox" style="margin:0;">
                                        <label>
                                            <input id="invoice-check-all[]" name="invoice-check-all[]" type="checkbox"
                                                   checked/>
                                            <span class="cr" style="background:white;"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>{{ _('Code') }}
                                        </label>
                                    </div>
                                </th>
                                <th class="col-md-1">{{ _('Issue Date') }}</th>
                                <th class="col-md-1">{{ _('Season') }}</th>
                                <th class="col-md-1 text-right">{{ _('Total Amount') }}</th>
                                <th class="col-md-1 text-right">{{ _('Paid') }}</th>
                                <th class="col-md-2 text-right">{{ _('Balance') }}</th>
                                <th class="col-md-2 text-right">{{ _('Pay Amount') }}</th>
                                <th class="col-md-2 text-right">{{ _('Ending Balance') }}</th>

                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                            <tr id="sub-total">
                                <th colspan="3">{{ _("Total") }}</th>
                                <th class="col-md-2 text-right">
                                    <span id="sum_total_amount"></span>
                                </th>
                                <th class="col-md-1 text-right">
                                    <span id="sum_paid_amount"></span>
                                </th>

                                <th class="col-md-2 text-right">
                                    <span id="sum_balance"></span>
                                </th>
                                <th class="col-md-2 text-right">
                                    <input type="text" id="sum_pay_amount" class="form-control decimal"
                                           readonly>
                                </th>
                                <th class="col-md-2 text-right">
                                    <input type="text" id="sum_ending_balance" class="form-control decimal"
                                           readonly>
                                </th>


                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% endcall %}
    {% include 'payment/editor_script.html' %}
{% endblock %}


{% block script %}
    <script>
        // Restricts input for each element in the set of matched elements to the given inputFilter.
        (function ($) {
            $.fn.inputFilter = function (inputFilter) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    }
                });
            };
        }(jQuery));



        $(document).ready(function () {

           // $("#billing_id").prepend("<option value='' selected='selected'>{{ _("All") }}</option>");

            var timer = null;
            var value = null;
            $('#pay_amount').keydown(function () {
                value = $(this).val();

                if (value.indexOf(',') >= 0) {
                    value = value.replace(/,/g, '');
                } else {
                    if (isNaN(value)) {
                        value = 0;
                    }
                    value = parseInt(value);

                }
                $("#pay_amount").val(value);
                clearTimeout(timer);

                timer = setTimeout(update_payamount, 1200)
            });

            function update_payamount() {
                var payAmount = $("#pay_amount").val();
                payAmount = parseInt(payAmount);
                //console.log(payAmount);
                if (isNaN(payAmount)) {
                    $("#pay_amount").val(0);
                } else {
                    $("#pay_amount").val(payAmount.toLocaleString('enp-IN'));
                }
            }


            $("#pay-all").click(function () {
                var ending_balance = $("#ending_balance").val().toFloat();
                var pay_amount = $("#pay_amount").val();
                if (pay_amount.indexOf(",") >= 0) {
                    pay_amount = pay_amount.replace(/,/g, '');
                }
                pay_amount = parseInt(pay_amount);
                pay_amount = pay_amount + ending_balance;
                //$("#pay_amount").val(pay_amount);
                $("#pay_amount").val(pay_amount.toLocaleString('enp-IN'));
                $("#pay_amount").keydown();
                $("button[type=submit]").removeClass('disabled');
            });


            $("#customer_id").on('change', function () {
                $("#pay_amount").val(0);
                $("#billing_id").val($("#billing_id option:first").val());
            });

            $("#pay_amount").inputFilter(function (value) {
                return /^\d*$/.test(value);
            });



        });


        /*
             $(document).ready(function () {
                 $("#customer_id").select2();
                 // Datetime

                 $('.date').datepicker({
                     'format': 'yyyy-mm-dd',
                     'autoclose': true,
                     'weekStart': 1,
                     'container': '#filter-wrapper'
                 }).on('show', function (e) {
                     if (e.date) {
                         $(this).data('stickyDate', e.date);
                     }
                     else {
                         $(this).data('stickyDate', null);
                     }
                 }).on('hide', function (e) {
                     var stickyDate = $(this).data('stickyDate');
                     if (!e.date && stickyDate) {
                         $(this).datepicker('setDate', stickyDate);
                         $(this).data('stickyDate', null);
                     }
                 }).on('changeDate', function (e) {
                     if (typeof e.date !== "undefined") {
                         $("#filter-wrapper form").submit();
                     }
                 });

             });



             $("#customer_id").on('change',function(){
                 var customer_id = $(this).val();
                 url = url.replace('f_id',customer_id);
                 $.ajax({
                     url: url,
                     type:"GET",
                     success:function(resp){
                        var tbody = $("#payment-add-table tbody");
                         var template = $("#payment-add-table-new-row").html();
                         var list_obj = eval(resp);
                         sortJsonArrayByProperty(list_obj, 'ext_data.station_name');
                         for (var i = 0; i < list_obj.length; i++) {
                             var obj = list_obj[i];
                             var ext_data = {
                                 "station_name": obj.station_name,
                                 "tariff_name": obj.tariff_name
                             }
                             obj.ext_data = JSON.stringify(ext_data);
                             var tr = $(template);
                             tbody.append(tr);
                             app.fn.object.write(tr, obj);
                     }
                 })
             });

     */


    </script>
{% endblock %}



