<script type="text/html" id="payment-invoices-table-new-row">
    <tr>

        <td class="col-md-1">
            <div class="checkbox" style="margin:0;">
                <label>
                    <input id="invoice-check" name="invoice-check" type="checkbox" checked/>
                    <span class="cr" style="background:#fff;"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    <span id="code"></span>
                </label>
            </div>
        </td>
        <td class="col-md-1">
            <span id="issue_date" format="date"></span>
        </td>
        <td class="col-md-1 text-right">
            {#            <input type="text" id="total_amount" class="form-control decimal" format="decimal" readonly>#}
            <span id="total_amount"></span>
        </td>
        <td class="col-md-1 text-right">
            {#            <input type="text" id="paid_amount" class="form-control decimal" format="decimal" readonly>#}
            <span id="paid_amount"></span>
        </td>

        <td class="col-md-1 text-right">
            {#            <input type="text" id="balance" class="form-control decimal" format="decimal" readonly>#}
            <span id="balance"></span>
        </td>
        <td class="col-md-1 text-right">
            <input type="text" id="pay_amount" class="form-control decimal" readonly>
        </td>
        <td class="col-md-1 text-right">
            <input type="text" id="ending_balance" class="form-control decimal" readonly>
            <input type="hidden" id="id" format="int"/>
            <input type="hidden" id="invoice_id" format="int"/>
            <input type="hidden" id="ext_data"/>
        </td>

    </tr>
</script>


<script>


    $(document).ready(function () {
        $("#panel-payment").hide();
        $("#warning-partial").hide();
// Datetime

        var session = "{{session['language']}}";
        $.fn.datepicker.dates['km'] = {
            days: ["អាទិត្យ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហស្បតិ៍", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            daysShort: ["អាទិ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏"],
            daysMin: ["អាទិ", "ច័ន្ទ", "អង្គារ៍", "ពុធ", "ព្រហ", "សុក្រ", "សៅរ៏", "អាទិត្យ"],
            months: ['មករា', 'កម្ភៈ', 'មីនា', 'មេសា', 'ឧសភា', 'មិថុនា', 'កក្កដា', 'សីហា', 'កញ្ញា', 'តុលា', 'វិចិក្កា', 'ធ្នូ'],
            monthsShort: ['មករា', 'កម្ភៈ', 'មីនា', 'មេសា', 'ឧសភា', 'មិថុនា', 'កក្កដា', 'សីហា', 'កញ្ញា', 'តុលា', 'វិចិក្កា', 'ធ្នូ'],
        };


        $('.date').datepicker({
            'language': session,
            'format': "dd-mm-yyyy",
            'autoclose': true
        }).on('show', function (e) {
            if (e.date) {
                $(this).data('stickyDate', e.date);
            } else {
                $(this).data('stickyDate', null);
            }
        }).on('hide', function (e) {
            var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }
        }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });


        // Invoice check
        $("input[name='invoice-check-all[]']").die("click").live("click", function () {
            if ($(this).is(":checked")) {
                $("input[name='invoice-check']").attr("checked", true);
                $("input[name='invoice-check']").closest("tr").css("background", "");
                $("#pay-all").removeAttr('disabled');

            } else {
                $("input[name='invoice-check']").attr("checked", false);
                $("input[name='invoice-check']").closest("tr").css("background", "#ffffa7");
                $("#pay-all").attr('disabled', 'disabled');
                $('#pay_amount').val(0);
            }
            updatePayment();
        })
        $("input[name='invoice-check']").die("click").live("click", function () {
            var count_elem = $("input[name='invoice-check']").length;
            var count_checked = $("input[name='invoice-check']:checked").length;
            if (count_checked == 0) {
                $("#pay-all").attr('disabled', 'disabled');
            }
            if (count_elem == count_checked) {
                $("input[name='invoice-check-all[]']").attr("checked", true);
            } else {
                $("input[name='invoice-check-all[]']").attr("checked", false);

            }

            if ($(this).is(":checked")) {
                $(this).closest("tr").css("background", "");
                $("#pay-all").removeAttr('disabled');
            } else {
                $(this).closest("tr").css("background", "#ffffa7");
            }

            updatePayment();
        });



        function update_paid_amount(obj) {
            var items = obj;
            if (items.length == 1) {
                items[0].paid_amount = $("[name=pay_amount]").val();
                return items;
            } else if (items.length > 1) {
                var sum_paid_amount = 0;
                for (var i = 0; i < items.length; i++) {
                    sum_paid_amount += parseFloat(items[i].paid_amount);
                }
                var paid_amount = parseFloat($("[name=pay_amount]").val()) - sum_paid_amount;
                items[items.length - 1].paid_amount += paid_amount;
                return items;
            }
        }

        $("#customer_id-editor").on("select2:select", function (e) {
            $("#payment-invoices-table tbody").html('');
            var obj = e.params.data;
            if ('invoices' in obj) {
                $("#panel-payment").show();
                generateItems(obj);
                $("#pay_amount").keyup();
            } else {
                $("#panel-payment").hide();
            }

        }).on("select2:close", function (e) {
            //$(this).val([]).trigger("change");
        });

        function generateItems(obj) {
            var tbody = $("#payment-invoices-table tbody");
            var template = $("#payment-invoices-table-new-row").html();
            delete obj.id;
            var invoices = obj.invoices;
            if (invoices.length > 0) {
                for (var i = 0; i < invoices.length; i++) {
                    obj.invoice_id = invoices[i].id;
                    obj.code = invoices[i].code;
                    obj.issue_date = invoices[i].issue_date;
                    obj.total_amount = invoices[i].total_amount;
                    obj.paid_amount = invoices[i].paid_amount;
                    obj.balance = invoices[i].balance;
                    obj.pay_amount = 0;
                    obj.ending_balance = obj.balance - obj.pay_amount;
                    var ext_data = {
                        "invoice_id": obj.invoice_id,
                        "invoice_code": obj.invoice_code,
                        "total_amount": obj.total_amount,
                        "paid_amount": obj.paid_amount
                    };
                    obj.ext_data = JSON.stringify(ext_data);
                    // Do not cut it out, need to loop
                    var tr = $(template);
                    tbody.append(tr);
                    app.fn.object.write(tr, obj);
                    updateSubTotal();
                }
            } else {
                updateSubTotal();
            }
        };

        function updateSubTotal() {
            var sum_total_amount = 0;
            var sum_paid_amount = 0;
            var sum_balance = 0;
            var sum_pay_amount = 0;
            var sum_ending_balance = 0;
            $("#payment-invoices-table tbody tr").each(function () {
                var tr = $(this);
                var obj = app.fn.object.read(tr);
                if (obj['invoice-check'] == "checked") {
                    sum_total_amount += obj.total_amount.toFloat();
                    if (obj.paid_amount == "-") {
                        obj.paid_amount = 0;
                    }
                    if (obj.ending_balance == '-') {
                        obj.ending_balance = 0;
                    }
                    if (obj.pay_amount == "-") {
                        obj.pay_amount = 0;
                    }
                    sum_paid_amount += obj.paid_amount.toFloat();
                    sum_balance += obj.balance.toFloat();
                    {#                    sum_pay_amount += obj.pay_amount.toFloat();#}
                    sum_ending_balance += obj.ending_balance.toFloat();
                }
            });
            sum_pay_amount = $("[name=pay_amount]").val().toFloat();
            app.fn.object.write($("#sub-total #sum_total_amount"), sum_total_amount.toLocaleString());
            app.fn.object.write($("#sub-total #sum_paid_amount"), sum_paid_amount.toLocaleString());
            app.fn.object.write($("#sub-total #sum_balance"), sum_balance.toLocaleString());
            app.fn.object.write($("#sub-total #sum_pay_amount"), sum_pay_amount.toLocaleString());
            app.fn.object.write($("#sub-total #sum_ending_balance"), sum_ending_balance.toLocaleString());
            updateGrandTotal();
        };

        function updateGrandTotal() {
            var tfoot = $("#sub-total");
            var sum = app.fn.object.read(tfoot);
            var sum_balance = sum.sum_balance.toFloat();
            var grand = sum_balance - $("[name=pay_amount]").val(); //sum.ending_balance;\
            app.fn.object.write($("[name=ending_balance]"), grand);
            if (grand > 0) {
                $("#partial_payment").removeAttr("disabled");
            } else {
                $("#partial_payment").attr("disabled", "disabled");
                $("#partial_payment").attr("checked", false);
                app.fn.object.write($("[name=ending_balance]"), 0);

            }
        };

        $("#pay_amount").on("keyup", function () {
            updatePayment();
        });

        function updatePayment() {
            var pay_amount = $("[name=pay_amount]").val();
            var last_tr=null;
            var last_payment=null;
            $("#payment-invoices-table tbody tr").each(function () {
                var tr = $(this);
                var obj = app.fn.object.read(tr);
                var balance = obj.balance.toFloat();
                if (obj['invoice-check'] == "checked") {
                    if (pay_amount > balance) {
                        obj.pay_amount = balance;
                    } else {
                        obj.pay_amount = pay_amount;
                    }
                    last_tr = tr;
                    last_payment=obj.pay_amount
                } else {
                    obj.pay_amount = 0;
                }
                pay_amount -= obj.pay_amount;
                app.fn.object.write($("#pay_amount", tr), obj.pay_amount.toLocaleString());
                updateRow(tr);
            });
            last_payment = last_payment.toFloat() + pay_amount.toFloat();
            app.fn.object.write($("#pay_amount", last_tr), last_payment.toLocaleString());
            updateRow(last_tr);
        }

        function updateRow(tr) {

            var obj = app.fn.object.read(tr);
            var balance = obj.balance.toFloat();
            var pay_amount = obj.pay_amount.toFloat();
            obj.ending_balance = balance - pay_amount;
            if (obj.ending_balance <= 0) {
                obj.ending_balance = '-';
            }

            if (pay_amount == 0) {
                obj.pay_amount = "-";
            }
            app.fn.object.write($("#ending_balance", tr), obj.ending_balance.toLocaleString());
            app.fn.object.write($("#pay_amount", tr), obj.pay_amount.toLocaleString());
            updateSubTotal();
        }

        function init() {
            if ('{{ view.customer }}') {
                var customer = JSON.parse('{{ view.customer | safe }}');
                //app.fn.object.write($("#payable_balance"), customer.payable_balance);
                $("#panel-payment").show();
                generateItems(customer);
            } else {
                if (items_data = $("[name=ext_data]").val() != '') {
                    $("#panel-payment").show();
                    var items_data = $("[name=ext_data]").val();
                    if (items_data != "") {
                        var items = JSON.parse(items_data).details;
                        if (items) {
                            var tbody = $("#payment-invoices-table tbody");
                            var template = $("#payment-invoices-table-new-row").html();
                            for (i = 0; i < items.length; i++) {
                                var obj = items[i];
                                var tr = $(template);
                                obj.balance = items[i].balance.toLocaleString('enp-IN');
                                if (items[i].pay_amount == null){
                                    items[i].pay_amount = 0;
                                }
                                obj.pay_amount = items[i].pay_amount.toLocaleString('enp-IN');
                                obj.total_amount = items[i].total_amount.toLocaleString('enp-IN');
                                obj.paid_amount = items[i].paid_amount.toLocaleString('enp-IN');
                                obj.ending_balance = items[i].ending_balance.toLocaleString('enp-IN');
                                if (items[i].paid_amount == '-') {
                                    obj.paid_amount = "-";
                                    $(tr).find("td span#paid_amount").removeAttr('format');
                                }
                                if (obj.ending_balance == 0) {
                                    obj.ending_balance = '-';
                                }
                                tbody.append(tr);
                                app.fn.object.write(tr, obj);
                            }
                            updateSubTotal();
                        }
                    }
                }
            }
        };
        init();

        /*sort array json*/
        function sortJsonArrayByProperty(objArray, prop, direction) {
            if (arguments.length < 2) throw new Error("sortJsonArrayByProp requires 2 arguments");
            var direct = arguments.length > 2 ? arguments[2] : 1; //Default to ascending

            if (objArray && objArray.constructor === Array) {
                var propPath = (prop.constructor === Array) ? prop : prop.split(".");
                objArray.sort(function (a, b) {
                    for (var p in propPath) {
                        if (a[propPath[p]] && b[propPath[p]]) {
                            a = a[propPath[p]];
                            b = b[propPath[p]];
                        }
                    }
                    // convert numeric strings to integers
                    a = a.match(/^\d+$/) ? +a : a;
                    b = b.match(/^\d+$/) ? +b : b;
                    return ((a < b) ? -1 * direct : ((a > b) ? 1 * direct : 0));
                });
            }
        }

        /* checked or unchecked partial payment*/
        $('#partial_payment').change(function () {
            if ($(this).attr("checked")) {
                $("#warning-partial").fadeOut(300);
                return;
            }
            // not checked

        });


        $("#pay-all").click(function () {
            var ending_balance = $("#ending_balance").val().toFloat();
            var pay_amount = $("#pay_amount").val().toFloat();
            pay_amount = pay_amount + ending_balance;
            $("#pay_amount").val(pay_amount);
            $("#pay_amount").keyup();
            $("button[type=submit]").removeClass('disabled');
        });


        $("#btn-search").click(function (e) {
            var code = $("#code").val().trim();
            if (code) {
                var url = "{{ url_for('.PaymentView:add',invoice_code='p_code') }}";
                url = url.replace('p_code', code);
                $(this).attr("href", url);
            }


        });


    });

</script>

