{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
        <li><a href="{{ url_for(view.endpoints.detail, id=form.id.data) }}">{{ view.obj }}</a></li>
        <li class="active">{{ _('Edit') }}</li>
    </ul>
{% endblock %}

{% block content %}
    {% call render_form(form, action_url=url_for(view.endpoints.edit,id=form.data.id), return_url=url_for(view.endpoints.index), action_text=_('Save'),is_use_template=false) %}

        <div id="form-edit">
            <div class="row">
                <div class="col-md-12" id="warning-partial">
                    <div class="alert alert-danger">
                        <strong>Warning!</strong> Please <i class="fa fa-check" aria-hidden="true"></i> partial payment
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ render_field(form.code) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.customer_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.currency_id) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.payment_method) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    {{ render_field(form.pay_amount) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.pay_date) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.ending_balance) }}
                                </div>
                                <div class="col-md-3">
                                    {{ render_field(form.partial_payment) }}
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="row" id="panel-payment">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table" id="payment-invoices-table" style="margin-bottom:0">
                                <thead class="bg-primary">
                                <tr>
                                    <th>
                                        <div class="checkbox" style="margin:0;">
                                            <label>
                                                <input id="invoice-check-all[]" name="invoice-check-all[]"
                                                       type="checkbox"
                                                       checked/>
                                                <span class="cr" style="background:white;"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>{{ _('Code') }}
                                            </label>
                                        </div>
                                    </th>
                                    <th class="col-md-1">{{ _('Issue Date') }}</th>
                                    <th class="col-md-2 text-right">{{ _('Total Amount') }}</th>
                                    <th class="col-md-2 text-right">{{ _('Paid') }}</th>
                                    <th class="col-md-2 text-right">{{ _('Balance') }}</th>
                                    <th class="col-md-2 text-right">{{ _('Pay Amount') }}</th>
                                    <th class="col-md-2 text-right">{{ _('Ending Balance') }}</th>

                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr id="sub-total">
                                    <th colspan="2">{{ _("Total") }}</th>
                                    <th class="col-md-2 text-right">
                                        <span id="sum_total_amount" format="decimal"></span>
                                    </th>
                                    <th class="col-md-2 text-right">
                                        <span id="sum_paid_amount" format="decimal"></span>
                                    </th>

                                    <th class="col-md-2 text-right">
                                        <span id="sum_balance" format="decimal"></span>
                                    </th>
                                    <th class="col-md-2 text-right">
                                        <input type="text" id="sum_pay_amount" class="form-control decimal"
                                               format="decimal"
                                               readonly>
                                    </th>
                                    <th class="col-md-2 text-right">
                                        <input type="text" id="sum_ending_balance" class="form-control decimal"
                                               format="decimal"
                                               readonly>
                                    </th>


                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endcall %}
    {% include 'payment/editor_script_edit.html' %}
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $("#form-edit input:not([name=pay_date]), #form-edit select, #form-edit textarea, #form-edit button").attr("disabled", "disabled");
            $("#pay-all").attr("disabled", "disabled");

            $("#payment_method").removeAttr('disabled');


            $("#pay_amount").val(convert_to_localString($("#pay_amount").val()));
            $("#sum_total_amount").text(convert_to_localString($("#sum_total_amount").text()));
            $("#sum_balance").text(convert_to_localString($("#sum_balance").text()));
            $("#sum_paid_amount").text(convert_to_localString($("#sum_paid_amount").text()));
            $("#sum_pay_amount").val(convert_to_localString($("#sum_pay_amount").val()));
            $("#sum_ending_balance").val(convert_to_localString($("#sum_ending_balance").val()));
            $("#paid_amount").text(convert_to_localString($("#paid_amount").text()));
            $("#total_amount").text(convert_to_localString($("#total_amount").text()));
            $("#balance").text(convert_to_localString($("#balance").text()));

            function convert_to_localString(value) {
                value = value.replace(/,/g, '');
                value = parseInt(value);

                return value.toLocaleString('enp-IN')
            }


        });
    </script>
{% endblock %}


