{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li class="active">{{ _(view.title) }}</li>
    </ul>
    <div class="action">
        <a class="btn btn-primary" role="button" href="{{ url_for(view.endpoints.add) }}"><i
                class="fa fa-plus-circle"></i> {{ _('Add') }}</a>
        <a href="#" data-ajax="false" id="print-button" class="btn btn-danger">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ _('Print') }}</a>
        <a id="export-table" class="btn" style="background-color: #1F6F43; color:#FFFFFF;" data-ajax="false" href="#"
           onclick="javascript: fnExcelReport(this.id, '{{ view.title }}', 'stores-table');">
            <i class="fa fa-file-excel-o"></i>
            {{ _('Export') }}
        </a>
    </div>
{% endblock %}

{% block content %}
    <div class="tab">
        <ul class="nav nav-tabs no-print">
            <li class="active"><a data-toggle="tab" href="#section" data-ajax="false">{{ _(view.title) }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="section" class="tab-pane fade in active">
                <div class="box-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-10 text-left">
                                    <div class="dataTables_filter" id="{{ sid }}-wrapper">
{#                                        {{ render_filter_form(form, action_url=url_for(view.endpoints.filter, offset=0), ajax_update='#filter-result') }}#}
                                        {{ render_filter_form_row_custom(form, action_url=url_for(view.endpoints.filter, offset=0), ajax_update='#filter-result') }}

                                    </div>
                                </div>
                            </div>
                            <div class="print-margin report-html visible-print">
                                <div class="well well-sm row print-only report-html-header"
                                     style="width:100%;padding:0;margin:0;">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 style="min-height:6rem;">{{ _('Report') }} {{ _("Payment") }}</h2>
                                            </div>
                                            <div style="padding-left:18px">{{ _('Date') }}: <span id="filter-d1"></span></div>

                                        </div>
                                        <br/>
                                    </div>
                                </div>

                            </div>
                            <table id="stores-table" class="ui compact striped basic table print-table">
                                <thead>
                                {{ table.render_header() }}
                                </thead>
                               <tbody id="filter-result">
                                {% block filter_result %}
                                    {{ filter_result | safe }}
                                {% endblock %}
                                </tbody>
                                <tfoot id="footer">
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="action">
        {% if view.back_url %}
            <a role="button" class="btn btn-default no-print"
           href="{{ view.back_url }}">{{ _('Back') }}</a>
         {% else %}
            <a role="button" class="btn btn-default no-print"
           href="{{ url_for('.PaymentView:index') }}">{{ _('Back') }}</a>
         {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {

            // on load
            {#$("#{{sid}}-wrapper form").submit();#}

            $("#{{sid}}-wrapper input").keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    $("#{{sid}}-wrapper form").submit();
                    return false;
                }
            });

            $("#{{sid}}-wrapper .date").change(function (e) {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper select").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#{{sid}}-wrapper hidden").change(function () {
                $("#{{sid}}-wrapper form").submit();
            });

            $("#print-button").click(function () {
                $("#filter-d1").text('{{ d1 | to_month_name }}');
                window.print();
            });
            $(".btn.btn-default.btn-sm.dropdown-toggle").die().live('click', function (e) {
                $('.dropdown-menu > li > a').removeAttr("data-ajax");

            });
            $('.dropdown-menu > li > a').die().live('click', function () {


            });
             var session = "{{session['language']}}";
            // Datetime

       /* $('.date').datepicker({
            'language': 'kh',
            'format': "dd-mm-yyyy",
            'autoclose':true
        }).on('show', function (e) {
            /*   if (e.date) {
                $(this).data('stickyDate', e.date);
            }
            else {
                $(this).data('stickyDate', null);
            }

          */
      /*  }).on('hide', function (e) {
          /*  var stickyDate = $(this).data('stickyDate');
            if (!e.date && stickyDate) {
                $(this).datepicker('setDate', stickyDate);
                $(this).data('stickyDate', null);
            }*/
      /*  }).on('changeDate', function (e) {
            if (typeof e.date !== "undefined") {
                $("#filter-wrapper form").submit();
            }
        });
        *
       */

        });
    </script>
{% endblock %}


<table id="stores-table" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    {{ table.render_header() }}
    </thead>
    <tbody id="filter-result"></tbody>
    <tfoot id="footer">
    </tfoot>
</table>

<div id="view-wrapper">
</div>