<div id="report">
        <div class="report a5 landscape">
            <div class="report-header">
                <div class="img">
                    <img src="https://cavackh.org/wp-content/uploads/2016/12/logo_cavac.png"/>
                </div>
                <div class="address">
                    <span>អាគារអេមឺរ៉ល ជាន់ទី២ និងទី៣ អាគារលេខ៦៤ មហាវិថី ព្រះនរោត្តម(កែងផ្លូវ១៧៨) ខ័ណ្ឌដូនពេញ រាជធានីភ្នំពេញ</span><br>
                    <span>info@cavackh@gmail.com</span>
                </div>
                <hr>
                <div class="bill-info">
                    <div class="header-title">
                        <span>{{ _('Farmer') }}</span>
                    </div>
                    <p>{{ _('Farmer Code') }}<span></span></p>
                    <p>{{ _('Name') }}<span></span></p>
                    <p>{{ _('Phone') }}<span></span></p>
                    <p>{{ _('Address') }}<span></span>
                    </p>
                    <p>{{ _('Station') }}<span></span></p>

                </div>

                <div class="report-info">
                    <div class="header-title">
                        <span>{{ _('Invoice') }}</span>
                        <div class="code_barcode" style="margin:auto;float:right;"></div>
                    </div>
                    <p>{{ _("Code") }} <span></span></p>
                    <p>{{ _("Issue Date") }} <span></span></p>
                    <p>{{ _("Due Date") }} <span></span></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <table id="stores-table" class="table table-bordered">
                <thead style="background: darkgreen; color: white;">
                <tr>
                    <th class="col-md-1">{{ _('Block') }}</th>
                    <th class="col-md-1">{{ _('Description') }}</th>
                    <th class="col-md-1 text-right">{{ _('Total Land') }}</th>
                    <th class="col-md-1 text-right">{{ _('Area(A)') }}</th>
                    <th class="col-md-1 text-right">{{ _('Unit Cost') }}</th>
                    <th class="col-md-1 text-right">{{ _('Amount') }}</th>
                </tr>
                </thead>
                <tbody>


                </tbody>
                <tfoot>

                </tfoot>

            </table>
        </div>
</div>