{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.InvoiceView:index') }}">{{ _("Invoice") }}</a></li>
        <li class="active">{{ _("receipt preview") }}</li>
    </ul>
    <div class="action">
        <a href="#" data-ajax="false" id="print-button" class="btn btn-danger"><i
                class="fa fa-print"></i>{{ _('Print') }}</a>
    </div>
{% endblock %}

{% block content %}
    <iframe id="iframe" frameborder="0" onload="resizeIframe(this)" scrolling="no"
            style="border:0;width:100%;height:100%;"
            src="{{ url_for('.PaymentView:receipt_content',id = id) }}"></iframe>
{% endblock %}

{% block script %}
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }

        $(document).ready(function () {
            $('.modal-backdrop').remove();
            $("#iframe").load(function () {
                //$("#contract-content").html($("#iframe").contents().find("body").html());
            });

            $("#print-button").click(function (e) {
                e.preventDefault();
                $("#iframe").get(0).contentWindow.print();
                return false;
            });
        });
    </script>
{% endblock %}
{% block footer %}
    <div class="action">
        {% if back_url %}
            <a role="button" class="btn btn-default no-print"
               href="{{ back_url }}">{{ _('Back') }}</a>
        {% else %}
            <a role="button" class="btn btn-default no-print"
               href="{{ url_for('.InvoiceView:index') }}">{{ _('Back') }}</a>
        {% endif %}
    </div>
{% endblock %}


