﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or 'Contract' }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/font.css') }}?v={{ v }}"/>

    <style>
        * {
            font-family: "Hanuman";
        }

        .frame {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .frame-content {
            background-color: #fff;
            box-shadow: 2px 2px 5px #888;
        }

        .frame .a5 {
            width: 210mm;
            padding: 1cm;
            min-height: 148mm;

        }

        @media print {
            .frame-content {
                box-shadow: none;

            }

            .frame .a5 {
                width: 100%;
                padding: 0;
                min-height: 100% !important;
            }

            body, html {
                margin-top: 0px !important;
                padding-top: 0px !important;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0px;
        }

        hr {
            border: 1px solid darkgreen;
        }

        span {
            font-size: 14px;
        }

        #header {
            width: 100%;
        }

        .row {
            width: 100%;
            clear: both;
        }

        .left {
            width: 50%;
            float: left;
            text-align: left;
        }

        .right {
            width: 50%;
            float: right;
        }


        .label {
            width: 25%;
            float: left;
        }

        .value {
            width: 75%;
            float: right;
            font-weight: bold;
        }

        .right.value p {
            margin-left: 10px;
        }

        table {
            width: 100%;
            clear: both;
        }

        .table thead tr th {
            background-color: darkgreen !important;
        }

        p {
            font-size: 14px;
            margin: 0px;
        }

        table th, tr td {
            font-size: 15px;
            margin: 5px;
            height: 30px;
        }

        .text-right {
            text-align: right;
            padding-right: 10px
        }

        .text-left, .text-left tr td, .text-left tr th {
            text-align: left;
            padding-left: 10px
        }


    </style>
</head>
<body>
<div class="frame">
    <div class="frame-content a5">
        <div id="header">
            <div class="row" style="margin-top: 15px">
                <div style="width: 25%;float: left;text-align: left;">
                    {#                  <img height="100px" width="140px" src="{{ url_for('share.static',filename='images/FWUC.png') }}" style="margin-top:-15px">#}
                    <img height="100px" width="140px" src="{{ current.company().logo }}" style="margin-top:-15px">
                </div>
                <div style="width: 50%;float: left;text-align: center">
                    <span style="font-size:18px;font-weight: bold">{{ current.company().ext__receipt_title if current.company().ext__receipt_title else '-' }}</span><br>
                    <small>{{ current.company().address | safe }}</small>
                </div>
                <div style="width: 25%;float: right;text-align: right;color:darkgreen;">

                </div>
            </div>

            <div class="row">
                <hr>
            </div>

            <div class="row">
                <div class="left">
                    <div class="label">
                        <p>{{ _("Receipt No.") }}</p>
                    </div>
                    <div class="value">
                        <p>: {{ payment.code }}</p>
                    </div>
                    <div class="label">
                        <p>{{ _("Farmer") }}</p>
                    </div>
                    <div class="value">
                        <p>: {{ payment.farmer_name }}</p>
                    </div>
                </div>
                <div class="right">
                    <div class="label"><p>{{ _("Receipt Date") }}</p></div>
                    <div class="value"><p>: {{ date | format_date() }}</p></div>
                    <div class="label">
                        <p>{{ _("Pay Date") }}</p>
                    </div>
                    <div class="value">
                        <p>: {{ payment.pay_date | format_date() }}</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <table border="1" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="text-left">{{ _("No.") }}</th>
                        <th class="text-left">{{ _("Invoice No") }}</th>
                        <th class="text-right">{{ _("Total Amount") }}</th>
                        <th class="text-right">{{ _("Paid Amount") }}</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% set total_amount={'value': 0} %}
                    {% set pay_amount={'value': 0} %}
                    {% for detail in payment.ext__details %}
                        {% set amount = (detail.total_amount | float) - (detail.ext_data.paid_amount | float)  %}
                        <tr>
                            {% if total_amount.update({'value': (total_amount.value | float) + (amount | float) }) %} {% endif %}
                            {% if pay_amount.update({'value': pay_amount.value + (detail.pay_amount or 0) }) %} {% endif %}
                            <td class="text-left">{{ loop.index }}</td>
                            <td class="text-left">{{ detail.code }}</td>
                            <td class="text-right">{{ amount  | format_value()  }}</td>
                            <td class="text-right">{{ detail.pay_amount | format_value() }}</td>
                        </tr>
                    {% endfor %}
                    {% for item in range(4 - payment.ext__details | length) %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="2" class="text-right">{{ _("Total") }}</th>
                        <th class="text-right">{{ total_amount.value | format_value() }}</th>
                        <th class="text-right">{{ pay_amount.value | format_value() }}</th>
                    </tr>
                    </tfoot>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th colspan="3" class="text-right">{{ _("Payment Method") }} :</th>
                            <th  class="text-right">{{ _(payment.payment_method_name) }}</th>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-right">{{ _("Ending Balance") }}:</th>
                            <th
                                class="text-right">{{ payment.ending_balance | format_value() }} {{ payment.currency.sign }}</th>
                        </tr>
                    </thead>
                </table>
            </div>


            <div class="row" style="padding-top:50px;">
                <div class="left">
                    <P>_____________________________________</P>
                    <p>ហត្ថលេខា និង ឈ្មោះអ្នកទទូល</p>
                </div>
                <div class="right">
                    <P>_____________________________________</P>
                    <p>ហត្ថលេខា និង ឈ្មោះកសិករ</p>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>
