﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or 'Contract' }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/font.css') }}?v={{ v }}"/>

    <style>
        *{
            font-family:"Hanuman";
        }
        .frame {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .frame-content {
            background-color: #fff;
            box-shadow: 2px 2px 5px #888;
        }

        .frame .a5 {
            width: 210mm;
            padding: 1cm;
            min-height: 148mm;

        }

        @media print {
            .frame-content {
                box-shadow: none;

            }

            .frame .a5 {
                width: 100%;
                padding: 0;
                min-height: 100% !important;
            }

            body, html {
                margin-top: 0px !important;
                padding-top: 0px !important;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0px;
        }

        hr {
            border: 1px solid darkgreen;
        }

        span {
            font-size: 14px;
            font-weight: bold;
        }

        #header {
            width: 100%;
        }

        .row {
            width: 100%;
            clear: both;
        }

        .left {
            width: 50%;
            float: left;
            text-align: left;
        }

        .right {
            width: 50%;
            float: right;
            text-align: right;
        }

        .left .label, .left .value {
            text-align: left;
        }

        .right .label, .right .value {
            text-align: right;
        }

        .label {
            width: 60%;
            float: left;
            font-weight: bold;
        }

        .value {
            width: 40%;
            float: right;
        }

        table {
            width: 100%;
            text-align: left;
        }

        .table thead tr th {
            background-color: darkgreen !important;
        }

        p {
            font-size: 13px;
            margin: 0px;
        }

        table th, tr td {
            font-size: 13px;
            margin: 5px;
            text-align: center;
            height: 30px;
        }


    </style>
</head>
<body>
<div class="frame">
    <div class="frame-content a5">
        <div id="header">
             <div class="row">
                <div style="width: 25%;float: left;text-align: left">
{#                  <img height="100px" width="140px" src="{{ url_for('share.static',filename='images/FWUC.png') }}" style="margin-top:-15px">#}
                  <img height="100px" width="140px" src="{{ current.company().logo }}" style="margin-top:-15px">
                </div>
                <div style="width: 50%;float: left;text-align: center">
                    <span style="font-size:18px;font-weight: bold">{{ current.company().ext__receipt_title if current.company().ext__receipt_title else '-' }}</span><br>
                    <small style="white-space: pre-line">{{ current.company().address }}</small>
                </div>
                <div style="width: 25%;float: right;text-align: right;color:darkgreen;">

                </div>
            </div>

            <div class="row">
                <hr>
            </div>

            <div class="row">
                <div class="left">
                    <div class="label">
                        <p>{{ _("User") }}</p>
                    </div>
                    <div class="value">
{#                        <p>{{ current.user().full_name }}</p>#}
                        <p>{{ current.company() }}</p>
                    </div>
                    <div class="label">
                        <p>{{ _("Farmer") }} {{ customer[1] }}</p>
                    </div>
                    <div class="value">
                        <p>{{ customer[0] }}</p>
                    </div>

                </div>

                <div class="right">
                    <div class="label">
                        <p>{{ _("Receipt No.") }}</p>
                    </div>
                    <div class="value">
                        <p>{{ payment.code }}</p>
                    </div>
                    <div class="label">
                        <p>{{ _("Pay Date") }}</p>
                    </div>
                    <div class="value">
                        <p>{{ payment.pay_date | format_date() }}</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <table border="1" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>{{ _("Invoice No") }}</th>
                        <th>{{ _("Total Amount") }}</th>
                        <th>{{ _("Paid Amount") }}</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for detail in payment.ext__details %}
                        <tr>
                            <td>{{ detail.code }}</td>
                            <td>{{ detail.total_amount }}</td>
                            <td>{{ detail.pay_amount | format_value() }}</td>
                        </tr>
                    {% endfor %}
                    {% if (payment.ext__details | length) == 1 %}
                        {% for item in range(5) %}
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td>&nbsp;</td>

                            </tr>
                        {% endfor %}
                    {% elif (payment.ext__details | length) == 2 %}
                        {% for item in range(4) %}
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endfor %}
                    {% elif(payment.ext__details | length) == 3 %}
                        {% for item in range(3) %}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="left">
                    <div class="label"><p>{{ _("Receipt Date") }}</p></div>
                    <div class="value"><p>{{ date | format_date() }}</p></div>
                </div>
                <div class="right">
                    <div class="label"><p>{{ _("Pay Amount") }}</p></div>
                    <div class="value"><p><b>{{ payment.pay_amount | format_value() }} {{ payment.currency.sign }}</b>
                    </p></div>
                    <div class="label"><p>{{ _("Ending Balance") }}</p></div>
                    <div class="value"><p>
                        <b>{{ payment.ending_balance | format_value() }} {{ payment.currency.sign }}</b></p></div>
                </div>
            </div>

            <div class="row" style="padding-top:50px;">
                <div class="left">
                    <P>_____________________________________</P>
                    <p>ហត្ថលេខា និង ឈ្មោះអ្នកទទូល</p>
                </div>
                <div class="right">
                    <P>_____________________________________</P>
                    <p>ហត្ថលេខា និង ឈ្មោះកសិករ</p>
                </div>
            </div>
            <div class="row" style="padding-top: 5px">
                <hr>
            </div>
            <div class="row" style="text-align: center;">
                <span style="white-space: pre-line">{{ current.company().ext__receipt_footer | safe if current.company().ext__receipt_footer else '-' }}</span>
{#                <span>អាគារអេមឺរ៉ល ជាន់ទី២ និងទី៣ អាគារលេខ៦៤ មហាវិថី ព្រះនរោត្តម(កែងផ្លូវ១៧៨) ខ័ណ្ឌដូនពេញ រាជធានីភ្នំពេញ</span>#}
            </div>
        </div>


    </div>
</div>
</body>
</html>