﻿{% from '_macros/wtforms.html' import render_form, render_field %}

<!DOCTYPE html>

<html>
<head>
    <title>{{ _('Signup') }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('share.static', filename='images/b24_logo.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/login.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='styles/site2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('share.static', filename='fonts/pe-icon-7-stroke/css/helper.css') }}" />
    <script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery-2.0.3.min.js') }}"></script>
</head>
<body class="login-form">
    <div class="container" style="padding-top:8%;">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="panel">
                <div class="panel-heading text-center" style="padding-bottom:0;">
                    <img src="{{ url_for('share.static', filename='images/b24_logo.png') }}" style="width:50px;border-radius:4px;" />
                    <h5>{{ _('RESET YOUR PASSWORD') }}</h5>
                </div>
                {% call render_form(form, action_url=url_for('.ResetPasswordView:reset_password', reset_code=form.reset_code.data), action_text='', is_use_template=false, pull_class='row') %}
                <div class="panel-body">
                    {{ render_field(form.new_password, label_visible=false) }}
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a href="{{ url_for('.SecurityView:login') }}" class="btn btn-default">{{ _('Cancel') }}</a>
                        <button type="submit" class="btn btn-primary">{{ _('Continue') }}</button>
                    </div>
                </div>
                {% endcall %}
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery-ui-1.11.4/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('share.static', filename='scripts/jquery.validate.unobtrusive.min.js') }}"></script>