{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
    <li><a href="{{ url_for(view.endpoints.index)}}">{{ _(view.title) }}</a></li>
    <li class="active">{{ _('Add') }}</li> 
</ul>
{% endblock %}

{% block content %}
<div id="form-add">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {{ render_form(form, action_url=url_for(view.endpoints.add), return_url=url_for(view.endpoints.index)) }}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}