{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('index') }}" data-ajax="false">{{ _('Home') }}</a></li>
    <li><a href="{{ url_for(view.endpoints.index) }}">{{ _(view.title) }}</a></li>
    <li>{{ view.obj }}</li>
</ul>
{% endblock %}

{% block content %}
<div id="form-detail">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
           {{ render_form(form, action_text='', edit_url=url_for(view.endpoints.edit, id=form.data.id), return_url=url_for(view.endpoints.index), return_text=_('Back')) }}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script language="javascript">
    $(document).ready(function () {
        $("#form-detail input, #form-detail select, #form-detail textarea, #form-detail button").attr("disabled", "disabled");
    });
</script>
{% endblock %}