{% extends '%s-layout.html'% session['layout'] %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('.UserView:index') }}">{{ _('User') }}</a></li>
        <li class="active">{{ _("Change Password") }}</li>
    </ul>
{% endblock %}

{% block content %}

    {% call render_form(form,action_url=url_for('UserView:change_password',id=form.id.data),action_text=_('Save'), return_url=url_for('UserView:index'), is_use_template=False,ajax='false', ajax_update='') %}
        <div id="form-edit">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {% if error %}
                                        <div class="alert alert-danger text-center">
                                            {{ error }}
                                        </div>
                                    {% endif %}
                                    {{ render_field(form.current_password) }}
                                </div>
                                <div class="col-md-12">
                                    {{ render_field(form.new_password) }}
                                </div>
                                <div class="col-md-12">
                                    {{ render_field(form.confirm_password) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}


{% endblock %}


{#{% block footer %}#}
{#    <div class="action">#}
{#        <button type="button" class="btn btn-default no-print">{{ _('Confirm') }}</button>#}
{#    </div>#}
{#    <div class="action">#}
{#        <a role="button" class="btn btn-default no-print"#}
{#           href="{{ url_for('.UserView:detail',id = form.data.id) }}">{{ _('Back') }}</a>#}
{#    </div>#}
{#{% endblock %}#}

{% block script %}
    <script language="javascript">

    </script>
{% endblock %}

