{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li class="active">{{ _(view.title) }}</li>
    </ul>
    <div class="action">
        <a class="btn btn-primary" role="button" id="print-all-button" data-ajax="false" href="{{ url_for('.UserView:change_password',id = form.data.id) }}"><i
                class="fa fa-key"> </i> {{ _('Change Password') }}</a>
    </div>
{% endblock %}

{% block content %}
    <div id="form-detail">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {{ render_form(form, action_text='',ajax='false', edit_url=url_for('.UserView:edit', id=form.data.id), return_url=url_for(view.endpoints.index), return_text=_('Back')) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script language="javascript">
        $(document).ready(function () {
            $("#form-detail input, #form-detail select, #form-detail textarea, #form-detail button").attr("disabled", "disabled");
        });
    </script>
{% endblock %}