{% extends '%s-layout.html'% session['layout'] %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('index')}}" data-ajax="false">{{_('Home')}}</a></li>
    <li><a href="{{ url_for('.UserView:index')}}">{{ _(title) }}</a></li>
    <li><a href="{{ url_for('.UserView:detail', id=form.id.data) }}">{{ obj }}</a></li>
    <li class="active">{{_('Edit')}}</li>
</ul>
       <div class="action">
        <a class="btn btn-primary" role="button" id="print-all-button" data-ajax="false" href="{{ url_for('.UserView:change_password',id = form.data.id) }}"><i
                class="fa fa-key"> </i> {{ _('Change Password') }}</a>
    </div>
{% endblock %}

{% block content %}
<div id="form-edit">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {{ render_form(form, action_url=url_for('.UserView:edit',id=form.data.id),ajax_update='',ajax='false', return_url=url_for('.UserView:index'), action_text=_('Save')) }}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $("#email").attr('readonly','readonly');
        });
    </script>

{% endblock %}


