﻿body {
    
}
#main-contain:after {
    content: '';
    clear: both;
}
#wrapper{
    position:absolute;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#sidbar-left{
    display:inline;
}

#sidebar-left-primary{
    background:#000000;
}
#sidebar-left-secondary{
    background:#808080;
}

#content{
    background:blue;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}