{% extends "%s-layout.html" % layout %}
{% block content %}
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {% call render_form(form, id='form-add', action_url=url_for(view.endpoints.add),return_url=view.return_url or url_for(view.endpoints.index),action_text=_('Save'),btn_class='btn btn-primary') %}
            <div class="col-xs-12">
                {{ render_field(form.name) }}
            </div>
            <div class="col-xs-12">
                {{ render_field(form.description) }}
            </div>
            <div class="col-xs-12 default-checkbox">
                {{ render_field(form.permissions) }}
            </div>
            {% endcall %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}