{% extends "%s-layout.html" % layout %}
{% block content %}
{% call render_form(form, id='form-detail', action_url='',return_url=view.return_url or url_for(view.endpoints.index),action_text='',edit_url=url_for(view.endpoints.edit, id=form.id.data), edit_text=_('Edit'),btn_class='btn btn-primary', class_="clearfix") %}
        <div class="col-xs-12">
            {{ render_field(form.name) }}
        </div>
        <div class="col-xs-12">
            {{ render_field(form.description) }}
        </div>
        <div class="col-xs-12 default-checkbox">
            {{ render_field(form.permissions)}}
        </div>
        {% endcall %}
{% endblock %}

{% block script %}
<script language="javascript">
    $(document).ready(function () {
        $("#form-detail input,#form-detail select,#form-detail textarea,#form-detail button").attr("disabled", "disabled");
    });
</script>
{% endblock %}