{% extends "%s-layout.html" % layout %}
{% block content %}
{% call render_form(form, id='form-edit', action_url=url_for(view.endpoints.edit,id=form.id.data),return_url=view.return_url or url_for(view.endpoints.index),action_text=_('Save'),btn_class='btn btn-primary', class_="clearfix") %}
        <div class="col-xs-12">
            {{ render_field(form.name) }}
        </div>
        <div class="col-xs-12">
            {{ render_field(form.description) }}
        </div>
        <div class="col-xs-12 default-checkbox">
            {{ render_field(form.permissions) }}
        </div>
        {% endcall %}
{% endblock %}

{% block script %}
{% endblock %}