{% extends '%s-layout.html' % session.get('layout', 'breadcrumb') %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.HomeView:home') }}" data-ajax="false">{{ _('Home') }}</a></li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div class="col-xs-12 col-sm-4">
                <div class="panel">
                    <header class="panel-heading text-center">{{ _('Setup') }}</header>
                    <div class="panel-body">
                        <div class="setting-menu">
                            <div class="sub-menu">
                                <a id="loan_type" href="{{ url_for('.TariffView:index',back_url=url_for(".SettingView:index")) }}"><i
                                        class="fa fa-file"></i>{{ _('Tariff') }}</a>
                            </div>
                            <div class="sub-menu">
                                <a id="loan_type" href="{{ url_for('.SeasonView:index',back_url=url_for(".SettingView:index")) }}"><i
                                        class="fa fa-file"></i>{{ _('Season') }}</a>
                            </div>

                            <div class="sub-menu">
                                <a id="loan_type" href="{{ url_for('.BillingCycleView:index',back_url=url_for(".SettingView:index")) }}"><i
                                        class="fa fa-file"></i>{{ _('Billing Cycle') }}</a>
                            </div>
                            <div class="sub-menu">
                                <a id="loan_type" href="{{ url_for('.ContractTemplateView:index',back_url=url_for(".SettingView:index")) }}"><i
                                        class="fa fa-file"></i>{{ _('Contract Template') }}</a>
                            </div>
                              <div class="sub-menu">
{#                                <a id="loan_type" href="{{ url_for('.PenaltyView:index',back_url=url_for(".SettingView:index")) }}"><i#}
{#                                        class="fa fa-file"></i>{{ _('Penalty') }}</a>#}
                              <a href="">&nbsp;</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel">
                    <header class="panel-heading text-center">{{ _('Securities') }}</header>
                    <div class="panel-body">
                        <div class="setting-menu">
                            <div class="sub-menu">
                                <a id="user" href="{{ url_for('.UserView:index',back_url=url_for(".SettingView:index")) }}"><i
                                        class="fa fa-user"></i>{{ _('User') }}</a>
                            </div>
                            <div class="sub-menu">
                                <a id="role" href="{{ url_for('.RoleView:index',back_url=url_for(".SettingView:index")) }}"><i
                                        class="fa fa-unlock-alt"></i>{{ _('Role') }}</a>
                            </div>
                            <div class="sub-menu">
                                <a href="">&nbsp;</a>
                            </div>
                            <div class="sub-menu">
                                <a href="">&nbsp;</a>
                            </div><div class="sub-menu">
                                <a href="">&nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel">
                    <header class="panel-heading text-center">{{ _('Location') }}</header>
                    <div class="panel-body">
                        <div class="setting-menu">
                            <div class="sub-menu">
                                <a id="user" href="{{ url_for('.ProvinceView:index') }}"><i
                                        class="fa fa-file"></i>{{ _('Province') }}</a>
                            </div>
                            <div class="sub-menu">
                                <a id="role" href="{{ url_for('.DistrictView:index') }}"><i
                                        class="fa fa-file"></i>{{ _('District') }}</a>
                            </div>
                            <div class="sub-menu">
                                <a id="role" href="{{ url_for('.CommuneView:index') }}"><i
                                        class="fa fa-file"></i>{{ _('Commune') }}</a>
                            </div>
                            <div class="sub-menu">
                                <a id="role" href="{{ url_for('.VillageView:index') }}"><i
                                        class="fa fa-file"></i>{{ _('Village') }}</a>
                            </div>
                            <div class="sub-menu">
                                <a href="">&nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-xs-12 col-sm-4">
                <div class="panel">
                    <header class="panel-heading text-center">{{ _('Invoice Tempates') }}</header>
                    <div class="panel-body">
                      <div class="setting-menu" style="min-height:151px">
                        {% for template in templates %}
                             <div class="sub-menu">
                                <input type="checkbox" name="template" {{ 'checked' if template.is_active else '' }} class="templates"  value="{{ template.id }}"> {{ template.name }}
                             </div>
                        {% endfor %}
                      </div>
                    </div>
                </div>
            </div>


         <div class="col-xs-12 col-sm-4">
                <div class="panel">
                    <header class="panel-heading text-center">{{ _('Receipt Tempates') }}</header>
                    <div class="panel-body">
                      <div class="setting-menu" style="min-height:151px">
                        {% for template in receipt_templates %}
                             <div class="sub-menu">
                                <input type="checkbox" name="receipt_templates" {{ 'checked' if template.is_active else '' }} class="receipt_templates"  value="{{ template.id }}"> {{ template.name }}
                             </div>
                        {% endfor %}
                      </div>
                    </div>
                </div>
            </div>

             <div class="col-xs-12 col-sm-4">
                <div class="panel">
                    <header class="panel-heading text-center">{{ _('Contract Tempates') }}</header>
                    <div class="panel-body">
                      <div class="setting-menu" style="min-height:151px">
                        {% for contract in contract_templates %}
                             <div class="sub-menu">
                                <input type="checkbox" name="contract" {{ 'checked' if contract.is_active else '' }} class="contracts"  value="{{ contract.id }}"> {{ contract.name }}
                             </div>
                        {% endfor %}

                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
     <script type="text/javascript">
             $(document).ready(function(){
                    $('.templates').on('change', function() {
                        $('.templates').not(this).prop('checked', false);
                        var url = "{{ url_for(".InvoiceView:update_template",id='param') }}";
                        url = url.replace('param',$(this).val());
                        $.ajax({
                            url:url,
                            type:'GET',
                            success:function(resp){
                            }
                        });
                    });


                     $('.contracts').on('change', function() {
                        $('.contracts').not(this).prop('checked', false);
                        var url = "{{ url_for(".ContractTemplateView:update_template",id='param') }}";
                        url = url.replace('param',$(this).val());
                        $.ajax({
                            url:url,
                            type:'GET',
                            success:function(resp){
                            }
                        });
                    });

                      $('.receipt_templates').on('change', function() {
                        $('.receipt_templates').not(this).prop('checked', false);
                        var url = "{{ url_for(".PaymentView:update_template",id='param') }}";
                        url = url.replace('param',$(this).val());
                        $.ajax({
                            url:url,
                            type:'GET',
                            success:function(resp){
                            }
                        });
                    });

        });
    </script>
{% endblock %}