<style>
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
</style>
<div id="report">
    {% for obj in objects %}
        <div class="report a4 landscape"
             style="padding:0px; page-break-after: always;">

            <div class="report-header" style="margin: 0;padding: 0">
                <div style="margin: 0;padding: 0">
                    <img height="120px" width="160px"
                         src="{{ current.company().logo | export_image_pdf()  if current.company().logo else url_for("share.static",filename="images/default_logo.png") | export_image_pdf() }}"/>
                </div>
                <div class="address" style="margin-top: -37px;padding: 0px;height: 140px;">
                    <span style="font-size:30px;font-weight: bold">{{ current.company() }}</span>
                    <br>
                    <small style="font-size: 18px;">{{ current.company().address | safe }}</small>
                    <br>
                    <br>
                </div>
                <hr>
                <div class="bill-info clearfix" style="margin-top: -60px;">
                    <div style="width: 100%;clear: both">
                        <div style="width: 50%; float: left; text-align: left;">
                            <p style="font-size:18px">{{ _('Farmer') }}</p>
                        </div>
                        <div style="width: 50%;float: left;text-align: left;">
                            <p style="font-size:18px;width:250px;text-align: left;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {{ obj.farmer.name }} {{ '- %s' %obj.farmer.code }}
                                {% if obj.farmer.spouse_name %}
                                    {{ '- %s' % obj.farmer.spouse_name }} {% endif %}
                            </p>
                        </div>
                    </div>

                    <div style="width: 100%;clear: both;">
                        <div style="width: 50%; float: left; text-align: left">
                            <p style="font-size:18px">{{ _('Address') }}</p>
                        </div>
                        <div style="width: 50%;float: left;text-align: left;">
                            <p style="font-size: 18px; text-align: left; width:250px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {% if obj.farmer.village %} {{ obj.farmer.village }} {% endif %}
                                {% if obj.farmer.commune and obj.farmer.commune !='None' %}
                                    {{ obj.farmer.commune }} {% endif %}
                            </p>
                        </div>
                    </div>

                    <div style="width: 100%;clear: both">
                        <div style="width: 50%; float: left; text-align: left">
                            <p style="font-size:18px">{{ _('Phone') }}</p>
                        </div>
                        <div style="width: 50%;float: left;text-align: left;">
                            <p style="font-size: 18px; text-align: left; width:250px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {{ obj.farmer.phone or _('NA') }}
                            </p>
                        </div>
                    </div>

                    <div style="width: 100%;clear: both">
                        <div style="width: 50%; float: left; text-align: left">
                            <p style="font-size:18px">{{ _('Block') }}</p>
                        </div>
                        <div style="width: 50%;float: left;text-align: left;">
                            <p style="font-size: 18px; text-align: left; width:250px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {{ obj.block.name or _('NA') }}
                            </p>
                        </div>
                    </div>
                    <div style="width: 100%;clear: both">
                        <div style="width: 50%; float: left; text-align: left">
                            <p style="font-size:18px">{{ _('Season') }}</p>
                        </div>
                        <div style="width: 50%;float: left;text-align: left;">
                            <p style="font-size: 18px; text-align: left; width:250px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {{ obj.billing.season.name or _('NA') }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="report-info" style="margin-top: -60px;">


                    <div style="width: 100%;clear: both">
                        <div style="width: 40%; float: left;">
                            <p style="font-size:18px">លេខកិច្ចសន្យា</p>
                        </div>
                        <div style="width: 60%;float: left;">
                            <p style="font-size:18px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {{ obj.contract_number if obj.contract_number else _('NA') }}
                            </p>
                        </div>
                    </div>


                    <div style="width: 100%;clear: both">
                        <div style="width: 40%; float: left;">
                            <p style="font-size:18px">លេខវិក្កយបត្រ</p>
                        </div>
                        <div style="width: 60%;float: left;">
                            <p style="font-size:18px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {{ obj.code if obj.code else _('NA') }}
                            </p>
                        </div>
                    </div>

                    <div style="width: 100%;clear: both">
                        <div style="width: 40%; float: left;">
                            <p style="font-size:18px">{{ _("Issue Date") }}</p>
                        </div>
                        <div style="width: 60%;float: left;">
                            <p style="font-size:18px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {{ obj.issue_date | format_date() }}
                            </p>
                        </div>
                    </div>

                    <div style="width: 100%;clear: both">
                        <div style="width: 40%;float: left; ">
                            <p style="font-size:18px">{{ _("Due Date") }}</p>
                        </div>
                        <div style="width: 60%;float: left;">
                            <p style="font-size:18px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {{ obj.due_date | format_date() }}
                            </p>
                        </div>
                    </div>
                    <div style="width: 100%;clear: both">
                        <div style="width: 40%; float: left;">
                            <p style="font-size:18px">ម្ចាស់ដី</p>
                        </div>
                        <div style="width: 60%;float: left;">
                            <p style="font-size:18px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                : {{ obj.owner_farmer.name }} {{ '- %s' %obj.owner_farmer.code }}
                                {% if obj.owner_farmer.spouse_name %}
                                    {{ '- %s' % obj.owner_farmer.spouse_name }} {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <table id="stores-table" class="table table-bordered">
                <thead style="border-top: 1px solid #c0c0c0;">
                <tr>
                    {% if obj.invoice_type != '10042' %}
                        <th class="col-md-1" style="font-size: 18px">{{ _('Land Code') }}</th>
                        <th class="col-md-1" style="font-size: 18px">{{ _('Tariff') }}</th>
                        <th class="col-md-1 text-right" style="font-size: 18px">{{ _('Area(Are)') }}</th>
                        <th class="col-md-1 text-right"
                            style="font-size: 18px">{{ _('Unit Cost') }}({{ obj.currency.sign }})
                        </th>
                        <th class="col-md-1 text-right" style="font-size: 18px">{{ _('Amount') }}</th>
                    {% else %}
                        <th class="text-left" style="font-size: 18px">{{ _("Invoice Code") }}</th>
                        <th class="text-left" style="font-size: 18px">{{ _("Description") }}</th>
                        <th class="text-right" style="font-size: 18px">{{ _("Amount") }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% set total_unit_cost = [0] -%}
                {% set total_land = [0] -%}
                {% set num = {'num':0} %}
                {% set loop_index = {'index': 0} %}
                {% set current_index = {'index': 0} %}
                {% set billing_lands = [] %}
                {% set index = [1] %}
                {% if obj.details %}
                    {% for detail in obj.details %}
                        {% if num.update({'num': num.num + detail.billing_lands | length }) %} {% endif %}
                        {% for billing_land in detail.billing_lands %}
                            {% if total_land.append(total_land.pop()+ detail.total_land) -%}{% endif %}
                            {% if current_index.update({'index': loop.index }) %} {% endif %}
                            {% if obj.details | length > 1 %}
                                {% if loop_index.update({'index': loop.index }) %} {% endif %}
                            {% endif %}
                            <tr style="height: 45px;">
                                <td class="text-left" style="font-size: 18px">{{ billing_land.land.code }}</td>
                                <td class="text-left" style="font-size: 18px">{{ billing_land.tariff.name }}</td>
                                <td class="text-right" style="font-size: 18px">{{ billing_land.area }}</td>
                                <td class="text-right"
                                    style="font-size: 18px">{{ billing_land.unit_cost | format_integer() }}</td>
                                <td class="text-right"
                                    style="font-size: 18px">{{ billing_land.total_cost | to_riel() }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    {% if num.num < 14 %}
                        {% for item in range(14 - num.num ) %}
                            <tr style="height: 45px;">
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1 decimal"></td>
                                <td class="col-md-1">&nbsp;</td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                {% else %}
                    <tr>
                        <td class="text-left">{{ obj.code }}</td>
                        <td class="text-left">{{ _('Invoice Penalty') }}</td>
                        <td class="text-right">{{ obj.total_amount | to_riel() }}</td>
                    </tr>
                    {% for item in range(14) %}
                        <tr style="height: 45px;">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
                <tfoot style="display: table-row-group !important;">
                <tr style="height: 45px;">
                    {% if obj.invoice_type !='10042' %}
                        <th class="col-md-1 text-right" colspan="2" style="font-size: 18px">{{ _('Total') }}</th>
                        <th class="col-md-1 text-right"
                            style="font-size: 18px;font-weight:bold;">{{ obj.total_area }}</th>
                        <th class="col-md-1 text-right"></th>
                        <th class="col-md-1 text-right" style="font-size: 18px;font-weight:bold;">
                            {{ obj.total_amount | format_value }}{{ obj.currency.sign }}</th>
                    {% else %}
                        <th class="text-left" colspan="2" style="font-size: 18px">{{ _('Total') }}</th>
                        <th class="text-right" style="font-size: 18px;font-weight: bold">
                            {{ obj.total_amount | format_value }}{{ obj.currency.sign }}</th>
                    {% endif %}
                </tr>
                <tr style="border: none">
                    {% if obj.invoice_type !='10042' %}
                        <th class="col-md-1" colspan="3" style="font-size: 18px; border: none">

                            {% if not obj.ext__amount %}
                                <span style="font-weight: bold;font-size: 18px;border: none">{{ _("Note") }}: </span>
                            {% else %}
                                {% set amount = obj.ext__amount | int %}
                                <span style="font-weight: bold;font-size: 18px;border: none">{{ _("Note") }}: </span>
                                <span
                                        style="font-size: 18px">{{ obj.note }} {{ _("Amount") }}​​
                                    {{ amount | abs | format_value() }}{{ obj.currency.sign }}</span>
                            {% endif %}
                            <span style="font-size: 18px;">{{ current.company().ext__invoice_footer | safe if current.company().ext__invoice_footer else '' }}</span>
                        </th>
                        <th class="col-md-1 text-right" colspan="2" style="font-size: 18px;border: none">
                            <div style="width: 100%;margin-top:50px;text-align: right;"><p>
                                _____________________________________</p></div>
                            <div style="width: 100%;text-align: right;margin-top:50px;">
                                <small style="font-size: 18px">ហត្ថលេខា​ និង ឈ្មោះប្រធានប្លុក</small>
                            </div>
                        </th>
                    {% else %}
                        <th class="col-md-1" colspan="2" style="font-size: 18px; border: none">
                            {% if not obj.ext__amount %}
                                <span style="font-weight: bold;font-size: 18px;border: none">{{ _("Note") }}: </span>
                            {% endif %}
                            <span style="font-size: 18px;">{{ current.company().ext__invoice_footer | safe if current.company().ext__invoice_footer else '' }}</span>
                        </th>
                        <th class="col-md-1 text-right" style="font-size: 18px;border: none">
                            <div style="width: 100%;margin-top:50px;text-align: right;"><p>
                                _____________________________________</p></div>
                            <div style="width: 100%;text-align: right">
                                <small style="font-size: 18px">ហត្ថលេខា​ និង ឈ្មោះប្រធានប្លុក</small>
                            </div>
                        </th>
                    {% endif %}
                </tr>

                <tr style="border: none;">

                    <th class="col-md-1 text-right"
                        colspan="{% if obj.invoice_type !='10042' %}5{% else %}3{% endif %}"
                        style="font-size: 18px;border: none">

                    </th>

                </tr>
                <tr style="border: none;">

                    <th class="col-md-1 text-right"
                        colspan="{% if obj.invoice_type !='10042' %}5{% else %}3{% endif %}"
                        style="font-size: 18px;border: none">

                        <small style="font-size: 18px;"><b>ទំព័រ {{ loop.index + start }}</b></small>

                    </th>

                </tr>
                </tfoot>

            </table>
        </div>


    {% endfor %}
</div>
