<div id="report">
    {% set height={'value':'0%'} %}
    {% set old_height={'value':'0%'} %}
    {% set page={'property':'','value':''} %}
    {% set length={'value': 0} %}
    {% set invoice_id={'value': ""} %}

    {% for obj in objects %}

        {% for detail in obj.details %}
            {% if detail.invoice_id == invoice_id['value'] %}
                {% if length.update({'value': length['value'] + detail.billing_lands | length }) %} {% endif %}
            {% else %}
                {% if length.update({'value':detail.billing_lands | length }) %} {% endif %}
                {% if invoice_id.update({'value':detail.invoice_id}) %} {% endif %}
            {% endif %}

        {% endfor %}

        {% if  length['value'] > 5 %}
            {% if old_height['value']!='50%' %}
                {% if height.update({'value':'100%'}) %}{% endif %}
                {% if old_height.update({'value':'100%'}) %}{% endif %}
                {% if page.update({'property':'page-break-after','value':'always'}) %}{% endif %}
            {% else %}
                {% if page.update({'property':'page-break-before','value':'always'}) %}{% endif %}
                {% if height.update({'value':'100%'}) %}{% endif %}
                {% if old_height.update({'value':'100%'}) %}{% endif %}
            {% endif %}

        {% else %}
            {% if old_height['value'] == '100%' %}
                {% if page.update({'property':'page-break-before','value':'always'}) %}{% endif %}
            {% else %}
                {% if page.update({'property':'page-break-before','value':'none'}) %}{% endif %}
            {% endif %}
            {% if height.update({'value':'50%'}) %}{% endif %}
            {% if old_height.update({'value':'50%'}) %}{% endif %}
        {% endif %}



        <div class="report a4 landscape"
             style="padding:0px; page-break-after: always;">

            <div class="report-header" style="margin: 0;padding: 0">
                <div style="margin: 0;padding: 0">
                    <img height="120px" width="160px"
                         src="{{ current.company().logo | export_image_pdf()  if current.company().logo else url_for("share.static",filename="images/default_logo.png") | export_image_pdf() }}"/>
                </div>
                <div class="address" style="margin-top: -37px;">
                    <span style="font-size:22px;font-weight: bold">{{ current.company() }}</span>
                    <br>
                    <small>{{ current.company().address | safe }}</small>
                    <br>
                    <br>
                </div>
                <hr>
                <div class="bill-info clearfix">
                     <p>{{ _('Farmer') }}
                         <span style="width:200px;text-align: right;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;"> {{ obj.farmer.name }} {{ '- %s' %obj.farmer.code }}
                            {% if obj.farmer.spouse_name %}
                                {{ '- %s' % obj.farmer.spouse_name }} {% endif %}
                        </span>
                     </p>

                    <p class="clearfix">{{ _('Address') }} <span>{{ obj.farmer.village }} {{ obj.farmer.commune }}</span></p>
                    <p>{{ _('Phone') }} <span>{{ obj.farmer.phone or _('NA') }}</span></p>
                    <p>{{ _('Block') }}<span>{{ obj.block.name }}</span></p>
                    <p>{{ _('Season') }}<span>{{ obj.billing.season.name }}</span></p>

                </div>

                <div class="report-info">
                    <p>លេខកិច្ចសន្យា <span>{{ obj.contract_number if obj.contract_number else _('NA') }}</span></p>
                    <p>លេខវិក្កយបត្រ <span>{{ obj.code }}</span></p>
                    <p>{{ _("Issue Date") }} <span>{{ obj.issue_date | format_date() }}</span></p>
                    <p>{{ _("Due Date") }} <span>{{ obj.due_date | format_date() }}</span></p>
                    <p>ម្ចាស់ដី
                        <span style="width:200px;text-align: right;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;"> {{ obj.owner_farmer.name }} {{ '- %s' %obj.owner_farmer.code }}
                            {% if obj.owner_farmer.spouse_name %}
                                {{ '- %s' % obj.owner_farmer.spouse_name }} {% endif %}
                        </span>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <table id="stores-table" class="table table-bordered">
                <thead style="border-top: 1px solid #c0c0c0;">
                <tr style="page-break-before: always">
                    {% if obj.invoice_type != '10042' %}
                        <th class="col-md-1">{{ _('Land Code') }}</th>
                        <th class="col-md-1">{{ _('Tariff') }}</th>
                        <th class="col-md-1 text-right">{{ _('Area(Are)') }}</th>
                        <th class="col-md-1 text-right">{{ _('Unit Cost') }}({{ obj.currency.sign }})</th>
                        <th class="col-md-1 text-right">{{ _('Amount') }}</th>
                    {% else %}
                        <th class="text-left">{{ _("Invoice Code") }}</th>
                        <th class="text-left">{{ _("Description") }}</th>
                        <th class="text-right">{{ _("Amount") }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% set total_unit_cost = [0] -%}
                {% set total_land = [0] -%}
                {% set num = {'num':0} %}
                {% set billing_lands = [] %}
                {% if obj.details %}
                    {% for detail in obj.details %}
                        {% for billing_land in detail.billing_lands %}
                            {% if total_land.append(total_land.pop()+ detail.total_land) -%}{% endif %}
                            <tr>
                                <td class="text-left">{{ billing_land.land.code }}</td>
                                <td class="text-left">{{ billing_land.tariff.name }}</td>
                                <td class="text-right">{{ billing_land.area }}</td>
                                <td class="text-right">{{ billing_land.unit_cost | format_integer() }}</td>
                                <td class="text-right">{{ billing_land.total_cost | to_riel() }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="text-left">{{ obj.code }}</td>
                        <td class="text-left">{{ _('Invoice Penalty') }}</td>
                        <td class="text-right">{{ obj.total_amount | to_riel() }}</td>
                    </tr>
                    {% for item in range(4) %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% for detail in obj.details %}

                    {% if (detail.billing_lands | length) == 1 %}
                        {% for item in range(3) %}
                            <tr>
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1 decimal"></td>
                                <td class="col-md-1">&nbsp;</td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                            </tr>
                        {% endfor %}
                    {% elif (detail.billing_lands | length) == 2 %}
                        {% for item in range(2) %}
                            <tr>
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1">&nbsp;</td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                            </tr>
                        {% endfor %}
                    {% elif(detail.billing_lands | length) == 3 %}
                        {% for item in range(1) %}
                            <tr>
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1 decimal"></td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                                <td class="col-md-1 decimal">&nbsp;</td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                {% endfor %}


                </tbody>
                <tfoot style="display: table-row-group">
                <tr>
                    {% if obj.invoice_type !='10042' %}
                        <th class="col-md-1 text-right" colspan="2">{{ _('Total') }}</th>
                        <th class="col-md-1 text-right">{{ obj.total_area }}</th>
                        <th class="col-md-1 text-right"></th>
                        <th class="col-md-1 text-right">
                            {{ obj.total_amount | format_value }}{{ obj.currency.sign }}</th>
                    {% else %}
                        <th class="text-left" colspan="2">{{ _('Total') }}</th>
                        <th class="text-right">
                            {{ obj.total_amount | format_value }}{{ obj.currency.sign }}</th>
                    {% endif %}
                </tr>
                </tfoot>

            </table>

            {% if obj.note!=None %}
                <div class="header-title">
                    {% set amount = obj.ext__amount | int %}
                    <span style="font-weight: bold">{{ _("Note") }}: </span><span>{{ obj.note }} {{ _("Amount") }}​​
                    {{ amount | abs | format_value() }}{{ obj.currency.sign }}</span>
                </div>
            {% endif %}

            <div style="width:100%;padding-bottom:10px;">
                <div style="width:50%;float: left">
                    {% if not obj.ext__amount %}
                        <h4>{{ _("Note") }}</h4>
                    {% endif %}
                    <div style="width: 100%;">
                        <div style="float: left;">
                            <small>{{ current.company().ext__invoice_footer | safe if current.company().ext__invoice_footer else '' }}</small>
                        </div>
                    </div>
                </div>

                <div style="width:50%;float: left;">
                    <div style="width: 100%;margin-top:0px;text-align: right"><p>
                        _____________________________________</p></div>
                    <div style="width: 100%;text-align: right">
                        <small>ហត្ថលេខា​ និង ឈ្មោះប្រធានប្លុក</small>
                    </div>
                </div>
            </div>

            <div style="width: 100%;">
                <div style="float: right;margin-top: 7px;">
                    <small><b>ទំព័រ {{ loop.index }}</b></small>
                </div>
            </div>
            <br>
        </div>


    {% endfor %}
</div>
