<div id="report">
    {% set height={'value':'0%'} %}
    {% set old_height={'value':'0%'} %}
    {% set page={'property':'','value':''} %}

    {% for obj in objects %}
        {% if obj.details | length > 5 %}
            {% if old_height['value']!='50%' %}
                {% if height.update({'value':'100%'}) %}{% endif %}
                {% if old_height.update({'value':'100%'}) %}{% endif %}
            {% else %}
                {% if page.update({'property':'page-break-before','value':'always'}) %}{% endif %}
                {% if height.update({'value':'100%'}) %}{% endif %}
                {% if old_height.update({'value':'100%'}) %}{% endif %}
            {% endif %}

        {% else %}
            {% if height.update({'value':'50%'}) %}{% endif %}
            {% if page.update({'property':'page-break-before','value':'none'}) %}{% endif %}
            {% if old_height.update({'value':'50%'}) %}{% endif %}
        {% endif %}

        <div class="report a5 landscape"
             style="height: {{ height['value'] }};
                     {{ page['property'] }}:{{ page['value'] }};
                     padding:0px;">
            <div class="report-header" style="margin: 0;padding: 0">
                <div style="margin: 0;padding: 0">
                    <img height="120px" width="160px" src="{{ current.company().logo | export_image_pdf()  if current.company().logo else url_for("share.static",filename="images/default_logo.png") | export_image_pdf() }}"/>
                </div>
                <div class="address" style="margin-top: -37px;">
                    <span style="font-size:22px;font-weight: bold">{{ current.company() }}</span>
                    <br>
                    <small>{{ current.company().address | safe }}</small>
                    <br>
                    <br>
                </div>
                <hr>
                <div class="bill-info">
                    <p>{{ _('Farmer') }}
                         <span style="width:200px;text-align: right;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;"> {{ obj.farmer.name }} {{ '- %s' %obj.farmer.code }}
                            {% if obj.farmer.spouse_name %}
                                {{ '- %s' % obj.farmer.spouse_name }} {% endif %}
                        </span>
                     </p>
                    <p>{{ _('Address') }} <span>{{ obj.farmer.village }} {{ obj.farmer.commune }}</span></p>
                    <p>{{ _('Phone') }} <span>{{ obj.farmer.phone }}</span></p>
                    <p>{{ _('Station') }}<span>{{ obj.station.name }}</span></p>
                    <p>{{ _('Season') }}<span>{{ obj.billing.season.name }}</span></p>

                </div>

                <div class="report-info">
                    <p>លេខកិច្ចសន្យា <span>{{ obj.contract_number if obj.contract_number else _('NA')}}</span></p>
                    <p>លេខវិក្កយបត្រ <span>{{ obj.code }}</span></p>
                    <p>{{ _("Issue Date") }} <span>{{ obj.issue_date | format_date() }}</span></p>
                    <p>{{ _("Due Date") }} <span>{{ obj.due_date | format_date() }}</span></p>
                    <p>ម្វាស់ដី
                        <span style="width:200px;text-align: right;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;"> {{ obj.owner_farmer.name }} {{ '- %s' %obj.owner_farmer.code }}
                            {% if obj.owner_farmer.spouse_name %}
                                {{ '- %s' % obj.owner_farmer.spouse_name }} {% endif %}
                        </span>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <table id="stores-table" class="table table-bordered">
                <thead style="border-top: 1px solid #c0c0c0">
                <tr>
                     {% if obj.invoice_type != '10042' %}
                        <th class="col-md-1">{{ _('Block') }}</th>
                        <th class="col-md-1">{{ _('Tariff') }}</th>
                        <th class="col-md-1 text-right">{{ _('Total Land') }}</th>
                        <th class="col-md-1 text-right">{{ _('Area(Are)') }}</th>
                        <th class="col-md-1 text-right">{{ _('Unit Cost') }}({{ obj.currency.sign }})</th>
                        <th class="col-md-1 text-right">{{ _('Amount') }}</th>
                    {% else %}
                         <th class="text-left">{{ _("Invoice Code") }}</th>
                         <th class="text-left">{{ _("Description") }}</th>
                         <th class="text-right">{{ _("Amount") }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% set total_unit_cost = [0] -%}
                {% set total_land = [0] -%}
                {% set num = {'num':0} %}
                {% if obj.details %}
                    {% for detail in obj.details %}

                            {% if total_land.append(total_land.pop()+ detail["total_land"]) -%}{% endif %}{# sum land #}
                            <tr>
                                <td class="col-md-1">{{ detail.item_name }}</td>
                                <td class="col-md-1">{{ detail.tariff.name }}</td>
                                <td class="col-md-1 text-right">{{ detail.total_land | int }}</td>
                                <td class="col-md-1 text-right">{{ detail.quantity | format_currency() }}</td>
                                <td class="col-md-1 text-right">{{ detail.price | format_value() }}</td>
                                <td class="col-md-1 text-right">{{ detail.line_total | format_value() }}</td>
                            </tr>
                    {% endfor %}
                {% else %}
                       <tr>
                            <td class="text-left">{{ obj.code }}</td>
                            <td class="text-left">{{ _('Invoice Penalty') }}</td>
                            <td class="text-right">{{ obj.total_amount | to_riel() }}</td>
                        </tr>
                        {% for item in range(4) %}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endfor %}
                {% endif %}
                {% if (obj.details | length) == 1 %}
                    {% for item in range(3) %}
                        <tr>
                            <td class="col-md-1 decimal">&nbsp;</td>
                            <td class="col-md-1 decimal"></td>
                            <td class="col-md-1 decimal">&nbsp;</td>
                            <td class="col-md-1">&nbsp;</td>
                            <td class="col-md-1 decimal">&nbsp;</td>
                            <td class="col-md-1 decimal">&nbsp;</td>
                        </tr>
                    {% endfor %}
                {% elif (obj.details | length) == 2 %}
                    {% for item in range(2) %}
                        <tr>
                            <td class="col-md-1 decimal">&nbsp;</td>
                            <td class="col-md-1 decimal"></td>
                            <td class="col-md-1 decimal">&nbsp;</td>
                            <td class="col-md-1">&nbsp;</td>
                            <td class="col-md-1 decimal">&nbsp;</td>
                            <td class="col-md-1 decimal">&nbsp;</td>
                        </tr>
                    {% endfor %}
                {% elif(obj.details | length) == 3 %}
                    {% for item in range(1) %}
                        <tr>
                            <td class="col-md-1 decimal">&nbsp;</td>
                            <td class="col-md-1">&nbsp;</td>
                            <td class="col-md-1 decimal"></td>
                            <td class="col-md-1 decimal">&nbsp;</td>
                            <td class="col-md-1 decimal">&nbsp;</td>
                            <td class="col-md-1 decimal">&nbsp;</td>
                        </tr>
                    {% endfor %}
                {% endif %}


                </tbody>
                <tfoot>
                <tr>
                     {% if obj.invoice_type !='10042' %}
                        <th class="col-md-1 text-right" colspan="2">{{ _('Total') }}</th>
                        <th class="col-md-1 text-right">{{ total_land[0] | int }}</th>
                        <th class="col-md-1 text-right">{{ obj.total_area | format_currency() }}</th>
                        <th class="col-md-1 text-right"></th>
                        <th class="col-md-1 text-right">
                            {{ obj.total_amount | format_value }}{{ obj.currency.sign }}</th>
                     {% else  %}
                          <th class="text-left" colspan="2">{{ _('Total') }}</th>
                                 <th class="text-right">
                                {{ obj.total_amount | format_value }}{{ obj.currency.sign }}</th>
                     {% endif %}
                </tr>
                </tfoot>

            </table>

            <div class="header-title">
                <span style="border-bottom:1px solid #000000;">{{ _("Note") }}: </span>
                {% if obj.note!=None %}
                    {% set amount = obj.ext__amount | int %}
                    <span>{{ obj.note }} {{ _("Amount") }}​​
                        {{ amount | abs | format_value }}{{ obj.currency.sign }}</span>
                {% endif %}
            </div>

            <div style="width:100%;padding-bottom:10px;">
                <div style="width:50%;float: left">
                    {% if not obj.ext__amount %}
                            <h4>{{ _("Note") }}</h4>
                        {% endif %}
                        <div style="width: 100%;">
                            <div style="float: left;">
                                <small>{{ current.company().ext__invoice_footer | safe if current.company().ext__invoice_footer else ''  }}</small>
                            </div>
                        </div>
                </div>

                <div style="width:50%;float: left;">
                    <div style="width: 100%;margin-top:0px;text-align: right"><p>
                        _____________________________________</p></div>
                    <div style="width: 100%;text-align: right">
                        <small>ហត្ថលេខា​ និង ឈ្មោះប្រធានប្លុក</small>
                    </div>
                </div>
            </div>

            <div style="width: 100%;">
                <div style="float: right;margin-top: 7px;">
                    <small><b>ទំព័រ {{ loop.index }}</b></small>
                </div>
            </div>
        </div>
        {#        {% if (loop.index % 2 ) != 0%}#}
        {#           <div style="border-bottom: 1px solid #c0c0c0;padding-bottom:10px;"></div>#}
        {#        {% endif %}#}

    {% endfor %}
</div>
